html{
	overflow-y: scroll;
	overflow-x: hidden;
	font-smooth:always;
	font-smoothing:always;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	text-rendering: optimizeSpeed;
}
body{
	overflow: hidden !important;
}

input,select,textarea{
	-webkit-user-select: initial !important;  /* Chrome all / Safari all */
	-moz-user-select: initial !important;     /* Firefox all */
	-ms-user-select: initial !important;      /* IE 10+ */
	-o-user-select: initial !important;
	user-select: initial !important;  
}

body.modal,
body.quickview,
body.modal #root,
body.quickview #root,
body.modal #center,
body.quickview #center,
body.modal #center-middle,
body.quickview #center-middle{
	background: none !important;
	border:none !important;
}

.btn,
.btn-alt,
.variations label,
.sub-variations label{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;  
}

.photo .ui-draggable, .photo .ui-draggable:hover{
	cursor: -moz-grab !important;
	cursor: -webkit-grab !important;
	cursor: grab !important;
}
.photo .ui-draggable-dragging{
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}

#variations .size-box input, #variations .color-box input, #sub-variations .size-box input, #sub-variations .color-box input{
	width: 1px;
    height: 1px;
	position: initial !important;
    top: 0 !important;
    right: 0 !important;
	visibility: initial !important;
	opacity: 0 !important;
}

.flexslider .slides{
	width: 100%;
	overflow: hidden;
	text-align: left !important;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	width: 100%;
	display: none;
	opacity: 0;
}
.flexslider .slides li:first-child,
.flexslider .slides li.first,
.flexslider .started .slides li {
	display: inline-block !important;
	opacity: 1 !important;
}