#filters-selected .legend {
	$component-legend;
}
#filters-selected .title {
	$component-title;
}
#filters-selected .title {
	font-size: 1.2em;
}
#filters-selected .content {
	$component-content;
}
#filters-selected .filter-title{
	display: block;
	padding: 5px 0;
	margin-bottom: 5px;
}
#filters-selected li a{
	float: right;
	font-size: 1.4em;
	text-decoration: none;
}
#filters-selected li a:hover{
	font-size: 1.5em;
}
.filters .filter-wrapper{
	padding: 5px;
}
.filters .filter-list{
	list-style: none;
	position: relative;
}
.filters li.filter,
#filters li.filter{
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}
#filters .filter-preco span{
	overflow: hidden;
	display: block;
}
#filters .filter-preco label{
	display: block;
	padding: 0 3px;
	position: relative;
	line-height: 24px;
}
#filters .filter-preco label input{
	float: right;
	text-align: right;
}
#filters a.btn-alt{
	float:right;
}
#filters a.btn-alt b{
	background: url(/files/_img/layout/btn-alt-background.png) repeat-x left bottom;
	color: inherit;
	text-indent: inherit;
	width: inherit;
}