/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Icon Fonts
*********************************/
/* Font-face Icons 
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/* FlexSlider Necessary Styles
*********************************/

.flexslider {	
	margin: auto;
	padding: auto;
	width: auto;
	text-align:center;
	margin-bottom:5px;
	position: relative;
	zoom: 1;
	overflow: hidden;
  	white-space: nowrap;
}
.flexslider .banner-geral{
	margin-bottom:0;
}
.flexslider .slides > li {
	/*display: none;
	-webkit-backface-visibility: hidden;
	*/
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width:inherit;
	/*width: 100%;
	display: block;*/
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flex-viewport {
	max-height: 2000px;/*
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;*/
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
	height:0;
}
.flex-direction-nav a {
	display: block;
	margin: -15px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999em;
	border-width:15px;
	border-style:solid;
	border-color:transparent;
	/*background:none !important;*/
}
.flex-direction-nav .flex-prev {
	left: -50px;
	border-right-color:rgba(0,0,0,0.7);
}
.flex-direction-nav .flex-next {
	right: -50px;
	text-align: right;
	border-left-color:rgba(0,0,0,0.7);
}
.flexslider:hover .flex-prev {
	opacity: 0.7;
	left: 10px;
}
.flexslider:hover .flex-next {
	opacity: 0.7;
	right: 10px;
}

.vertical .flex-direction-nav .flex-prev,
.vertical .flex-direction-nav .flex-next{
	top:inherit;
	left:50%;
	margin: 0;
	margin-left:-15px;
}

.vertical .flex-direction-nav .flex-prev {
	top: -50px;
	border-right-color:transparent;
	border-bottom-color:rgba(0,0,0,0.7);
}

.vertical:hover .flex-direction-nav .flex-prev {
	top: 5px;
}

.vertical .flex-direction-nav .flex-next {
	bottom: -50px;
	border-left-color:transparent;
	border-top-color:rgba(0,0,0,0.7);
}
.vertical:hover .flex-direction-nav .flex-next {
	bottom: 5px;
}


.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter:alpha(opacity=0);
	cursor: default;
}
/*. flex-direction-nav a:before {
	display: inline-block;
}
.flex-direction-nav a.flex-prev:before {
	border-right: 20px #D8D8D8;
}
.flex-direction-nav a.flex-next:before {
	border-left: 20px #D8D8D8;
}*/
/* Pause/Play */
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play:before {
	content: '\f003';
}
/* Control Nav */
.flex-control-nav {
	width:100%;
	margin:auto;
	display:block;
	position: absolute;
	bottom:5px;
	left:0;
	text-align: center;
	/*opacity: .0;*/
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.msie .flexslider .flex-control-nav {
	left:50%;
}
.msie #right .vertical .flex-control-nav{
	left:inherit;
}
/*.flexslider:hover .flex-control-nav {
	opacity: .7;
}
.flexslider:hover .flex-control-nav:hover {
	opacity: 1;
}*/
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.vertical .flex-control-nav{
	bottom:50%;
	padding:0 5px;
	margin-bottom: -12px;
}
#left .vertical .flex-control-nav{
	left:0px;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-o-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	padding-left:0px;
}
#right .vertical .flex-control-nav{
	right:0px;
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-o-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;	
	padding-right:0px;
}
.vertical .flex-control-nav li{
	display:block;
	margin: 6px 0;
	width:11px;
}
.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 2px #fff;
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 2px #fff;
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 2px #fff;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 2px #fff;
}
.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}
}