.pricepicker {
	display:block;
	width:88%;
	height:25px;
	position:relative;
	overflow: inherit !important;
	top:30px;
}

.pricepicker table {
	width:100%;
	border-collapse:collapse;
	border:0;
}

.pricepicker td,.pricepicker th {
	vertical-align:top;
	text-align:left;
	border:0;
	padding:0;
}

.pricepicker table,.pricepicker table tr,.pricepicker table tr td {
	width:100%;
	vertical-align:top;
}

.pricepicker .pricepicker-bg {
	position:relative;
}

.pricepicker .pricepicker-bg i {
	height:5px;
	position:absolute;
	font-size:0;
	top:0;
}

.pricepicker .pricepicker-bg .l {
	width:10%;
	background-position:0 0;
	left:0;
}

.pricepicker .pricepicker-bg .f {
	width:80%;
	left:10%;
	background-repeat:repeat-x;
	background-position:0 -20px;
}

.pricepicker .pricepicker-bg .r {
	width:10%;
	left:90%;
	background-position:right 0;
}

.pricepicker .pricepicker-bg .v {
	position:absolute;
	width:60%;
	left:20%;
	top:0;
	height:5px;
	background-repeat:repeat-x;
	background-position:0 -40px;
}

.pricepicker .pricepicker-pointer {
	width:13px;
	height:13px;
	background-position:0 -60px;
	position:absolute;
	left:20%;
	top:-4px;
	margin-left:-6px;
	cursor: pointer; 
}

.pricepicker .pricepicker-pointer-hover {
	background-position:-20px -60px;
}

.pricepicker .pricepicker-label {
	font-size:9px;
	line-height:12px;
	color:#000;
	opacity:0.4;
	white-space:nowrap;
	position:absolute;
	top:-18px;
	left:0;
	display:none!important;
	padding:0 2px;
}

.pricepicker .pricepicker-label-to {
	left:auto;
	right:0;
}

.pricepicker .pricepicker-value {
	font-size:11px;
	white-space:nowrap;
	position:absolute;
	top:-28px !important;
	left:20%;
	background:#FFF;
	line-height:12px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding:1px 2px 0;

}

.pricepicker .pricepicker-value span{
	display: inline !important;
}

.pricepicker .pricepicker-label small,.pricepicker .pricepicker-value small {
	position:relative;
	top:-.4em;
}

.pricepicker .pricepicker-scale {
	position:relative;
	top:9px;
}

.pricepicker .pricepicker-scale span {
	position:absolute;
	height:5px;
	border-left:1px solid #999;
	font-size:0;
}

.pricepicker .pricepicker-scale ins {
	font-size:9px;
	text-decoration:none;
	position:absolute;
	left:0;
	top:5px;
	color:#999;
}

.pricepicker-single .pricepicker-pointer-to,.pricepicker-single .pricepicker-value-to,.pricepicker-single .pricepicker-bg .v,.pricepicker-limitless .pricepicker-label {
	display:none;
}

.pricepicker-pointer {
	background-color:#aeaeae!important;
	border-radius:20px;
	border:1px solid #FFF;
}

.pricepicker-pointer-hover {
	box-shadow:inset 0 0 6px rgba(0,0,0,0.2);
}

.pricepicker-bg .l {
background-color:#eee !important;
border:1px solid #eee;
border-right:none;
}

.pricepicker-bg .f {
	background-color:#eee !important;
	border:1px solid #eee;
	border-right:none;
	border-left:none;
}

.pricepicker-bg .r {
	background-color:#eee !important;
	border:1px solid #eee;
	border-left:none;
}

.pricepicker-bg .v {
	background-color: $base-color;
	border:1px solid #ddd;
	border-left:none;
}

.pricepicker .pricepicker-pointer-to,.pricepicker .pricepicker-value-to {
	left:80%;
}

.pricepicker + span {
	margin-top:30px;
}

.pricepicker + span a{
	display: block;
	width: 45px;
	margin: 0 auto;
	float: none !important;
}

.pricepicker + span a b{
	padding: 0;
}