/**	ICONES NA VITRINE **/

ul.products li span.ico-vars.selected{
	background-color: $base-color;
}

ul.products li .variations{
	text-align: center;
}
.mobile ul.products li .variations{
	display: none;
}

ul.products li div.variations{
	overflow: hidden;
	height: 35px;
	width: 100%;
}

ul.products > li .var-ico-wrapper span.size-box,
ul.products > li .var-ico-wrapper span.size-box label{
	width: 100%;
	height: 85%;
	display: block;
}

ul.products > li .var-ico-wrapper span.size-box label{
	line-height: 30px;
}

ul.products > li .var-ico-wrapper span.size-box label [type="radio"]{
	visibility: hidden;
}

ul.products li div.variations *{
	-webkit-user-select: none;
	user-select: none;
}

ul.products li div.variations .var-carousel-btn{
	height: 100%;
	float: left;
	width: 33px;
}

ul.products li div.variations .var-carousel-btn:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	top: 10px;
	left: 9px;
	position: relative;
}

ul.products li div.variations .variations-carousel-prev{
	opacity: 0.2;
	cursor: default;
}

ul.products li div.variations .variations-carousel-next{
	cursor: pointer;
}

ul.products li div.variations .variations-carousel-prev:after{
	border-right-color: #000;
}

ul.products li div.variations .variations-carousel-next:after{
	border-left-color: #000;
}

ul.products li div.variations .var-carousel{
	overflow: hidden;
	width: 115px;
	float: left;
}

ul.products li div.variations .var-carousel .var-scroll{
	overflow: hidden;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul.products li div.variations .var-ico-wrapper{
	width: 40px;
	height: 36px;
	display: inline-block;
}