/*
	KITS DE PRODUTOS
*/

#page-carrinho .kit-itens .session-item-kit{
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #CCC;
}

#page-carrinho .kit-itens .session-item-kit.last{
	border-bottom: 1px dotted #CCC;	
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#page-carrinho .kit-itens .session-item-kit span{
	padding-top: 5px;
	display: block;
}





/*
	PAYPAL
*/

#page-carrinho .paypal-wrapper{
	width: auto;
	float: left;
	display: inline-block;
	margin:0 20px 0 10px;
	padding:0 20px 0 10px;
	border: 1px dotted #e6e6e6;
	border-width: 0 1px 0 1px;
	position: relative;
}
#page-carrinho .paypal-wrapper:after{
	content: 'OU';
	display: inline-block;
	padding: 2px;
	background: #fff;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: -10px;
}

#page-carrinho .paypal-help{
	top: 12px;
	margin-right: 8px;
	position: relative;
	float: left;
}

#page-carrinho .paypal-checkout-btn{
	background: url(img/paypal_checkout.png) no-repeat;
	text-indent: -9999em;
	width: 176px;
	height: 40px;
	padding: 0;
	border: none;
	display: inline-block;
	cursor: pointer;
}

#page-carrinho .paypal-checkout-btn *{
	border: none;
}

#page-carrinho .check-out .contact p{
	padding: 25px 15px !important;
}

.sa_payPal_overlay{
	visibility:visible;
	position:fixed; 
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,0.5); 
	top:0;
	left:0;
	z-index: 999999;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#88ffffff', EndColorStr='#88ffffff');
	display:none;
}

.sa_payPal_overlay div.first{
	background: #FFF;
	background-image: linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);
	background-image: -o-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);
	background-image: -moz-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);
	background-image: -ms-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);
	background-image: -webkit-gradient(linear, left top,left bottom,color-stop(0.45, #FFFFFF),color-stop(0.8, #E9ECEF));
	margin: auto;
	position: fixed;
	margin-left:-220px;
	left:45%;top: 40%;
	text-align: center;
	color: #2F6395;
	font-family: Arial;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
	width: 530px;
	-webkit-box-shadow: 3px 2px 13px rgba(50, 50, 49, 0.25);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 5px;
	border: 1px solid #CFCFCF;
	border-radius: 6px;
}

.sa_payPal_overlay div.first img{
	display:block;
	margin:0 auto 10px;
}

.sa_payPal_overlay div.first p{	
	font-size:13px;
	color: #003171;
	font-weight:400;
}

.sa_payPal_overlay div.last{	
	margin:30px auto 0;
}


/*
	ENTREGA AGENDADA
*/
#page-carrinho select[name="scheduled-delivery-turn-option"]{
	width: 100%;
}
#page-carrinho input#scheduledate{
	width: 100px;
}
#page-carrinho #scheduled-delivery-turn div,
#page-carrinho #scheduled-delivery-date div{
	width:100%;
}
#page-carrinho #middle{
	overflow: inherit !important;
}
#page-carrinho .check-out{
	float: none !important;
}

#scheduled-delivery-date td.last .input-error-global{
	width: auto !important;
	left: auto !important;
	right: 0 !important;
}
#scheduled-delivery-date td.last .input-error-global samp{
	left: auto !important;
	right: 20px !important;
}
#scheduled-delivery-date td.last .input-error-global div{
	width:auto !important;
}



/*
	UP SELL FRETE GRATIS
*/
.fgupsell div{
	padding: 0 !important;
}

.fgupsell label{
	cursor: default !important;
}

#fgupsell-wrapper{
	width: 300px;
	height: 25px;
	position: absolute;
	top: 20px;
	right:100px;
	color: $base-color2;
}

#fgupsell-wrapper span{
	text-align: center;
	display: block;
	z-index: 1;
	position: absolute;
	top: -20px;
	font-size: 11px;
	min-height: inherit;
	width: 100%;
	background: none;
	box-shadow: none;
}

#fgupsell-wrapper span em{
	display: inline;
	font-size: 12px;
	background-color: inherit;
	padding-right: 0 !important;
	font-weight: bold;
	color: $base-color;
}
#fgupsell-wrapper span b{
	font-weight: bold;
	font-size: 12px;
}

#fgupsell-wrapper .bar{
	margin:10px auto;
}

#fgupsell-wrapper .amount-bar{
	height: 5px;
	overflow: hidden;
}

#fgupsell-wrapper .amount-bar .bar-filler{
	height:100%;
	margin: 0;
	padding:0;
}

#fgupsell-wrapper .amount-bar .fill{
	background-color: $base-color;
	float: left !important;
	width: 0%;
}

#fgupsell-wrapper .amount-bar .pointer{
	position: absolute;
	height: 11px;
	width: 11px;
	border: 1px solid #fff;
	border-radius: 100%;
	background: #000;
	top: 6px;
}

#fgupsell-wrapper .amount-bar .empty{
	background-color: #F0F0F0;
	float: right !important;
	width: 100%;
}

#fgupsell-wrapper .bar span.initial{
	top: 8px;
	font-size: 9px;
	text-align: right;
}


#page-popup-simular-frete td.fgupsell{
	position: relative
}

#page-popup-simular-frete #fgupsell-wrapper{
	top: 10px;
	left: 5px;
}

#page-popup-simular-frete #fgupsell-wrapper span{
	top: -7px;
}

#page-popup-simular-frete #fgupsell-wrapper span.initial{
	top: 17px;
}

/*
	EZ RECORRENTE
*/

#page-carrinho .recurrence select{
	width: 100%
}

#page-carrinho .send-btn div.input-error-global{
	background-image: none;
	right: 0;
	left: auto;
	white-space: nowrap;
}
#page-carrinho .send-btn div.input-error-global .input-error{
	background-image: none;
	padding: 10px !important;
}
#page-carrinho .send-btn div.input-error-global span.close-error{
	display: inline;
  	margin-left: 0;
  	text-decoration: underline;
}
#page-carrinho .send-btn div.input-error-global samp{
	left: auto;
  	right: 7px;
	transform: scaleX(-1)
}