#page-produtos input.shipping-cep{
	width: 85px;
	height: 27px;
	position: relative;
	margin-right: -4px;
	z-index: 0;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	text-indent: 4px;
}
#page-produtos input.shipping-cep:hover,#page-produtos input.shipping-cep:focus{
	border-color: #CCC;
}

#interactivity a#shipping.btn-alt{
	position: relative;
	z-index: 1
}

#product-social-networks ul li{
	display:inline-block;
	padding:10px 5px 0 0;
	vertical-align:middle;
	width:90px;
}
#product-social-networks ul li.facebook{
	width: 180px;
}
#product-social-networks ul li div.fb-like{
	height: 20px;
	overflow:hidden;
}

#product-social-networks ul li.plusone, #product-social-networks ul li.pinterest {
	width:70px;
}

#product-social-networks ul li a{
	float:none;
	padding:0;
	border:none;
	-webkit-border-radius: initial !important;
	-moz-border-radius: initial !important;
	border-radius: initial !important;
}

#ez-zoom-big{
	background-repeat:no-repeat; 
}

#page-popup-comentario .rate-this-product{
	position: relative;
}
#page-popup-comentario .rate-this-product label input{
	display: inline-block !important;
}
#page-popup-comentario .rate-this-product .input-error-global{
	top: -37px !important;
	left: 0 !important;
}