#page-produtos.product-quickview #center{
	margin: 0 !important;
}

#page-produtos.product-quickview .return-wrapper .message{
	font-size: 14px;
	text-align: center;
	margin: 10px;
}

#page-produtos.product-quickview .button-wrapper{
	clear: both;
	padding: 2px;
}

#page-produtos.product-quickview .button-wrapper label{
	margin:20px;
	display: block;
}

#page-produtos.product-quickview .button-wrapper label.close-btn{
	float: left;
	padding-top: 6px;
}

#page-produtos.product-quickview .button-wrapper label.go-btn{
	float: right;
}

#page-produtos.product-quickview .button-wrapper label a{
	width: 140px;
}

#page-produtos.product-quickview .button-wrapper label.close-btn a{
	padding: 4px;
	background: #BBBBBB;
	color: $base-color;
}

#page-produtos.product-quickview .button-wrapper label.close-btn a:hover{
	padding: 4px;
	background: #CCCCCC;
	color: $base-color;
}

#page-produtos.product-quickview .button-wrapper label.go-btn a{
	padding: 10px;
}

#page-produtos.product-quickview .media-actions{
	display:none !important;
}

#page-produtos.product-quickview .purchase-info{
	border-radius: 7px;
}

ul.products li .buttons .details-quickview {
	display: none;
}

#page-produtos.product-quickview #quickview-msg-cart{
	display: none;
	clear: both;
	position: relative;
	height: 120px;
}