#page-painel-meus-pedidos-visualizar .serial-code-title{
	display: block;
	margin-top: 14px;
}

#page-painel-meus-pedidos-visualizar .serial-code-list{
	list-style: none;
}

#page-painel-meus-pedidos-visualizar .serial-code-list{
	display: block;
	margin-top: 6px;
}
