#page-popup-simular-frete span.quantity{
	display: inline-block;
	height: 20px;
	line-height: 21px;
	vertical-align: middle;
	margin: 0 5px;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
#page-popup-simular-frete .component .header{
	display: none;
}

#page-popup-simular-frete input[name="cep"],
#page-popup-simular-frete input[name="quantidade"]{
	width:auto !important;
	display: inline-block !important;
}

#page-popup-simular-frete input[name="quantidade"]{
	text-align: center;
	width: 26px !important;
}

#page-popup-simular-frete label *{
	-webkit-user-select: none;
	user-select: none;
}

#page-popup-simular-frete label[for="cep"]{
	float: left;
}

#page-popup-simular-frete label[for="quantidade"]{
	float: left;
	padding: 2px 8px;
}

#page-popup-simular-frete label[for="submit"]{
	float: left;
}

#page-popup-simular-frete .loading{
	display: block;
	margin: 50px 0 0 0;
	clear: both;
	background: url(/FILES/_IMG/loading.gif) no-repeat left center;
	line-height: 16px;
	vertical-align: middle;
	padding: 0 20px;
}



#page-popup-simular-frete #simulate-product-details{
	overflow: hidden;
}

#page-popup-simular-frete .product-image{
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
}

#page-popup-simular-frete .product-info{
	left: 10px;
	position: relative;
	margin-bottom: 10px;
}

#page-popup-simular-frete .product-info .product-name{
	margin-bottom: 10px;
}

#page-popup-simular-frete #freight-form{
	left: 10px;
	position: relative;
	top: 10px;
	padding-right: 10px;
}

#page-popup-simular-frete #freights-options{
	clear: both;
	margin-top: 28px;
}

#page-popup-simular-frete #freights-table{
	border:1px solid #E6E6E6;
	margin-top:10px;
}

#page-popup-simular-frete #freights-table td.td-image{
	padding:4px;
	border:1px solid #E6E6E6;
	border-right:none;
	border-collapse:collapse;
}

#page-popup-simular-frete #freights-table td.td-amount{
	padding:4px;
	border:1px solid #E6E6E6;
	border-left:none;
	border-collapse:collapse;
	border-right:none;
}

#page-popup-simular-frete #freights-table td.td-time{
	padding:4px;
	border:1px solid #E6E6E6;
	border-collapse:collapse;
}

#page-popup-simular-frete #freights-table td.td-time .objETA{
	display: block;
}

#page-popup-simular-frete #freights-table td.td-image table.no-img-table{
	background-image:url(FILES/_ENTREGAS/fe_fundo.gif);
	background-repeat:no-repeat;
	color:#003e85;
	text-transform:uppercase;
	font-size:10px;
	line-height:11px;
}

#page-popup-simular-frete #freights-table td.head-title{
	background-color:#F4F4F4;
	padding:4px;
	border:1px solid #E6E6E6;
	border-collapse:collapse;
}

#page-popup-simular-frete #freights-options #btn-buy{
	margin-top: 5px;
}