.grid-price-variation-subvariation .price .save{
	display:none;
}

.grid-price-variation-subvariation .variations-header,
.grid-price-variation-subvariation .variation{
	overflow:hidden;
	margin-bottom:10px;
	border-bottom: 1px solid #ccc;
}
.grid-price-variation-subvariation .variations-header{
	overflow: initial;
	height: 40px;
}
.grid-price-variation-subvariation .variation{
	border-bottom-style: dotted; 
}
.grid-price-variation-subvariation a.next,
.grid-price-variation-subvariation a.prev{
	display:none !important;
}
.grid-price-variation-subvariation .variation .variation-title{
	float:left;
	width:60px;
	max-height:120px;
	margin-right:10px;
}
.grid-price-variation-subvariation .variation .variation-title img{
	max-width:100%;
	max-height:100%;
	margin-top: 5px;
}

.grid-price-variation-subvariation .subvariations-controls,
.grid-price-variation-subvariation .variation .subvariations-grid{
	width:auto;
	margin:0 80px 0 80px;
}
.grid-price-variation-subvariation .carousel-wrapper{
	width: 100%;
	overflow: hidden;
}
.grid-price-variation-subvariation .carousel-wrapper ul{
	width: 100%;
}
.grid-price-variation-subvariation .carousel-wrapper li{
	width: 24.5%;
	text-align: center;
	margin-right: 0 !important;
	vertical-align: middle;
	position: relative;
	overflow: initial !important;
}
.grid-price-variation-subvariation .subvariations-controls .carousel-wrapper{
		height: 40px;
}
.grid-price-variation-subvariation ul{
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;
}
.grid-price-variation-subvariation ul li{
	display: inline-block;
}
.grid-price-variation-subvariation .subvariations-controls .carousel-wrapper li:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -16px;
	width: 1px;
	left: 50%;
	margin-left: -5px;
	border: 5px solid transparent;
	border-top-color: #ccc;
	border-bottom: none;
}
.grid-price-variation-subvariation .variation .carousel-wrapper{
	padding-top: 15px;
}
.grid-price-variation-subvariation .variation .carousel-wrapper li{
	line-height: 70px;	
}
.grid-price-variation-subvariation .variation .carousel-wrapper li.sold-out-box:after{
	content: 'x';
	display: block;
	position: absolute;
	top: 15px;
	color: red;
	font-weight: bold;
	line-height: normal;
	right: 50%;
	font-size: 14px;
	margin-right: -23px;
	font-family: monospace;
	text-shadow: 0 0 1px #fff;
}
.grid-price-variation-subvariation .carousel-wrapper li input{
	display: inline-block;
	margin: auto;
}
.grid-price-variation-subvariation .carousel-wrapper li input.sold-out-box{
	opacity: 0.7;
	background-color:#f5f5f5
}
.grid-price-variation-subvariation .subtotal-title,
.grid-price-variation-subvariation .variation .variation-subtotal{
	float:right;
	width:70px;
	padding: 10px 0;
	line-height: 20px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}
.grid-price-variation-subvariation .variation .variation-subtotal{
	line-height: 70px;
}

.grid-price-variation-subvariation .subvariations-controls{
	margin-top: 10px;
	padding:10px 0;
	position:relative;
	font-weight:bold;
	line-height: 20px;
	vertical-align: middle;
}
.grid-price-variation-subvariation .subvariations-controls  a{
	position:absolute;
	left:-10px;
	text-indent: -9999px;
	border:10px solid transparent;
	border-right-color:#666;
	border-left-width: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	transition:opacity ease 0.2s;
}
.grid-price-variation-subvariation .subvariations-controls  a.next-nav{
	right:-10px;
	left:auto;
	top:10px;
	border:10px solid transparent;
	border-left-color:#666;
	border-right-width: 0;
}
.grid-price-variation-subvariation .subvariations-controls  a.disabled{
	opacity: 0.5;
}
.grid-price-variation-subvariation .variations-footer{
	overflow: hidden;
	margin-bottom: 20px;
}
.grid-price-variation-subvariation .variations-footer .variations-total-title{
	font-weight: bold;
}
.grid-price-variation-subvariation .variations-footer .variations-total{
	float: right;
	width: 100%;
	font-weight: bold;
}