/*
	STELO LOGIN
*/

.login-with-stelo{
	text-align: center;
	clear: both;
}

.login-with-stelo a{
	display: inline-block;
    background-color: transparent;
    background-image: url(img/stelo-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 65px;
    border: none;
    margin: 0 auto;
    height: 40px;
}

.login-with-stelo p{
	display:block;
	position:relative;
	top:5px;
	bottom:5px;
	margin: 10px auto;
	text-align: center;
}

/*
	FACEBOOK LOGIN
*/

.login-with-facebook a{
	display: inline-block;
	background-color: #354c8c;
	background-image: url('IMG/facebook_logo.png');
	background-position: 3px center;
	background-repeat: no-repeat;
	width: auto;
	padding: 3px 5px 3px 27px !important;
	color: #EEE;
	border:none;
	margin: 0 auto;
}

.login-with-facebook{
	text-align: center;
	clear: both;
}

.login-with-facebook p{
	display:block;
	position:relative;
	top:5px;
	bottom:5px;
	margin: 10px auto;
	text-align: center;
}


/*
	PAINEL AUTENTICACAO
*/
input#cryptosenha, input#email{
	background-image: url('/FILES/_IMG/loading.gif') !important;
	background-repeat: no-repeat !important;
	background-position: 999px center !important;
	transition: all 1s ease 0;
}

input#cryptosenha.show-loading, input#email.show-loading{
	background-position: right center !important;	
	transition: all 1s ease 0;
}


/*
	PAINEL CADASTRO / ALTERACAO DADOS CADASTRAIS
*/

#page-painel-cadastro #form-register .continue span.loader,
#page-painel-dados-cadastrais #form-register .form-submit-button span.loader{
	display:none;
	float: right;
	margin-right: 20px;
	font-size: 14px;
}


#page-painel-cadastro #form-register .continue span.loader img,
#page-painel-dados-cadastrais #form-register .form-submit-button span.loader img{
	position: relative;
	top: 1px;
}

#page-painel-cadastro #form-register .continue span.loader em,
#page-painel-dados-cadastrais #form-register .form-submit-button span.loader em{
	line-height: 35px;
	vertical-align: 2px;
}