#page-painel-meus-pedidos-visualizar .downloadable-instructions,
#page-painel-meus-pedidos-visualizar .product-download-link,
#page-painel-meus-pedidos-visualizar .product-download-message,
#page-painel-meus-pedidos-visualizar .serial-code-title{
	display: block;
	margin-top: 6px;
	border-top: 1px dotted #CCC;
	padding-top: 6px;
}

#page-painel-meus-pedidos-visualizar .downloadable-instructions{
	margin-bottom: 6px;
}

#page-painel-meus-pedidos-visualizar .product-download-limit{
	display: block;
	margin-top: 6px;
}