#system-message{
	position: fixed;
	width: 400px;
	left: 0;
	right: 0;
	top: 25%;
	margin: 0 auto;
	background-color: #CDCDCD;
	z-index: 999;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
	border: 2px solid #CDCDCD;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 4px;
}

#system-message *{	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
}

#system-message .title-wrapper{
	border-bottom: #DEDEDE 1px dotted;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	background-color: #FFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
}

#system-message .message-wrapper{
	background-color: #FFF;
	padding: 12px;
	min-height: 130px;
	font-size: 12px;
	line-height: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-bottom: 55px;
	overflow: hidden;
	text-align: justify;
}

#system-message .message-wrapper ul{
	margin-left: 10px;
	margin-right: 50px;
	list-style: none;
}

#system-message .message-wrapper .close-message{
	position: absolute;
	bottom: 12px;
	margin: 0 auto;
	right: 0;
	left: 0;
	width: 100px;
}

#system-message .close-icon{
	display: block;
	position: absolute;
	width: 19px;
	height: 18px;
	top: 10px;
	right: 10px;
	background: url(/FILES/_IMG/DESIGN/bt_fechar.gif) 19px 0px;
	cursor: pointer;
}

#system-message-overlay{	
	background-color: #FFFFFF;
	z-index: 995;
	opacity: 0.75;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	user-select: none;
}