ul.component-group-tabs{
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}
ul.component-group-tabs li{
	display: inline-block;;
	margin-right: 5px;
	padding: 10px;
	border: 1px solid transparent;
	border-bottom-width: 2px; 
	border-radius: 4px 4px 0 0;
	position: relative;
	bottom: -2px;
	opacity: 0.8;
	transition:all ease 0.3s;
	cursor: pointer;
}
ul.component-group-tabs li.current{
	border: 1px solid #ccc;
	border-bottom-color: #fff; 
	opacity: 1;
	cursor: default;
	background: #fff;
}