ul.products > li span.photo-progress{
	position: absolute;
	bottom: 2px;
	z-index: 999;
	left: 0;
	right: 0;
	display: block;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0.4;
	box-shadow: none;
	-webkit-transition:	height 0.3s ease;
	transition:	height 0.3s ease;
}

ul.products > li span.photo-progress.set-height{	
	height: 2px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
	-webkit-transition:	height 0.3s ease;
	transition:	height 0.3s ease;
}

ul.products > li span.photo-changer-wrapper{
	display: inline-block;
	position: relative;
}

ul.products > li span.photo-changer-wrapper .loading-photo{
	background: url('/FILES/_IMG/loading.gif');
	width:16px;
	height:16px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo{
	opacity: 0;
	display: none;
	position: absolute;
	height: 100%;
	width: 20px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo span{
	position: absolute;
	top: 46%;
	height: 0;
	width: 0;
	border: solid 8px transparent;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo.btn-prev{
	left: -30px;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo.btn-next{
	right: -30px;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

ul.products > li span.photo-changer-wrapper:hover span.btn-change-photo.btn-prev{
	left: 0;
	opacity: 0.4;
}

ul.products > li span.photo-changer-wrapper:hover span.btn-change-photo.btn-next{
	right: 0;
	opacity: 0.4;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo.over{
	opacity: 1 !important;
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo.btn-prev span{
	left: 0;
	border-right-color: rgba(0, 0, 0, 1);
}

ul.products > li span.photo-changer-wrapper span.btn-change-photo.btn-next span{
	right: 0;
	border-left-color: rgba(0, 0, 0, 1);
}