#page-servicosadicionais-opcoes #middle *,
#page-servicosadicionais-opcoes #middle *::before,
#page-servicosadicionais-opcoes #middle *::after {
	box-sizing: border-box;
}

#page-servicosadicionais-opcoes .col,
#page-servicosadicionais-opcoes .col-1,
#page-servicosadicionais-opcoes .col-10,
#page-servicosadicionais-opcoes .col-11,
#page-servicosadicionais-opcoes .col-12,
#page-servicosadicionais-opcoes .col-2,
#page-servicosadicionais-opcoes .col-3,
#page-servicosadicionais-opcoes .col-4,
#page-servicosadicionais-opcoes .col-5,
#page-servicosadicionais-opcoes .col-6,
#page-servicosadicionais-opcoes .col-7,
#page-servicosadicionais-opcoes .col-8,
#page-servicosadicionais-opcoes .col-9,
#page-servicosadicionais-opcoes .col-auto,
#page-servicosadicionais-opcoes .col-lg,
#page-servicosadicionais-opcoes .col-lg-1,
#page-servicosadicionais-opcoes .col-lg-10,
#page-servicosadicionais-opcoes .col-lg-11,
#page-servicosadicionais-opcoes .col-lg-12,
#page-servicosadicionais-opcoes .col-lg-2,
#page-servicosadicionais-opcoes .col-lg-3,
#page-servicosadicionais-opcoes .col-lg-4,
#page-servicosadicionais-opcoes .col-lg-5,
#page-servicosadicionais-opcoes .col-lg-6,
#page-servicosadicionais-opcoes .col-lg-7,
#page-servicosadicionais-opcoes .col-lg-8,
#page-servicosadicionais-opcoes .col-lg-9,
#page-servicosadicionais-opcoes .col-lg-auto,
#page-servicosadicionais-opcoes .col-md,
#page-servicosadicionais-opcoes .col-md-1,
#page-servicosadicionais-opcoes .col-md-10,
#page-servicosadicionais-opcoes .col-md-11,
#page-servicosadicionais-opcoes .col-md-12,
#page-servicosadicionais-opcoes .col-md-2,
#page-servicosadicionais-opcoes .col-md-3,
#page-servicosadicionais-opcoes .col-md-4,
#page-servicosadicionais-opcoes .col-md-5,
#page-servicosadicionais-opcoes .col-md-6,
#page-servicosadicionais-opcoes .col-md-7,
#page-servicosadicionais-opcoes .col-md-8,
#page-servicosadicionais-opcoes .col-md-9,
#page-servicosadicionais-opcoes .col-md-auto,
#page-servicosadicionais-opcoes .col-sm,
#page-servicosadicionais-opcoes .col-sm-1,
#page-servicosadicionais-opcoes .col-sm-10,
#page-servicosadicionais-opcoes .col-sm-11,
#page-servicosadicionais-opcoes .col-sm-12,
#page-servicosadicionais-opcoes .col-sm-2,
#page-servicosadicionais-opcoes .col-sm-3,
#page-servicosadicionais-opcoes .col-sm-4,
#page-servicosadicionais-opcoes .col-sm-5,
#page-servicosadicionais-opcoes .col-sm-6,
#page-servicosadicionais-opcoes .col-sm-7,
#page-servicosadicionais-opcoes .col-sm-8,
#page-servicosadicionais-opcoes .col-sm-9,
#page-servicosadicionais-opcoes .col-sm-auto,
#page-servicosadicionais-opcoes .col-xl,
#page-servicosadicionais-opcoes .col-xl-1,
#page-servicosadicionais-opcoes .col-xl-10,
#page-servicosadicionais-opcoes .col-xl-11,
#page-servicosadicionais-opcoes .col-xl-12,
#page-servicosadicionais-opcoes .col-xl-2,
#page-servicosadicionais-opcoes .col-xl-3,
#page-servicosadicionais-opcoes .col-xl-4,
#page-servicosadicionais-opcoes .col-xl-5,
#page-servicosadicionais-opcoes .col-xl-6,
#page-servicosadicionais-opcoes .col-xl-7,
#page-servicosadicionais-opcoes .col-xl-8,
#page-servicosadicionais-opcoes .col-xl-9,
#page-servicosadicionais-opcoes .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

#page-servicosadicionais-opcoes .d-md-none {
	/*display: none !important;*/
}

#page-servicosadicionais-opcoes .d-none {
	display: none !important;
}

#page-servicosadicionais-opcoes .mb-3,
#page-servicosadicionais-opcoes .my-3 {
	margin-bottom: 1rem !important;
}

#page-servicosadicionais-opcoes .mt-4,
#page-servicosadicionais-opcoes .my-4 {
	margin-top: 1.5rem !important;
}

#page-servicosadicionais-opcoes .d-flex {
	display: -ms-flexbox !important;
	display: flex !important;
}

#page-servicosadicionais-opcoes .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

#page-servicosadicionais-opcoes .row,
#page-servicosadicionais-opcoes .field,
#page-servicosadicionais-opcoes .inline-field {
	display: block;
	position: relative;
}

#page-servicosadicionais-opcoes h2,
#page-servicosadicionais-opcoes .panel-header,
#page-servicosadicionais-opcoes .wd-browsing-product-carousel.wd-widget .wd-header,
#page-servicosadicionais-opcoes .wd-product-list.wd-widget .wd-header,
#page-servicosadicionais-opcoes .wd-product-reviews .wd-product-reviews-list .wd-header,
#page-servicosadicionais-opcoes .authentication-modal .wd-profile-login h2,
#page-servicosadicionais-opcoes .authentication-modal .register h2,
#page-servicosadicionais-opcoes .page-login .wd-profile-login h2,
#page-servicosadicionais-opcoes .page-login .register h2,
#page-servicosadicionais-opcoes .wd-checkout-onepage section.step.step-1 .wd-profile-register .wd-header .wd-title,
#page-servicosadicionais-opcoes .wd-checkout-onepage section.step.step-2 .module-delivery-addresses strong,
#page-servicosadicionais-opcoes .wd-checkout-onepage section.step.step-2 .module-delivery-services strong,
#page-servicosadicionais-opcoes .wd-checkout-onepage section.step.step-3 dt,
#page-servicosadicionais-opcoes .OneStepCheckoutReceiptStep .wd-checkout-ordersummary .wd-header,
#page-servicosadicionais-opcoes .area-profile section#middle .wd-profile-panelmenu.wd-widget .wd-header,
#page-servicosadicionais-opcoes .area-profile section#middle .wd-widget .wd-header,
#page-servicosadicionais-opcoes .themodal-overlay .wd-header,
#page-servicosadicionais-opcoes #cboxLoadedContent .wd-header,
#page-servicosadicionais-opcoes .acesso-rapido .wd-header,
#page-servicosadicionais-opcoes .categorias-destaque .wd-header {
	font-size: 1.625rem;
	font-weight: normal;
}

#page-servicosadicionais-opcoes #content .btn {
	border: none;
}


@media (min-width: 768px){
	#page-servicosadicionais-opcoes .d-md-flex {
		display: -ms-flexbox!important;
		display: flex!important;
	}
	#page-servicosadicionais-opcoes .offset-md-3 {
		margin-left: 25%;
	}
	#page-servicosadicionais-opcoes .col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}	
	#page-servicosadicionais-opcoes .col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	#page-servicosadicionais-opcoes .col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	#page-servicosadicionais-opcoes .d-md-none {
		display: none!important;
	}
}


#page-servicosadicionais-opcoes dl,
#page-servicosadicionais-opcoes ol,
#page-servicosadicionais-opcoes ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

#page-servicosadicionais-opcoes input[type=checkbox],
#page-servicosadicionais-opcoes input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

#page-servicosadicionais-opcoes [role=button],
#page-servicosadicionais-opcoes a,
#page-servicosadicionais-opcoes area,
#page-servicosadicionais-opcoes button,
#page-servicosadicionais-opcoes input:not([type=range]),
#page-servicosadicionais-opcoes label,
#page-servicosadicionais-opcoes select,
#page-servicosadicionais-opcoes summary,
#page-servicosadicionais-opcoes textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

#page-servicosadicionais-opcoes .form-check-input {
	position: absolute;
	margin-top: .25rem;
	margin-left: -1.25rem;
}

#page-servicosadicionais-opcoes #content {
	position: relative;
	z-index: 1;
	float: left;
	width: 100%;
	min-height: 1em;
	overflow: hidden;
	font-size: 14px;
}

#page-servicosadicionais-opcoes #content small{
	line-height: 1.4em;
}

#page-servicosadicionais-opcoes #middle {
	position: relative;
	overflow: visible;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	min-width: 0;
}

#page-servicosadicionais-opcoes .mobile #middle{
	overflow: auto;
}

#page-servicosadicionais-opcoes .container {
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

#page-servicosadicionais-opcoes #content hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	display: block;
}

#page-servicosadicionais-opcoes #content hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
	display: block;
}


#page-servicosadicionais-opcoes #content button {
	outline: none;
	background-color: #0A7ACA;
	color: #FFF;
	border: none;
	border-radius: 2px;
	position: relative;
	padding: 1em 2em;
	line-height: 1em;
	display: inline-block;
	font-size: 0.875rem;
	cursor: pointer;
	font-weight: normal;
	text-align: center;
	-webkit-transition: all 0.18s cubic-bezier(0.11,0.96,0.78,1);
	-moz-transition: all 0.18s cubic-bezier(0.11,0.96,0.78,1);
	transition: all 0.18s cubic-bezier(0.11,0.96,0.78,1);
	border-bottom: none;
	border-bottom-color: #096eb6;
	width: 100%;
}

#page-servicosadicionais-opcoes #content .col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}


#page-servicosadicionais-opcoes .badge {
	background: #FFF;
	color: #0A7ACA;
	font-size: 0.6rem;
	padding: 0 0.6em;
	margin: 0 0.4em;
	border-radius: 4px;
	text-shadow: none;
	text-align: center;
	min-width: 1.6em;
	display: block;
	float: left;
	line-height: 1.6em;
	white-space: nowrap;
}

#page-servicosadicionais-opcoes .badge {
	background: #777777;
	color: #FFF;
	font-size: 0.6875rem;
	padding: 0.2em 0.6em;
	margin: 0;
	border-radius: 4px;
	text-shadow: none;
	text-align: center;
	display: inline-block;
	line-height: 1.6em;
	white-space: nowrap;
	text-transform: uppercase;
}

#page-servicosadicionais-opcoes .badge {
	margin-right: 8px;
	margin-bottom: 3px;
}

#page-servicosadicionais-opcoes .badge {
	border-radius: 2px;
}

#page-servicosadicionais-opcoes #content small {
	font-size: 0.75rem;
	color: #555555;
	line-height: 1em;
}

#page-servicosadicionais-opcoes #content #botao-continuar hr{
	margin-bottom: 24px;
	margin-top: 8px;
}

#page-servicosadicionais-opcoes #sb-player.html{
	padding-left: 24px;
	padding-right: 26px;
}

#page-servicosadicionais-opcoes #sb-player.html small,
#page-servicosadicionais-opcoes #sb-player.html small * {
	font-size: 10px !important;
}

	
/*
	Breadcrumb
*/

#page-servicosadicionais-opcoes .breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #e9ecef;
	border-radius: .25rem;
}

#page-servicosadicionais-opcoes .breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	padding-left: .5rem;
	color: #868e96;
	content: "/";
}
#page-servicosadicionais-opcoes .breadcrumb {
	background: 0 0;
	padding: .75rem 0;
}


#page-servicosadicionais-opcoes #content a {
	text-decoration: none;
	color: #096eb6;
	outline: none;
}

#page-servicosadicionais-opcoes #content a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

#page-servicosadicionais-opcoes #content a:hover{
	text-decoration: underline;
}

#page-servicosadicionais-opcoes #content a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}

#page-servicosadicionais-opcoes #content .product-service-wrap {
	clear: both
}



	
/*
	Product
*/

#page-servicosadicionais-opcoes #content .mr-3,
#page-servicosadicionais-opcoes .mx-3 {
	margin-right: 1rem!important;
}

#page-servicosadicionais-opcoes #content .media-body {
	-ms-flex: 1;
	flex: 1;
}

#page-servicosadicionais-opcoes #content .media {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}

#page-servicosadicionais-opcoes #content .mb-0,
#page-servicosadicionais-opcoes .my-0 {
	margin-bottom: 0!important;
}

#page-servicosadicionais-opcoes #content p {
	font-size: 0.875rem;
	color: #555555;
	margin: 0.55em 0;
}

#page-servicosadicionais-opcoes #content .product-price{
	font-size: 0.85em;
	font-weight: normal !important;
	font-variant: none !important;
	font-style: normal !important;
}

#page-servicosadicionais-opcoes #content .product-price * {
	font-size: inherit !important;
	font-weight: normal !important;
	font-variant: none !important;
	font-style: normal !important;
}

#page-servicosadicionais-opcoes #content .service-offer:last-child hr {
	display: none !important;
}

#page-servicosadicionais-opcoes .row::after,
#page-servicosadicionais-opcoes .field::after,
#page-servicosadicionais-opcoes .inline-field::after {
	clear: both;
	content: "";
	display: table;
}



/*
	Service
*/

#page-servicosadicionais-opcoes #content .small,
#page-servicosadicionais-opcoes #content small {
	line-height: 1.4em;
}

#page-servicosadicionais-opcoes #content h2 small {
	font-size: .8em;
}

#page-servicosadicionais-opcoes .free-price {
	color: #28a745;
	font-weight: bold;
	font-size: 0.9rem;
}

/*
	Variations
*/

#page-servicosadicionais-opcoes .h-100 {
	height: 100%!important;
}

#page-servicosadicionais-opcoes .card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

#page-servicosadicionais-opcoes .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
	border-left: 2px solid transparent;
}

#page-servicosadicionais-opcoes .card-body.active {
	border-left: 2px solid #0A7ACA;
	background: #f8f8f8;
}

#page-servicosadicionais-opcoes .form-check {
	position: relative;
	display: block;
	margin-bottom: .5rem;
}

#page-servicosadicionais-opcoes #content .radio-lg .form-check-label {
	font-size: 1.2rem;
	cursor: pointer;
	line-height: 1.2em;
	padding-left: 1.4em;
	color: #333;
	display: inline-block;
}

#page-servicosadicionais-opcoes #content .radio-lg .form-check-label .form-check-input {
	position: absolute;
	left: 20px;
	top: -2px;
}

#page-servicosadicionais-opcoes #content .radio-lg .form-check-label > span{
	display: block;
}

#page-servicosadicionais-opcoes #content .radio-lg .form-check-label span.variation-price {
	font-weight: 400;
	font-size: .8em;
	color: #777;
	margin-right: 4px;
	float: left;
}

#page-servicosadicionais-opcoes #content .variation-details-text{
	display: none;
	margin: 0.55em 0;
	font-size: 14px !important;
}

#page-servicosadicionais-opcoes #content .variation-details-text *{
	font-size: 14px !important;
}

#page-servicosadicionais-opcoes #content .variation-details-label{
	display:none;
	font-size: 14px;
}

#page-servicosadicionais-opcoes #content .variation-name{
	margin-bottom: 4px;
	display: inline-block;
}

#page-servicosadicionais-opcoes #content .recommended{
	display: none;
	left: 5px;
}