a {
	color: #color-main#;
}

.btn.btn-text,
.navigator-sub-items a.btn-text.veja-mais,
button.btn-text {
	color: #color-main#;
}

.btn.btn-text:hover,
.navigator-sub-items a.btn-text.veja-mais:hover,
button.btn-text:hover {
	color: #color-main#;
}

.btn-link {
	background-color: #color-main#;
	/*border-bottom-color: <%=ColorHighlighted%>;*/
}

.btn-link.btn-text {
	/*color: <%=ColorHighlighted%>*/
}


.btn-link.btn-text:hover,
.btn-link.btn-text:focus,
.btn-link.btn-text.btn-hover,
.btn-link.btn-text.btn-focus {
	color: #color-main#
}

.btn-link.btn-outline {
	/*color: <%=ColorHighlighted%>;*/
	border-color: #color-main#
}

.btn-link.btn-outline:hover,
.btn-link.btn-outline:focus,
.btn-link.btn-outline.btn-hover,
.btn-link.btn-outline.btn-focus {
	color: #color-main#
}

.btn-link .badge {
	color: #color-main#
}

.btn-outline {
	color: #color-main#
}

.btn-outline .badge {
	background: #color-main#
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline.btn-hover,
.btn-outline.btn-focus {
	color: #color-main#
}

.btn-outline:active,
.btn-outline.btn-active {
	color: #color-main#
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select:focus {
	border-color: #color-main#
}

.inline-input .suffix.link,
.inline-input .suffix.helper,
.inline-input .helper.append,
.inline-input .link.append {
	color: #color-main#
}

.navigator-primary-hover:hover,
.navigator-primary-item:hover {
	background: #color-main#
}

.navigator-sub-items {
	/*border-top-color: <%=ColorHighlighted%>;*/
}

.navigator-sub-items a:hover {
	color: #color-main#
}

.panel-outhead .panel-header {
	/*border-bottom-color: <%=ColorHighlighted%>*/
}

.label-info {
	background: #color-main#;
	/*border-bottom: <%=ColorHighlighted%>*/
}

@media screen and (min-width: 0) and (max-width: 640px) {
	.basket-data table tbody td.quant {
		background-color: #color-main#;
	}
}

#summary .safe-message {
	color: #color-main#
}

.checkout-step .method-options .btn-default,
.checkout-step .payment-tabs .payment-selector li.active .btn-default,
.checkout-step .payment-tabs .payment-selector .delivery .steps-bar li.one .btn-default,
.delivery .steps-bar .checkout-step .payment-tabs .payment-selector li.one .btn-default,
.checkout-step .payment-tabs .payment-selector .payment .steps-bar li.one .btn-default,
.payment .steps-bar .checkout-step .payment-tabs .payment-selector li.one .btn-default,
.checkout-step .payment-tabs .payment-selector .payment .steps-bar li.two .btn-default,
.payment .steps-bar .checkout-step .payment-tabs .payment-selector li.two .btn-default,
.checkout-step .method-options .btn-outline,
.checkout-step .payment-tabs .payment-selector li.active .btn-outline,
.checkout-step .payment-tabs .payment-selector .delivery .steps-bar li.one .btn-outline,
.delivery .steps-bar .checkout-step .payment-tabs .payment-selector li.one .btn-outline,
.checkout-step .payment-tabs .payment-selector .payment .steps-bar li.one .btn-outline,
.payment .steps-bar .checkout-step .payment-tabs .payment-selector li.one .btn-outline,
.checkout-step .payment-tabs .payment-selector .payment .steps-bar li.two .btn-outline,
.payment .steps-bar .checkout-step .payment-tabs .payment-selector li.two .btn-outline {
	color: #color-main#
}

.ui-datepicker table tbody .ui-state-active {
	border-color: #color-main#;
	color:#fff;
}


.ui-datepicker .ui-state-default {
	color: #color-main#
}

.ui-datepicker .ui-state-hover {
	background: #color-main#;
	color:#fff;
}

.ui-datepicker .ui-datepicker-header {
	background: #color-main#
}

.sign-out.go-to-home a {
	color: #color-main#
}

.btn, .navigator-sub-items a.veja-mais, button, .btn:focus, .btn:active,
.btn:hover, .navigator-sub-items a.veja-mais:hover, .btn:focus, .navigator-sub-items a.veja-mais:focus, .btn.btn-hover, .navigator-sub-items a.btn-hover.veja-mais, .btn.btn-focus, .navigator-sub-items a.btn-focus.veja-mais, button:hover, button:focus, button.btn-hover, button.btn-focus{
	background-color: none;
	background-image: none;
	border-color: none;
}

.btn, .navigator-sub-items a.veja-mais, button, .btn:focus, .btn:active {
	background-color: #color-main#;
	box-shadow: 0px -37px 35px rgba(0, 0, 0, 0.18) inset;
	border-color: #3e8ecf;
	border-radius: #radius-pixels#px !important;
}

.btn:hover, .navigator-sub-items a.veja-mais:hover, .btn:focus, .navigator-sub-items a.veja-mais:focus, .btn.btn-hover, .navigator-sub-items a.btn-hover.veja-mais, .btn.btn-focus, .navigator-sub-items a.btn-focus.veja-mais, button:hover, button:focus, button.btn-hover, button.btn-focus {
	text-decoration: none;
	/*background-color: <%=ColorHighlighted%>;*/
	box-shadow: 0px -37px 35px rgba(0, 0, 0, 0.18) inset, 0px -100px 5px rgba(255, 255, 255, 0.06) inset;
}

.btn-default:hover, .btn-outline:hover, .btn-default:focus, .btn-outline:focus, .btn-default.btn-hover, .btn-hover.btn-outline, .btn-default.btn-focus, .btn-focus.btn-outline {
	border-color: #d1d1d1;
	background-color: #FFF;
	background-image: none;
}
.btn-default.btn-outline:hover, .btn-outline:hover, .btn-default.btn-outline:focus, .btn-outline:focus, .btn-default.btn-outline.btn-hover, .btn-outline.btn-hover, .btn-default.btn-outline.btn-focus, .btn-outline.btn-focus {
	background: white;
}

button:hover, .btn-wide:{
	box-shadow: none;
}

.btn-show-basket {
	color: #color-main#;
	box-shadow: none;
}

.btn-outline{
	color: #color-main#;
	background: #FFF;
	border-color: rgb(221, 221, 221);
	box-shadow: none !important;
}

.btn-default{
	background-color: #FFF;
	border-color: #DDD;
	background-image: linear-gradient(white, #f2f2f2);
	box-shadow: none !important;
}

.btn-text {
	background: none;
	border: none;
	box-shadow: none;
}

.btn-text:hover, .btn-text:active, .btn-text:focus {
	background: none;
	box-shadow: none;
}

.btn-small {
	box-shadow: none;
}

.btn .obs, .navigator-sub-items a.veja-mais .obs, button .obs {
	/*color: #FFF;*/
	opacity: 0.7
}

.btn.btn-success{
    border-bottom-color: #52a552;
    background-color: #6ec06e;
    color: #FFF;
}
