.cart-message-wrapper{
	width: 100% !important;
}
.cart-message-wrapper .cart-message{
	font-size: 16px;
	margin: 15px 10px;
	font-weight: bold;
	color: #7ecd02;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.cart-message-wrapper .button-wrapper{
	clear: both;
	padding: 2px;
}

.cart-message-wrapper .button-wrapper label{
	margin:20px 0;
	display: block;
}

.cart-message-wrapper .button-wrapper label.close-btn{
	float: left;
	padding-top: 6px;
}

.cart-message-wrapper .button-wrapper label.go-btn{
	float: right;
}

.cart-message-wrapper .button-wrapper label a{
	width: 140px;
}

.cart-message-wrapper .button-wrapper label.close-btn a{
	padding: 4px;
	background: #BBBBBB;
	color: $base-color;
}

.cart-message-wrapper .button-wrapper label.close-btn a:hover{
	padding: 4px;
	background: #CCCCCC;
	color: $base-color;
}

.cart-message-wrapper .button-wrapper label.go-btn a{
	padding: 10px;
	background:#7ecd02;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.cart-message-wrapper .product-info{
	display: block;
    width: 90%;
    height: 110px;
    margin: 0 auto;
    text-align: left;
}

.cart-message-wrapper .product-info img{
	max-height: 120px;
	float: left;
	margin-right: 10px !important;
}

.cart-message-wrapper span{
    text-align: left;
	width: auto;
}

.cart-message-wrapper .t-name{
    padding: 0;
	font-weight: bold;
	font-size: 13px;
}

.cart-message-wrapper .t-price{
    display: block;
	margin-top: 10px;
}