.magnetic-purchase {
	display:none;
	position:fixed;
	right:0px;
	top:50%;
	padding:15px;
	background:#fff;
	max-width:240px;
	border:2px solid;
	border-radius:7px 0 0 7px;
	border-right:none;
	text-align:left;
}
.magnetic-purchase .title{
	font-size:1.2em;
	font-weight:bold;
}
.magnetic-purchase .price{
	padding:15px 0;
}
.magnetic-purchase .save{
	display:none !important;
}