/* FRETE */
#page-produtos .custom-frete {
 	position: relative;
 	display: block;
 	clear: both;
 	background: #fff;
	margin: 10px 0 0 0;
	border: 1px solid #ddd;

	-webkit-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
	-moz-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
	box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
}
#page-produtos .custom-frete-wrapper {
 	display: block;
 	height: 60px;
}
#page-produtos .custom-frete .title {
	position: absolute;
	top: 22px;
  	display: block;
  	float: left;
  	color: #666;
  	font-size: 14px;
  	padding: 0 10px 0 25px;
}
#page-produtos .custom-frete a.nao-sei-cep {
	position: absolute;
	top: 25px;
	right: 15px;
 	display: block;
 	float: left;
 	font-size: 90%;
}
#page-produtos .custom-frete input.shipping-cep {
	position: absolute;
	top: 13px;
	left: 180px;
  	display: block;
  	float: left;
  	width: 100px;
  	padding: 2px 10px;
  	border: 1px solid #ccc;
}
#page-produtos .custom-frete a#shipping {
	position: absolute;
	top: 13px;
	left: 290px;
  	display: block;
  	float: left;
  	width: 43px;
  	height: 33px;
  	font-size: 14px;
  	color: $font-color-1;
  	background: $base-color-1;
  	line-height: 33px;
  	text-align: center;
  	text-decoration: none;
  	$anima;
  	$bold;
}
#page-produtos .custom-frete a#shipping:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}
