#especificidade #calendar-full .days,
#especificidade #calendar-full .days-of-week {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0
}

#especificidade .schedule ul a,
#especificidade :active,
#especificidade :hover,
#especificidade :visited,
#especificidade a:link {
    text-decoration: none
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/y7lebkjgREBJK96VQi37Zp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype')
}

#especificidade body.open-calendar:before {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    content: '';
    z-index: 40
}

#especificidade .inputs-ez {
    position: fixed;
    top: 10px;
    left: 300px
}

#especificidade .wrapper-schedule {
    position: relative;
    top: 20%;
    left: 11.5%
}

#especificidade .wrapper-schedule li {
    width: 100% !important;
    height: 50px
}

#especificidade #calendar .days li a small {
    color: #000
}

#especificidade #calendar .days li.selected {
    border-color: #a3140f;
    background: #a3140f
}

#especificidade #calendar .days li.selected small,
#especificidade #calendar .days li.selected strong {
    color: #fff
}

#especificidade .days li {
    border: 1px solid #e1e1e1;
    display: inline-block;
    text-align: center
}

#especificidade .days li small {
    text-transform: lowercase;
    display: block;
    font-size: 10px
}

#especificidade .days li a {
    display: block
}

#especificidade .days li a.disabled {
    color: #CCC !important;
    pointer-events: none
}

#especificidade #calendar-full {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #CCC;
    padding: 10px
}

#especificidade #calendar-full .months li a.selected {
    font-weight: 700
}

#especificidade #calendar-full ul.days li,
#especificidade #calendar-full ul.days-of-week li {
    width: 25px;
    float: left;
    text-align: center;
    list-style: none
}

#especificidade .wrapper-days .days {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

#especificidade .wrapper-days .days li.selected strong {
    color: #fff !important
}

#especificidade .wrapper-days .days li a.disabled strong {
    color: #CCC !important
}

#especificidade .wrapper-datepicker {
    font-size: 14px;
    position: relative;
    float: right;
    top: 30%;
    right: 32%;
    z-index: 1
}

#especificidade .wrapper-datepicker a {
    color: #a3140f;
    font-weight: 700
}

#especificidade .wrapper-datepicker strong {
    color: #000
}

#especificidade .wrapper-calendar {
    position: relative;
    top: 4%;
}

#especificidade .wrapper-calendar .next,
#especificidade .wrapper-calendar .prev {
    position: absolute;
    font-size: 36px;
}

#especificidade .wrapper-calendar .next.disabled,
#especificidade .wrapper-calendar .prev.disabled {
    color: #DDD;
}

#especificidade .wrapper-calendar .prev {
    left: -3%;
    background: url(/FILES/_CUSTOM_TEMPLATES/CUSTOM_template_00001_3/_IMG/LAYOUT/setas.png) 0 15px;
    height: 50px;
    width: 22px;
    top: 70%;
}

#especificidade .wrapper-calendar .next {
    background: url(/FILES/_CUSTOM_TEMPLATES/CUSTOM_template_00001_3/_IMG/LAYOUT/setas.png) 0 -30px;
    height: 50px;
    width: 25px;
    top: 70%;
    left: 92%;
}

#especificidade .wrapper-calendar h4 {
    position: relative;
    top: 25px;
    left: 5%;
}

#especificidade .schedule h4 {
    position: relative;
    right: 7%;
    top: -10%;
}

#especificidade #calendar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    height: 95px;
    width: -webkit-fill-available;
    top: 55px;
    margin-left: 5%;
}

#especificidade #calendar .days {
    position: absolute;
    width: 10000px;
    top: 0;
    padding: 0;
    left: 0;
}

#especificidade #calendar .days li {
    width: 74px;
    height: 74px;
}

#especificidade .schedule ul,
#especificidade .schedule ul li {
    height: 50px;
    margin-bottom: 3%;
}

#especificidade #calendar .days li a {
    color: #a3140f;
}

#especificidade #calendar .days li strong {
    font-size: 47.4px
}

#especificidade #calendar .days li small,
#especificidade h4 {
    font-size: 12px
}

#especificidade #calendar .days li.fk {
    display: none
}

#especificidade h4 {
    display: inline-block
}

#especificidade .schedule li strong {
    color: #a3140f;
    font-weight: 700 !important;
    font-size: 16px
}

#especificidade .schedule ul {
    font-weight: 700;
    border: 1px solid #e1e1e1;
    position: relative;
    width: 91%;
    right: 8%;
}

#especificidade .schedule ul :hover:not(a):not(small):not(strong) {
    border: 1px solid #a3140f
}

#especificidade .schedule ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    border: 1px solid #e1e1e1
}

#especificidade .schedule ul li.selected {
    border: 1px solid #a3140f;
    background: #a3140f
}

#especificidade .schedule ul li.selected small,
#especificidade .schedule ul li.selected strong {
    color: #fff !important
}

#especificidade .schedule ul li small {
    color: #000 !important;
    font-size: 14px;
    margin-right: 5px;
}

#especificidade .schedule ul a {
    text-align: center;
}

#especificidade #calendar-full {
    width: 293px;
    height: 270px;
}

#especificidade #calendar-full.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -87px;
}

#especificidade #calendar-full .years {
    border: none;
    color: #a3140f;
    position: relative;
    left: 110px;
    height: 60px;
    bottom: 20px;
    width: 75px !important;
}

#especificidade #calendar-full .months {
    display: flex;
    justify-content: space-between;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    position: relative;
    bottom: 20px
}

#especificidade #calendar-full .months li {
    list-style: none;
    font-size: 13px;
}

#especificidade #calendar-full .months a {
    color: #000 !important
}

#especificidade #calendar-full .months a.selected {
    color: #a3140f !important
}

#especificidade #calendar-full .days-of-week {
    display: flex;
    justify-content: space-around;
    -webkit-margin-before: 16px;
    -webkit-margin-after: 16px
}

#especificidade #calendar-full .days-of-week li {
    font-weight: 700;
    font-size: 15px
}

#especificidade #calendar-full .days {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

#especificidade #calendar-full .days li {
    line-height: 29px;
    margin: 0px 8px;
}

#especificidade #calendar-full .days li.selected a {
    color: #fff;
    background: #a3140f;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px
}

#especificidade #calendar-full li,
#especificidade #months {
    border: none
}

#especificidade #calendar-full li small {
    display: none
}

#especificidade #months {
    color: #a3140f;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    top: 17px;
    outline: 0;
    z-index: 2;
    right: 15px;
    left: inherit;
    width: 100px !important;
    position: absolute
}

#especificidade #months li {
    padding-left: 3px
}

#especificidade .botao-agendar {
    width: 80%;
    height: 5%;
    border: 1px solid #a3140f;
    background: #a3140f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 10%;
    top: 85%;
}

#especificidade .botao-agendar a {
    color: #fff !important;
    font-size: 20px
}

#especificidade .janela-modal {
    position: fixed;
    top: 40%;
    margin-top: -239px;
    z-index: 50;
    background: #fff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    left: 0;
    display: block;
    height: 100%
}

#especificidade .janela-modal .welcome {
    color: #a3140f;
    position: relative;
    top: 4%;
    left: 0;
    text-align: center;
    font-size: 12px
}

#especificidade .close-calendar {
    position: absolute;
    bottom: 95%;
    right: 1%;
    display: inline-block;
    font-size: 40px
}

#especificidade tr#scheduled-delivery-date,
#especificidade tr#scheduled-delivery-turn {
    display: none
}

#especificidade .book-container {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    height: 60px
}

#especificidade .book-container .wrapper-info span {
    display: inline-block
}

#especificidade .book-container .book-button a {
    color: #fff !important;
    background: #c14f2e;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 4px
}

#especificidade .book-container .book-space {
    visibility: hidden
}

#especificidade .book-container .book-date {
    visibility: hidden;
    font-size: 22px;
    color: #c14f2e
}

#especificidade .book-container .book-time {
    visibility: hidden;
    font-size: 17px
}

#especificidade li.disabled {
    opacity: 0.4;
    pointer-events: none;
    border: 1px solid #999 !important;
}

#especificidade #calendar-full .months li.disabled {
    border: none !important;
}

#especificidade .wrapper-schedule.native {
    width: auto !important;
    height: 15rem;
}