<a id="seloEbit" href="http://www.ebit.com.br/storeId" target="_blank" data-noop="redir(this.href);"> </a> 

<script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?storeId"> </script>