Facebook Pixel para Lojas com EASY CHECKOUT.

Lojas que possuem a pixel: www.2rios.com e www.toctech.com.br e www.shopdabeleza.com.br, 
www.turmadacegonha.com.br, www.belladonnajoias.com.br, www.expressus.com.br


Facebook Pixel Code (carregado em todas as páginas). Só troca o ID do cliente.

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '<FB_PIXEL_ID>');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=<FB_PIXEL_ID>&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->  


****

View Content (Instalado na página de produto).

<!-- End Facebook Pixel Code -->

****

AddToCart (Instalado no Carrinho).

<!-- Facebook Pixel Code --> 
<script>
var fbq = fbq || function(){}; 
fbq('track', 'AddToCart', {
  content_type: 'product', 
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
  value: eval(EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return parseFloat(product.PRICE.replace(',','.')) }).join('+')),
  currency: 'BRL' 
});
</script>
<!-- End Facebook Pixel Code -->

****

Purchase (Instalado na página de Confirmação de Compra).

<!-- Facebook Pixel Code --> 
<script> 
if(!EasyCheckout){
	var EasyCheckout = {ModelData:{Basket:{total:0.00,Items:[]}}}
}
var fbq = fbq || function(){};
var valorNovo = EasyCheckout.ModelData.Basket.SubTotal
var productsId = EasyCheckout.ModelData.Basket.Items.map(function(product){return product.ProductID})  
fbq('track', 'Purchase', { 
	content_type: 'product', 
	content_ids: productsId, 
	value: valorNovo, 
	currency: 'BRL' 
}); 
</script>
<!-- End Facebook Pixel Code -->


********


Facebook Pixel para Lojas sem EASY CHECKOUT

Lojas que possuem a pixel: www.loja.reloadpositive.com

>> Facebook Pixel Code (carregado em todas as página). Só troca o ID do cliente.

IDEM 

****

View Content Facebook (Instalado na página de produto).

<!-- Facebook Pixel Code View Content --> 
<script> 
var fbq = fbq || function(){};  

fbq('track', 'ViewContent', {
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.CODE,
  content_type: 'product',
  value: parseFloat((EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PROMOTION_PRICE > 0) ? EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PROMOTION_PRICE : EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PRICE),
  currency: 'BRL'
});

</script>
<!-- End Facebook Pixel Code -->

****

AddToCart Facebook (Instalado no Carrinho).

<!-- Facebook Pixel Code AddToCart --> 
<script type="text/javascript"> 
var fbq = fbq || function(){}; 
fbq('track', 'AddToCart', {
  //content_name: 'Shopping Cart',
  content_type: 'product',
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
  value:  eval(EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return parseFloat(product.PRICE.replace(',','.')) }).join('+')),
  currency: 'BRL'
});
</script>
<!-- End Facebook Pixel Code -->

****

Purchase Facebook (Instalado na página de Confirmação de Compra).

<!-- Facebook Pixel Code Purchase  -->
<script> 
var fbq = fbq || function(){};

fbq('track', 'Purchase', {
  content_type: 'product',
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
  value: EZCOMMERCE_SCRIPTS_OBJECT.ORDER.AMOUNT,
  currency: 'BRL'
});

</script> 
<!-- End Facebook Pixel Code -->

