<!--Scripts Facebook:-->
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  
  fbq('init', '<FB_PIXEL_ID>');
  fbq('track', "PageView");
  </script>
  <!-- End Facebook Pixel Code -->  

<!-- VIEW CONTENT > SOMENTE NA PÁGINA DE PRODUTO-->
<script> 
  var fbq = fbq || function(){};  
  fbq('track', 'ViewContent', {
    content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.CODE,
    content_type: 'product',
    value: parseFloat((EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PROMOTION_PRICE > 0) ? EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PROMOTION_PRICE : EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PRICE),
    currency: 'BRL'
  });
</script>

<!-- ADD TO CART > SOMENTE NA PÁGINA DO CARRINHO -->
<script> 
var fbq = fbq || function(){}; 
fbq('track', 'AddToCart', {
  //content_name: 'Shopping Cart',
  content_type: 'product',
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
  value:  eval(EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return parseFloat(product.PRICE.replace(',','.')) }).join('+')),
  currency: 'BRL'
});
</script>

<!-- Caso haja erro de casas decimais -->
<script> 
const precoCarrinho = eval(EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return parseFloat(product.PRICE.replace(',','.')) }).join('+'));
var fbq = fbq || function(){}; 
fbq('track', 'AddToCart', {
  //content_name: 'Shopping Cart',
  content_type: 'product',
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
  value: precoCarrinho.toFixed(2),
  currency: 'BRL'
});
</script>

<!-- PURCHASE - EASY CHECKOUT > SOMENTE ETAPA 4 - CONFIRMAÇÃO -->
<script> 
if(!EasyCheckout){
	var EasyCheckout = {ModelData:{Basket:{total:0.00,Items:[]}}}
  var valorNovo = EasyCheckout.ModelData.Basket.SubTotal
  var productsId = EasyCheckout.ModelData.Basket.Items.map(function(product){return product.ProductID})
} else {
  var valorNovo = EZCOMMERCE_SCRIPTS_OBJECT.ORDER.AMOUNT
  var productsId = EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])})
}
var fbq = fbq || function(){};
fbq('track', 'Purchase', { 
  content_type: 'product',
  content_ids: EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function(product){return (product.CODE.split('-')[0])}),
	value: valorNovo, 
	currency: 'BRL' 
}); 
</script>

<!-- PURCHASE - CHECKOUT CLÁSSICO > SOMENTE ETAPA 4 - CONFIRMAÇÃO -->
<script>
var fbq = fbq || function(){};
fbq('track', 'Purchase', {
    content_type: 'product', 
    value: EZCOMMERCE_SCRIPTS_OBJECT.ORDER.AMOUNT, 
    currency: 'BRL'}
  );
</script>
