<!-- BEGIN GCR Opt-in Module Code -->
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer> </script>

<script> 
	try {
		Date.prototype.addDays = function (days) {
			var dat = new Date(this.valueOf());
			dat.setDate(dat.getDate() + days);
			return dat;
		}

		var dat = new Date();

		var newdate = dat.addDays(EasyCheckout.ModelData.Basket.SelectedDeliveryOption.EstimatedTime);
		var dd = newdate.getDate();
		var mm = newdate.getMonth() + 1;
		var yy = newdate.getFullYear();

		var prazoEntrega = yy + "-" + mm + "-" + dd;
		
		window.renderOptIn = function () {
			window.gapi.load('surveyoptin', function () {
				window.gapi.surveyoptin.render({
					"merchant_id": 8978083,
					"order_id": EZCOMMERCE_SCRIPTS_OBJECT.ORDER.CODE,
					"email": session.customer.email,
					"delivery_country": "BR",
					"estimated_delivery_date": prazoEntrega.replace(/\b(\d{1})\b/g, '0$1')
				});
			});
		}
	} catch (err) {
		console.log(err);
	}
</script>
<!-- END GCR Opt-in Module Code -->

<script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>

<script>

	window.renderBadge = function () {
		var ratingBadgeContainer = document.createElement("div");
		document.body.appendChild(ratingBadgeContainer);
		window.gapi.load('ratingbadge', function () {
			window.gapi.ratingbadge.render(ratingBadgeContainer, { "merchant_id": 8978083 });
		});

	}

</script>