<!-- HOME -->
<script type="text/javascript">
    let lomadee_datalayer = {
        "page": "home"
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- PESQUISA -->
<script type="text/javascript">
    var lomadee_datalayer = {
        "page": "search",
        "keyword": EZCOMMERCE_SCRIPTS_OBJECT.SEARCH.KEY
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- PRODUTO -->
<script type="text/javascript">
    var lomadee_datalayer = {
        "page": "product",
        "product": {
            "sku"       : EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.CODE,
            "name"      : EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.NAME,
            "price"     : +EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.PRICE,
            "available" : +EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT.STOCK > 0 ? true : false
        }
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- CATEGORIA -->
<script type="text/javascript">
    var lomadee_datalayer = {
        "page": "category",
        "category": {
            "name": EZCOMMERCE_SCRIPTS_OBJECT.SECTION.NAME
        }
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- CARRINHO -->
<script type="text/javascript">
    var lomadee_datalayer = {
        "page": "cart",
        "cart": {
            "skus": EZCOMMERCE_SCRIPTS_OBJECT.PRODUCT_LIST.map(function (product) { return (product.CODE.split('-')[0]) })
        }
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- CONVERSÃO -->
<script type="text/javascript">

    let paymentMethod = EZCOMMERCE_SCRIPTS_OBJECT.ORDER.PAYMENT_METHOD;
    switch (paymentMethod) {
        case 'Boleto':
            paymentMethod = "bl";
            break;
        case 'Cartão de Crédito':
            paymentMethod = "cc";
            break;
        case 'Cartão de Débito':
            paymentMethod = "cd";
            break;
        default:
            paymentMethod = 'fp';
    }

    const items = [];
    EasyCheckout.ModelData.Basket.Items.map(function (item) {
        items.push({
            'sku'      : item.SKU,
            'name'     : item.Name,
            'category' : item.CategoryName,
            'price'    : item.SubTotal,
            'quantity' : item.Quantity
        });
    });

    var lomadee_datalayer = {
        "page": "conversion",
        "conversion": {
            "transactionId" : EZCOMMERCE_SCRIPTS_OBJECT.ORDER.CODE,
            "amount"        : EZCOMMERCE_SCRIPTS_OBJECT.ORDER.AMOUNT,
            "currency"      : "BRL",
            "paymentType"   : paymentMethod,
            "items"         : items
        }
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>

<!-- DEMAIS PÁGINAS -->
<script type="text/javascript">
    var lomadee_datalayer = {
        "page": "visit"
    };

    const advertiserId = 5924;

    const lomadeeTag = document.createElement('script');
    lomadeeTag.type = 'text/javascript';
    lomadeeTag.src = "//secure.lomadee.com/a/" + advertiserId + ".js";
    $('body').append(lomadeeTag);
</script>