<script type="text/javascript" src="//promoby.me/p/pix.js"></script>

<script>
    const nomeLoja = "PROMOBIT";

    _prb.e({
        'store': nomeLoja,
        'number': EZCOMMERCE_SCRIPTS_OBJECT.ORDER.CODE,
        'price': EZCOMMERCE_SCRIPTS_OBJECT.ORDER.AMOUNT
    });
</script>