﻿<div class="footer-1">
<div class="wrapper">
       <fcn:brands-menu Max="18" IsCarousel="true" ImgWidth="120" ImgHeight="60"> 
</div> <!-- wrapper -->
</div> <!-- footer-1 -->

<fcn:banner groupid="19"> <!-- banner rodape -->




<div class="footer-2">
<div class="wrapper">

    <div id="footer-search">    
        <div class="legend"><b class="title">Buscar</b></div>   
        <div class="content">
            <form action="/pesquisa/" method="get" class="validate">
                <fieldset>
                    <legend class="hide">Procurar no site</legend>
                    <input id="footer-search-query" class="query" name="p" type="text" value="Quero encontrar na loja..." title="cleanup:true;">
                    <input class="hide" type="submit" value="Enviar">
                    <a href="#" class="submit-query submit" title="Buscar"><b>Buscar</b></a>
                </fieldset>
            </form>
        </div> <!-- .content -->
    </div> <!-- #footer-search -->


    <div id="newsletter">   
        <span class="icon"></span>
        <div class="legend"><b class="title">Receba nossas ofertas e promoções.<small>Cadastre o seu e-mail</small></b></div>  
        <div class="content">
            <form action="newsletter_xp.asp" method="post" class="validate" onSubmit="return insertMailAjax(this);">
                <fieldset>
                    <legend></legend>
                    <span class="input-wrapper"><input id="newsletter-email" class="e-mail" type="text" name="email" value="Escreva aqui o seu e-mail" title="required:true;email:true;msg_email:'Informe um e-mail válido.';cleanup:true;"></span>
                    <input type="hidden" name="acao" value="IN">
                    <input type="hidden" name="message-success" value="E-mail cadastrado com sucesso!">                    
                    <input class="hide" type="submit" value="Cadastrar" title="Cadastrar">
                    <a href="#" class="submit" title="OK"><b>OK</b></a>
                </fieldset>
            </form>
        </div>
    </div> <!-- #newsletter -->

</div> <!-- wrapper -->
</div> <!-- footer-2 -->


<div class="footer-3 hide">
<div class="wrapper">

    <if condition="current-file = 'default,produtos_secoes,produtos_pesquisa,produtos'">
        <!--Renderiza a nuvem de palavas com as configurações de tamanho setadas no admin -->
        <fcn:tag-cloud>
    </if>
        <!-- Exibir historico de navegacao somente nos arquivos expecíficos: "default.asp", "produtos_secoes.asp", "produtos_pesquisa.asp" e "produtos.asp" -->
    <if condition="current-file = 'default,produtos_secoes,produtos_pesquisa,produtos'">
        <!-- Renderiza o histórico de navegação -->
        <fcn:navigation-history>
    </if>

</div> <!-- wrapper -->
</div> <!-- footer-3 -->

<div class="footer-4">
<div class="wrapper">

    <div id="custom-texts">
        <fcn:custom-text id="3">
        <fcn:custom-text id="4">
        <fcn:custom-text id="5">
    </div> <!-- #custom-texts -->

    <div class="footer-atendimento">
	  <div class="legend"><b class="title"><span>Central de atendimento e Loja Física</span></b></div>  
	    <!-- Coloquei em destaque novamente o telefone de Curitiba, para mostrar como Central e Loja Física. JUNIOR -->
	  <div class="legend"><b class="title"><span>(41) 3091-2100 - Curitiba/PR</span></b></div>  
        <div class="content">
            <ul>
              <li class="service"><var:store-service></li>
                <li><br></li>
                  <span class="chat-comercial">       
                  <script language="JavaScript" src="https://www.chatcomercial.com.br/livehelp/lib/javascript/support_status.php?COMPANY_ID=22171&SITE_ID=26207&ssl=1"></script>
                  <!--INÍCIO RASTREADOR - TRACK -->
                  <script language="JavaScript" >
                  var _webtrack_domain = "https://www.chatcomercial.com.br/livehelp/";
                  var _webtrack_company_id = 22171;
                  var _webtrack_site_id = 26365;
                  var _webtrack_domain_chatwindow = "https://www.chatcomercial.com.br/livehelp/";
                  var _webtrack_variables = new Array();
                  var _webtrack_ssl = 1;
                  </script>
                  <script language='JavaScript' src='https://www.chatcomercial.com.br/livehelp/lib/javascript/webtrack.js'></script>
                  <!--FIM RASTREADOR -->
                 </span>
                <li><br></li>
                <!-- Telefone 1 de Curitiba foi junto com os demais - Wagner <li class="phone"><var:store-phone></li> -->
                <!-- Tirei o telefone 02 para sobrar espaço <li class="phone"><var:store-phone-2></li> -->
                <!-- Tirei o Whats que não era comercial - Wagner <li class="whatsapp"><var:store-phone-3></li> -->
                <li class="skype"><var:store-phone-4></li>
                <li class="email"><a href="mailto:<var:store-email>" title="<var:store-email>"><var:store-email></a></li>
                  <li class="email"><a href="https://www.mundoautomacao.com.br/fale-conosco/" title="Contato com Loja Mundo Automação">Enviar mensagem</a></li>
                  <!-- <li><br></li>-->
                  <!-- <li><b><span>Outros telefones Loja Mundo Automação</span></b><br></li>-->
                  <!-- <li class="phone"><span>Sul:      (48) 3771-4744 - Florianópolis/SC</span></li>-->
                  <!-- <li class="phone"><span>          (47) 3086-1722 - Joinville/SC</span></li>-->
                  <!-- <li class="phone"><span>          (51) 3103-9641 - Porto Alegre/RS</span></li>-->
                  <!-- <li><br></li>-->
				  <!-- <li class="phone"><span>Sudeste:  (11) 3513-7861 - São Paulo/SP</span></li>-->
                  <!-- <li class="phone"><span>          (21) 3609-2851 - Rio de Janeiro/RJ</span></li>-->
                  <!-- <li class="phone"><span>          (31) 3360-7241 - Belo Horizonte/MG </span></li>-->
	  			<!-- <li><br></li>-->
				  <!-- <li class="phone"><span>Nordeste: (71) 3512-6621 - Salvador/BA</span></li>-->
				  <!-- <li class="phone"><span>          (81) 3771-8609 - Recife/PE</span></li>-->
				  <!-- <li class="phone"><span>          (85) 3771-3844 - Fortaleza/CE</span></li>-->
	  			<!-- <li><br></li>-->
                  <!-- <li class="phone"><span>Outras:   (62) 3414-8205 - Goiânia/GO - (84) 3026-0577 - Natal/RN</span></li>-->  
                  <!-- <li class="phone"><span>          (84) 3026-0577 - Natal/RN</span></li>-->  
                  <!-- <li class="phone"><span>(84) 3026-0577 - Natal/RN</span></li>-->                
                  <!-- <li class="phone"><span>(81) 3771-8609 - Recife/PE</span></li>-->  
                  <!-- <li class="phone"><span>(85) 3771-3844 - Fortaleza/CE</span></li>-->
                  <!-- <li class="phone"><span>(21) 3609-2851 - Rio de Janeiro/RJ</span></li>-->
                  <!-- <li class="phone"><span>(48) 3771-4744 - Florianópolis/SC</span></li> Coloquei na linha acima -->
                  <!-- <li class="phone"><span>(31) 3360-7241 - Belo Horizonte/MG</span></li>-->
                  <!-- <li class="phone"><span>(51) 3103-9641 - Porto Alegre/RS</span></li> --> 
                  <!-- <li class="phone"><span>(47) 3086-1722 - Joinville/SC</span></li>-->
            </ul>
        </div>
    </div><!-- footer-atendimento -->

    <div class="like-box">
        <div class="footer">
            <a class="facebook target-blank" title="Facebook" href="https://www.facebook.com/mundoautomacao"></a>
            <a class="instagram target-blank" title="Instagram" href="https://www.instagram.com/pro4ce/"></a>
            <a class="youtube target-blank" title="Youtube" href="https://www.youtube.com/channel/UCp-9YGWnVWhK2y8g_QawJrg"></a>
            <a class="linkedin target-blank" title="Linkedin" href="http://www.linkedin.com/company/mundo-automacao"></a>
        </div>
	          <div class="content">
            <fcn:facebook-like-box href="https://www.facebook.com/mundoautomacao" width="250" color-scheme="light" header="false" show-border="false" show-faces="true" stream="false">
        </div>
    </div><!-- like-box -->

</div> <!-- wrapper -->
</div> <!-- footer-4 -->

<!-- Teste - Colocar aqui os telefones, para ficar em poucas linhas e por região - Ver se dará certo - JUNIOR -->  
<div class="footer-2">
  <div class="wrapper">
	<div id="telefonepro4ce">Telefones Loja Pro4ce Mundo Automação:</div>
    <div id="tel-pro4ce">
      <div class="legend">
         <b class="title"><span>Sul:</span></b><br> 
	     <span>(41) 3091-2100 Curitiba/PR</span><br>
	     <span>(48) 3771-4744 Florianópolis/SC</span><br>
     	<span>(47) 3086-1722 Joinville/SC</span><br>   
     	<span>(51) 3103-9641 Porto Alegre/RS</span><br><br>
      </div> <!-- Fim Div Legend -->  
    </div> <!-- Fim Div do teste Cor Preta Newletter -->  

    <div id="tel-pro4ce">
      <div class="legend">
         <b class="title"><span>Sudeste:</span></b><br> 
         <span>(11) 3513-7861 São Paulo/SP</span><br>
         <span>(21) 3609-2851 Rio de Janeiro/RJ</span><br>
         <span>(31) 3360-7241 Belo Horizonte/MG</span><br><br>
      </div> <!-- Fim Div Legend -->  
    </div> <!-- Fim Div do teste Cor Preta Newletter -->  

	<div id="tel-pro4ce">
     <div class="legend">
       <b class="title"><span>Nodeste:</span></b><br> 
       <span>(71) 3512-6621 Salvador/BA</span><br>
       <span>(81) 3771-8609 Recife/PE</span><br>
       <span>(85) 3771-3844 Fortaleza/CE</span><br><br>
     </div> <!-- Fim Div Legend -->  
   </div> <!-- Fim Div footer-2 -->  

	<div id="tel-pro4ce">
     <div class="legend">
       <b class="title"><span>Outras regiões:</span></b><br> 
       <span>(62) 3414-8205 Goiânia/GO</span><br>  
       <span>(84) 3026-0577 Natal/RN</span><br><br> 
     </div> <!-- Fim Div Legend -->  
   </div> <!-- Fim Div footer-2 -->  
  </div> <!-- Fim Div Wrapper-->  
</div> <!-- Fim Div do teste Cor Preta Newletter -->  

<!-- Até aqui o teste dos telefones  - JUNIOR -->  

		  
<div class="footer-5">
<div class="wrapper">

    <div id="payment-methods">
        <fcn:payment-logotypes>
    </div><!-- #payment-methods -->  

    <div id="security-certificates">
        <div class="legend"><b class="title">Certificado de segurança</b></div>
        <div class="content">            
            <!-- LETS ENCRYPT -->
            <a id="seloEncrypt" class="target-blank" href="https://www.letsencrypt.org/"></a> 

            <!-- SITEBLINDADO -->
            <a class="site-blindado target-blank hide" href="https://selo.siteblindado.com.br/verificar?url=<var:store-url>" title="Visualizou o selo site Blindado? Navegue tranquilamente, esse site está PROTEGIDO CONTRA HACKERS. Realizamos diariamente milhares de testes para garantir sua navegação segura. Clique no selo e confira nossa certificação.">Site Blindado</a>
            
            <!-- EBIT -->
            <a id="seloEbit hide" href="http://www.ebit.com.br/#<var:store-ebit>"  onclick="redir(this.href);"></a>
          
          <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html?hl=pt-PT#url=www.mundoautomacao.com.br" title="Site Seguro by Google" target="_blank"><img src="https://www.lojamundoon.com.br/FILES/_ARQUIVOS/custom/seguro_by_google.png" alt="Site Seguro by Google" style="margin-right: 30px"></a>
          
        
        </div>
    </div><!-- #payment-methods --> 

</div> <!-- wrapper -->
</div> <!-- footer-5 -->


<div id="colophon">
<div class="wrapper">
    
    <div id="disclaimer">
        <span>Copyright <fcn:year> - <a href="<var:store-url>" title="Ir à página inicial"><var:store-fullname></a> - Todos os Direitos Reservados.</span>
          <span><br></span>
          <span><br></span>
          <span>Razão Social: Tecnopar Tecnologia em Automações Ltda - CNPJ: 08.829.865/0001-77</span>
          <span><br></span>
          <span>Endereço: Rua Professora Doracy Cesarino, 232 - Portão · Curitiba · Paraná - CEP: 80320-200</span>
        <span><br></span>
        <span><br></span>
         <span>"Preços e condições de pagamento apresentados neste "site" somente são válidos para as compras efetuadas no ato da sua exibição. *Condições de pagamento à vista somente para depósitos, transferências e cartão de débito.</span>
        
    </div> <!-- #disclaimer -->

    <div class="logotipos">
        <div>
            <b>Plataforma</b>
            <var:store-link-ezcommerce>
        </div>
        <div class="hide">
            <b>Criação</b>
            <a class="target-blank" id="agencia" href="http://www.agencia.com.br" title="Agência" rel="nofollow"></a>
        </div>
    </div>

</div><!-- .wrapper-->
</div> <!-- #colophon -->