
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script> 
<script> 
var OneSignal = window.OneSignal || []; 
OneSignal.push(["init", { 
appId: "80af69e9-30ef-426c-9235-bf38e64d587c", 
autoRegister: true, /* Set to true to automatically prompt visitors */ 
notifyButton: { 
enable: true, /* Set to false to hide */ 
size: 'medium', /* One of 'small', 'medium', or 'large' */ 
theme: 'default', /* One of 'default' (red-white) or 'inverse" (white-red) */ 
position: 'bottom-left', /* Either 'bottom-left' or 'bottom-right' */ 
text: { 
'tip.state.unsubscribed': 'Increva-se para receber notificações', 
'tip.state.subscribed': "Você já está inscrito nas notificações", 
'tip.state.blocked': "Você foi bloqueado nas notificações", 
'message.prenotify': 'Clique aqui para receber notificações', 
'message.action.subscribed': "Obrigado!", 
'message.action.resubscribed': "Você está inscrito nas notificações", 
'message.action.unsubscribed': "Você não receberá novas notificações", 
'dialog.main.title': 'Increva-se para receber notificações', 
'dialog.main.button.subscribe': 'INSCREVER', 
'dialog.main.button.unsubscribe': 'DESINSCREVER', 
'dialog.blocked.title': 'Desbloquear notificações', 
'dialog.blocked.message': "Siga as instruções para ativar as notificações:" 
} 
},

promptOptions: { 
/* Change bold title, limited to 30 characters */ 
siteName: 'TrazPraCa.com', 
/* Subtitle, limited to 90 characters */ 
actionMessage: "Você gostaria de receber notificações das novidades e notícias da TrazPraCa?", 
/* Example notification title */ 
exampleNotificationTitle: 'Assim será o título da notificação', 
/* Example notification message */ 
exampleNotificationMessage: 'Será assim que será a notificação', 
/* Text below example notification, limited to 50 characters */ 
exampleNotificationCaption: 'Você pode se desinscrever a qualquer momento', 
/* Accept button text, limited to 15 characters */ 
acceptButtonText: "PERMITIR", 
/* Cancel button text, limited to 15 characters */ 
cancelButtonText: "NÃO OBRIGADO" 
}, 
welcomeNotification: { 
"title": "Obrigado", 
"message": "Agradecemos a sua inscrição!", 
// "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */ 
} 
}]); 
</script>