.whats-call {
    width: 55px;
    height: 55px;
    border: none;
    box-shadow: 0 0 0 0 rgba(122,237,148,0.29);
    border-radius: 50%;
    background: #34d95a;
    background-image: -webkit-linear-gradient(top,#34d95a,#22a30f);
    background-image: -moz-linear-gradient(top,#34d95a,#22a30f);
    background-image: -ms-linear-gradient(top,#34d95a,#22a30f);
    background-image: -o-linear-gradient(top,#34d95a,#22a30f);
    background-image: linear-gradient(to bottom,#34d95a,#22a30f);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.16,0,0,1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.16,0,0,1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.16,0,0,1);
    animation: pulse 1.25s infinite cubic-bezier(0.16,0,0,1);
    color: #fff;
    font-size: 30px;
    position: fixed;
    bottom: 300px;
    right: 10px;
    text-align: center;
    line-height: 55px;
}

.whats-call:after {
    content: "\f232";
    color: #fff;
    font-size: 30px;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}

.whats-call:hover {
    text-decoration: none;
}