/* ICONES DE SISTEMA  */
#product-social-networks .twitter-icon,
#product-social-networks .facebook-icon,
#product-social-networks .orkut-icon,

.rating,

.label,

#sb-container #sb-nav a,

#msg-erro samp,

.gift-certificate .icon,
.wishlist .icon,
.order-status .icon,
.orders-search .icon,
.orders .icon,
.wishlist .icon,
.client-information .icon,
.error-cart .input-error,

span.error-icon,

.check-out td.gift label,

.check-out .help .phone-icon,
.check-out .help .person-icon,

.check-out .secure-site-icon,
.check-out .remove-item span,

#tab-style,
#list-style

{
	background-image:url(../_IMG/LAYOUT/system-icons.png);
	background-repeat:no-repeat;
}

/* ICONES PARA REDES SOCIAIS */
#product-social-networks .facebook-icon,
#product-social-networks .twitter-icon,
#product-social-networks .orkut-icon {
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:32px;
	height:28px;
}
#product-social-networks .twitter-icon {
	background-position:0 -150px;
}
#product-social-networks .facebook-icon {
	background-position:-40px -150px;
}
#product-social-networks .orkut-icon {
	background-position:-80px -150px;
}
#product-social-networks .shopcliq 
{
    float: left; 
    display:inline-block;
}



/* ICONES PARA MEDIA / AMPLIAR / VIDEO / LUPA */
#media .media-actions .video span:before {
	content: '\f03d';
	font-size: 120%;
	padding: 0 5px 0 0;
	$icon;
}
#media .media-actions .enlarge span:before {
	content: '\f00e';
	font-size: 120%;
	padding: 0 5px 0 0;
	$icon;
}



/* INFORMACAO DE PRODUTO EM ABAS OU LISTA */
#tab-style,
#list-style {
	display:block;
	float:left;
	width:24px;
	height:24px;
	text-indent:-9999em;
	margin:5px 6px 0 0;
}
#tab-style {
	background-position:-120px -100px;
}
#list-style {
	background-position:0 -100px;
}
#tab-style:hover,
.selected #tab-style {
	background-position:-150px -100px;
}
#list-style:hover,
.selected #list-style {
	background-position:-30px -100px;
}


/* CHECK-OUT */
.check-out .remove-item span {
	background-position: -87px -43px;
	width: 22px;
	height: 22px;
	display: block;
	text-indent: -9999em;
	$anima;

	opacity:0.40;
	-moz-opacity: 0.40;
	filter: alpha(opacity=40);
}
.check-out .remove-item:hover span {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}


/* MODAL */
#sb-container #sb-nav a {
	width:24px;
	height:22px;
}
#sb-container #sb-nav a#sb-nav-close,
#sb-container #sb-nav a#sb-nav-close:active {
	background-position:-54px -43px;
}
#sb-container #sb-nav a#sb-nav-next,
#sb-container #sb-nav a#sb-nav-next:active {
	background-position:-27px -43px;
}
#sb-container #sb-nav a#sb-nav-previous,
#sb-container #sb-nav a#sb-nav-previous:active {
	background-position:0 -43px;
}
#sb-container #sb-nav a#sb-nav-close:hover,
#sb-container #sb-nav a#sb-nav-next:hover,
#sb-container #sb-nav a#sb-nav-previous:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}


/* CHECKOUT */
.check-out td.gift label {
	background-position: -114px -41px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 0 4px 4px;
	text-indent: 9999em;
	vertical-align: text-bottom;
	overflow: hidden;
}
.check-out .secure-site-icon {
	display:block;
	background-position:-100px -350px;
	width:30px;
	height:38px;
	position:absolute;
	top:0;
	left:0;
}
.check-out .help .phone-icon {
	background-position:-100px -250px;
	width:34px;
	height:29px;
}
.check-out .help .person-icon {
	background-position:-100px -300px;
	height:36px;
	width:36px;
}
.check-out table span.free-shipping {
	background:url(../_IMG/DESIGN/fretegratis.gif);
	width:98px;
	height:21px;
	display:inline-block;
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
}