/* BOTOES PARA CHECKOUT */
#btn-buy,
#btn-notify,
#btn-order,
#btn-consult,
.check-out .btn-continuar,
.empty-cart .back,
.check-out input.btn,
.check-out .steps li span,
.continue .use-this-address,
.continue #login,
.continue #enviar,
.continue #continuar,
.btn-buy-kit

{
	background-repeat:no-repeat;
	background-image: url(../_IMG/LAYOUT/checkout.png);
}

/* TAMANHOS E POSICIONAMENTOS */
#btn-buy,
#btn-notify,
#btn-order,
#btn-consult,
.check-out .btn-continuar,
.empty-cart .back,
.continue #login,
.continue .use-this-address,
.continue #enviar,
#continuar,
.btn-buy-kit
{
	border:0 none;
	margin:0;
	padding:0;
	display:block;
	height: 50px;
	text-indent:-9999em;
	cursor:pointer;
	overflow:hidden;
	*padding-top:32px;
	background-color:transparent;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* COMPRAR */
#btn-buy,
.btn-buy-kit {
	background-position: 0 0;
	width: 213px;
	height: 70px;
}

/* VENDA ENCERRADA - INDISPONIVEL - AVISE-ME QUANDO CHEGAR */
#btn-notify {
	background-position: 0 -101px;
	width: 213px;
	height: 70px;
}
#btn-notify.disponibility-se {
	background-position: -255px 0;
}
#btn-notify.disponibility-sc {
	background-position: -255px -99px;
}


/* ENCOMENDAR */
#btn-order {
	background-position:0 -628px;
	width: 195px;
}

/* CONSULTAR */
#btn-consult {
	background-position:0 -545px;
	width: 195px;
}

/* VOLTAR A LOJA */
.empty-cart .back {
	padding-top:0;
	background-position:0 -787px;
	width:190px;	
	display:inline-block;
	vertical-align:text-bottom;
	text-indent:-9999em;
	margin-bottom:-15px;
	*margin-bottom:15px;
}


/* CONTINUAR - CARRINHO */
.check-out .btn-continuar {
	background-position: 0 -375px;
	width:175px;
}

/* CONTINUAR - IDENTIFICACAO */
.continue #login {
	background-position: 0 -375px;
	width:175px;
}

/* CADASTRAR - IDENTIFICACAO */
.continue #enviar {
	background-position:0 -458px;
	width:180px;
}

/* CADASTRAR - NOVO CADASTRO */
.continue #continuar {
	background-position:0 -458px;
	width:180px;
	margin: 10px 0 0 160px;
}

/* ENTREGAR NESTE ENDERECO */
.continue .use-this-address {
	background-position: 0 -865px;
	width: 268px;
}

#btn-buy:hover,
#btn-notify:hover,
#btn-order:hover,
#btn-consult:hover,
.check-out .btn-continuar:hover,
.empty-cart .back:hover,
.continue #login:hover,
.continue .use-this-address:hover,
.continue #enviar:hover,
#continuar:hover,
.btn-buy-kit:hover {
	opacity:0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
}