﻿#page-etapa2-cadastro #form-register {
	position:relative;
}
#page-etapa2-cadastro .subscribe .endereco-de-entrega {
	margin-left:160px;
}
#page-etapa2-cadastro .subscribe .endereco-de-entrega.msg-error{
	margin-left:150px;
}
#page-etapa2-cadastro .subscribe .endereco-de-entrega label {
	width:auto !important;
	text-align:left;
	cursor:pointer;
}
#page-etapa2-cadastro .subscribe .info {
	position: relative;
}
#page-etapa2-cadastro .subscribe .info .already-registered {
	$bold;
	color:$font-color-1;
	text-decoration:underline;
	position:absolute;
	top:12px;
	right:12px;
	z-index:999999;
}
#page-etapa2-cadastro .subscribe .info .required {
	border:2px solid #ededed;
	display:block;
	padding:15px 10px;
	font-weight:normal;
	font-size:12px;
	line-height:1.5em;
}

#page-etapa2-cadastro .subscribe .info h4 span {
	width: auto;
}

#page-etapa2-cadastro .subscribe fieldset legend {
	*left: -6px;
}

#page-etapa2-cadastro .subscribe .section #cadastroPF,
#page-etapa2-cadastro  .subscribe .section #cadastroPJ {
	margin: 0;
	padding: 0;
}

#page-etapa2-cadastro .subscribe fieldset label {
	text-align: right;
	width: 150px;
}

#page-etapa2-cadastro .subscribe fieldset span .first {
	margin-left: 40px;
}

#page-etapa2-cadastro .subscribe fieldset select {
	font-weight: normal;
}
#page-etapa2-cadastro .subscribe .cep-help {
	background: url(../_IMG/LAYOUT/question.gif);
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-left: 5px;
	margin-top: -3px;
	*margin-top: -9px;
	vertical-align: middle;
}
#page-etapa2-cadastro .child strong {
	margin-bottom:8px;
}
#page-etapa2-cadastro .subscribe .send-btn {
}
#page-etapa2-cadastro .subscribe fieldset legend {
	display:none;
}
#page-etapa2-cadastro #lblAddress2 {
	width:auto;
	margin-left:56px;
}
#page-etapa2-cadastro #captcha input {
	text-transform:uppercase;
}
#page-etapa2-cadastro #captcha img {
	vertical-align:middle;
}
#page-etapa2-cadastro #captcha a {
	font-size:11px;
}

/* CLIENT-PANEL: FORMS */
#page-etapa2-cadastro .subscribe label {
	display:inline-block;
}
#page-etapa2-cadastro .subscribe .section {
	background:url(../_IMG/LAYOUT/bg-cadastro-form-div.gif) repeat-y;
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
	padding-left:190px;
	padding-top:15px;
	position:relative;
	min-height:36px;
	border-right: 2px solid #EDEDED;
}
#page-etapa2-cadastro .subscribe .section h5 {
	$bold;
	text-shadow:#FFF 0 1px 0;
	width:130px;
	height:48px;
	color:$base-color-1;
	padding-right:30px;
	padding-left:5px;
	padding-top:18px;
	position: absolute;
	top:0;
	left:0;
	-left:-192px;
	text-align: right;
	text-transform: uppercase;
}
#page-etapa2-cadastro .subscribe .section .input-wrapper {
	$bold;
	display: block;
}
#page-etapa2-cadastro .subscribe .section small,
#page-etapa2-cadastro .subscribe .section label,
#page-etapa2-cadastro .subscribe .section textarea,
#page-etapa2-cadastro .subscribe .section .input-wrapper,
#page-etapa2-cadastro .subscribe .section input,
#page-etapa2-cadastro .subscribe .section select {
	font-size:13px;
	font-weight:normal;
}
#page-etapa2-cadastro .subscribe .section .hide {
	display:none;
}
#page-etapa2-cadastro .subscribe .section .address span,
#page-etapa2-cadastro .subscribe .section fieldset span {
	display:block;
	margin-left:162px;
}
#page-etapa2-cadastro .subscribe span.field-description {
	display:block;
	width:290px;
	line-height:15px;
	padding:5px 0 15px 0;
	vertical-align:middle;
	font-size:11px;
	color:#808080;
}
#page-etapa2-cadastro .subscribe .address .input-wrapper {
	margin-left: 20px;
}
#page-etapa2-cadastro .subscribe .section .shipping-tax {
	display:block;
	margin:20px auto;
	margin-left:20px;
}
#page-etapa2-cadastro .subscribe .section label {
	font-weight:normal;
	vertical-align:top;
	padding-top:4px;
	padding-right:10px;
}
#page-etapa2-cadastro .subscribe .section small label {
	width:auto;
	text-align:left;
	padding-left:3px;
	vertical-align:middle;
}
#page-etapa2-cadastro .subscribe .section .change-address {
	background: url(../_IMG/LAYOUT/shipping-change-address.gif);
	width:57px;
	height:22px;
	display:block;
	text-indent:-9999em;
}
#page-etapa2-cadastro .subscribe form fieldset .input-wrapper {
	margin-bottom:9px;
}
#page-etapa2-cadastro .subscribe form fieldset span label,
#page-etapa2-cadastro .subscribe form fieldset small label {
	text-align:left;
	width:auto;
}
#page-etapa2-cadastro .subscribe form fieldset small {
	vertical-align:top;
}
#page-etapa2-cadastro .subscribe form fieldset .input-wrapper em {
	$bold;
}
#page-etapa2-cadastro .subscribe .section label {
	text-align:right;
	width:150px;
}
#page-etapa2-cadastro .subscribe .section .field-description {
	margin-left:162px;
	display:block;
}
#page-etapa2-cadastro .subscribe .section .btn {
	margin-right:10px;
}
#page-etapa2-cadastro .subscribe .section .form-description {
	position:absolute;
	top:60px;
	left:0;
	-left:-192px;
	width:130px;
	padding:10px;
	text-align:right;
	color:#999;
}
#page-etapa2-cadastro .required-field {
	font-weight:bolder;
	font-size:1.5em;
	line-height:1em;
	vertical-align:middle;
	color:#900;
	font-family:Georgia,'Times New Roman', Times, serif !important;
}
#page-etapa2-cadastro .subscribe dfn {
	font-style:normal;
}
#page-etapa2-cadastro .subscribe .actions {
	padding:14px 0;
}
#page-etapa2-cadastro .form-submit-button {
	padding:10px;
	text-align:right;
	overflow: hidden;
}
#page-etapa2-cadastro div.error{
	$bold;
	display:block;
	width:auto;
	padding:4px;
	border:1px solid #E5E5B8;
	background-color:#FFFFCD;
	margin:0px 0px 0px 0px;
	color:#000;
	font-size:12px;
	line-height:18px;
}
#page-etapa2-cadastro div.error span.error-icon{
	margin-right:4px;
}