﻿#page-etapa4-confirmacao .legend {
	margin-bottom:0 !important;
}
#page-etapa4-confirmacao table {
	border-width:1px !important;
}
#page-etapa4-confirmacao table th,
#page-etapa4-confirmacao table td {
	border-width:1px !important;
	padding:10px;
}
#page-etapa4-confirmacao .check-out table thead th,
#page-etapa4-confirmacao .check-out table thead td {
	padding:0 10px;
}
#page-etapa4-confirmacao .check-out table tfoot td {
	padding:1px;
}
#page-etapa4-confirmacao .confirm .item {
	border-bottom: 2px solid #EDEDED;
	border-left: 2px solid #EDEDED;
	border-right: 2px solid #EDEDED;
	overflow: hidden;
	padding: 15px 5px;
	clear:both;
	-overflow:visible;
	-height:248px;
}
#page-etapa4-confirmacao .confirm .order {
	background: url(../_IMG/LAYOUT/success-bg.gif) repeat-x;
	border-top: 2px solid #EDEDED;
	height: 38px;
	padding: 0;
}
#page-etapa4-confirmacao .confirm .order span {
	height: 38px;
	display: block;
	font-size: 15px;
	line-height: 38px;
	padding-left: 50px;
	text-shadow:#fff 2px 1px 0px
}
#page-etapa4-confirmacao .confirm .success {
	$bold;
	color: #51A400;
	border:0 none !important;
	padding-top:0;
	padding-bottom:0;
	background: url(../_IMG/LAYOUT/payment.png) no-repeat 0 -560px;
}
#page-etapa4-confirmacao .confirm .order .fail {
	$bold;
	color:red;
	border:0 none !important;
	padding-top:0;
	padding-bottom:0;
	background: url(../_IMG/LAYOUT/payment.png) no-repeat 0 -600px;
}
#page-etapa4-confirmacao .confirm .order-details {
	overflow: hidden;
	clear:both;
	-height:152px;
	-overflow:visible;
}
#page-etapa4-confirmacao .confirm .order-details p.error{
	width:auto;
	padding:6px;
	border:1px solid #E5E5B8;
	background-color:#FFFFCD;
	margin:0px;
	color:#000;
	font-size:12px;
	line-height:normal;
}
#page-etapa4-confirmacao .confirm .order-container {
	background: url(../_IMG/LAYOUT/confirm-pmt-bg.png);
	width:176px;
	height:152px;
	float:left;
	font-size:11px;
}
#page-etapa4-confirmacao .confirm .order-container span {
	display:block;
}
#page-etapa4-confirmacao .confirm .order-container strong {	
	$bold;
	display:block;
}
#page-etapa4-confirmacao .confirm .order-container .top {
	height:35px;
	padding-top:4px;
	padding-left:55px;
	position:relative;
}
#page-etapa4-confirmacao .confirm .order-container .top img{
	position:absolute;
	top:4px;
	left:4px;
	width:46px;
	height:30px;
}
#page-etapa4-confirmacao .confirm .order-container .middle {
	padding-top: 4px;
	text-align: center;
}
#page-etapa4-confirmacao .confirm .order-container .order-number {
	color:$base-color-1;
	font-size:20px;
	margin-bottom:8px;
	margin-top:8px;
}
#page-etapa4-confirmacao .confirm .order-container small {
	color:#8D8D8D;
}
#page-etapa4-confirmacao .confirm .order-container .bottom {
	height:11px;
}
#page-etapa4-confirmacao .confirm .sub-item {
	float: left;
	font-size: 11px;
	line-height: 19px;
	margin: 10px 0 15px 20px;
	max-width:73%;
}
#page-etapa4-confirmacao .confirm .sub-item span {
	display: block;
}
#page-etapa4-confirmacao .confirm .sub-item strong {	
	$bold;
}
#page-etapa4-confirmacao .confirm .shipping-address {
	border: 2px solid #EDEDED;
	float: left;
	font-size: 11px;
	margin-right: 5px;
	width: 25%;
}
#page-etapa4-confirmacao .confirm .shipping-address strong {
	$bold;
	display: block;
	line-height: 19px;
	margin-left: 10px;
	margin-right: 10px;
}
#page-etapa4-confirmacao .confirm .shipping-address span {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 3px;
	padding-top: 2px;
}
#page-etapa4-confirmacao .confirm .shipping-address .title {
	$bold;
	background-image: -moz-linear-gradient(top center, #f5f5f5, #F0F0F0); background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#F0F0F0)); filter: progid:DXImageTransform.Microsoft.gradient(  Enabled='true',  StartColorStr=#f5f5f5,  EndColorStr=#F0F0F0,  GradientType=0);
	border-bottom: 2px solid #EDEDED;
	color: $base-color-1;
	display: block;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size:13px;
	padding-left:10px;
}
#page-etapa4-confirmacao .confirm .shipping-address .tax {
	margin-top: 15px;
}
#page-etapa4-confirmacao .confirm .shipping-address .pmt-info {
	margin-bottom: 10px;
	padding: 3px;
}
#page-etapa4-confirmacao .check-out .pmt-info {
	background:#FFF9D9;
	border:2px solid #FFD800;
	color:#AB9100;
	font-size:11px;
}
#page-etapa4-confirmacao .confirm .shipping-address .about {
	display: inline;
	margin: 0;
}
#page-etapa4-confirmacao .confirm table {
	float: left;
	width: 74%;
}
#page-etapa4-confirmacao .confirm table tfoot td {
 *border-width:2px;
 *border-color:#EDEDED;
 *border-style:solid;
}
#page-etapa4-confirmacao .confirm .ebit {
	clear: both;
	display: inline-block;
	font-size: 11px;
	margin-top: 15px;
	text-align: center;
}
#page-etapa4-confirmacao .confirm .ebit span {
	display: block;
	margin-bottom: 20px;
}
#page-etapa4-confirmacao .confirm .ebit img {
	margin: 0 auto;
}
#page-etapa4-confirmacao .confirm .tracking {
	background: #EDEDED;
	-height:99px;
}
#page-etapa4-confirmacao .confirm .buttons{
	-height:29px;
}
#page-etapa4-confirmacao .tracking .status {
	clear:both;
}
#page-etapa4-confirmacao .tracking .status li {
	position:relative;
	float:left;
	width:25%;
	overflow:hidden;
	text-align:center;
	background:url(../_IMG/LAYOUT/status-pedido-bg.gif) repeat-x center 65px;
}
#page-etapa4-confirmacao .tracking .status li h4 {
	$bold;
	position:absolute;
	top:0;
	left:5px;
	font-size:30px;
	color:#999;
	border: none;
}
#page-etapa4-confirmacao .tracking .status img {
	display:inline-block;
	width:40px;
	height:36px;
	margin-top:16px;
}
#page-etapa4-confirmacao .tracking .status .current img {
	width:58px;
	height:52px;
	margin:0;
}
#page-etapa4-confirmacao .tracking .status li strong {
	$bold;
	display:block;
	margin:20px 0 10px 0;
	color:#999;
}
#page-etapa4-confirmacao .tracking .status li.finished h4,
#page-etapa4-confirmacao .tracking .status li.finished strong,
#page-etapa4-confirmacao .tracking h3 span.finished {
	color:#090;
}
#page-etapa4-confirmacao .tracking .status li.current h4,
#page-etapa4-confirmacao .tracking .status li.current strong,
#page-etapa4-confirmacao .tracking h3 span.current {
	color:#369;
}
#page-etapa4-confirmacao .tracking .status li.error h4,
#page-etapa4-confirmacao .tracking .status li.error strong,
#page-etapa4-confirmacao .tracking h3 span.error {
	color:#C00;
}
#page-etapa4-confirmacao .tracking .status li.finished {
	background:url(../_IMG/LAYOUT/status-pedido-finalizado-bg.gif) repeat-x center 65px;
}
#page-etapa4-confirmacao .tracking .status li.current {
	background:url(../_IMG/LAYOUT/status-pedido-current-bg.gif) repeat-x center 65px;
}
#page-etapa4-confirmacao .tracking .status li.current span {
	position:absolute;
	top:59px;
	width:12px;
	height:8px;
	left:50%;
	margin-left:-6px;
	background:url(../_IMG/LAYOUT/status-pedido-pointer.gif) no-repeat;
}
#page-etapa4-confirmacao .tracking .status li.finished span {
	position:relative;
	display:inline-block;
	width:16px;
	height:14px;
	margin-left:5px;
	background:url(../_IMG/LAYOUT/status-pedido-finalizado.gif) no-repeat;
}

#page-etapa4-confirmacao .payment-flag {
	margin:0 4px;
	float:left;
}
#page-etapa4-confirmacao .control-panel .full {
	width:100%;
	max-width:100%;
}
#page-etapa4-confirmacao .control-panel .full .small-box {
	width:auto;
	max-width:100%;
}
#page-etapa4-confirmacao .payment-method {
	max-width:390px;
	width:25%;
	float:left;
	overflow:hidden;
	margin-bottom:10px;
	-background:#F5F5F5;
}
#page-etapa4-confirmacao .payment-method .order-id{
	padding:30px 0;
}
.msie6 #page-etapa4-confirmacao .payment-method {
	width:390px;
}
#page-etapa4-confirmacao .payment-instructions {
	width:49%;
	float:right;
	padding-top:10px;
	overflow:hidden;
	margin-bottom:10px;
}
#page-etapa4-confirmacao .payment-instructions p {
	font-size:11px;
	padding:4px 0;
	margin:0;
}
#page-etapa4-confirmacao .payment-method p {
	color:#8D8D8D;
	text-align:center;
	padding:4px;
	margin:0;
}
#page-etapa4-confirmacao .payment-method p b {
	color:black;
}
#page-etapa4-confirmacao .payment-method .order-id p {
	color:$base-color-1;
	font-size:20px;
	font-weight:900;
	margin:0;
	padding:0;
}