﻿#page-etapa3-entrega .shipping .section .another-address {
	border-top: 2px solid #ededed;
	margin-left: -39px;
	padding-left: 39px;
	padding-top: 20px;
}
#page-etapa3-entrega .shipping .shipping-address .change-address {
	display: inline-block;
	vertical-align: middle;
}
#page-etapa3-entrega .shipping .continue {
	margin-top:5px;
}
#page-etapa3-entrega .shipping .shipping-address .use-this-address {
	vertical-align: middle;
}
#page-etapa3-entrega .shipping .shipping-address span {
	margin:0;
}
#page-etapa3-entrega .shipping fieldset label {
	text-align: right;
}
#page-etapa3-entrega .shipping .msg {
	font-weight: normal!important;
	margin-bottom:7px;
	margin-top:10px;
	*padding-bottom:17px;
}
#page-etapa3-entrega .shipping fieldset .msg a {
	$bold;
	color: #000;
}
#page-etapa3-entrega .shipping .add-new-address label {
	width: 105px;
}
#page-etapa3-entrega .shipping .add-new-address .button {
	background: #DB0707;
	margin-left: 135px;
}
#page-etapa3-entrega .shipping .add-new-address .button b {
	color: #FFF;
}
#page-etapa3-entrega .shipping-address .shipping-tax {
	display: block;
}
#page-etapa3-entrega .shipping-address .shipping-time { }
#page-etapa3-entrega .new-adress {
	display:none;
}
#page-etapa3-entrega .wait {
	cursor:wait;
}
#page-etapa3-entrega input.wait {
	background:#f9f9f9;
}
#page-etapa3-entrega input#cep.wait {
	background:#f9f9f9 url(../_IMG/loading.gif) right center no-repeat;
}
#page-etapa3-entrega .control-panel .section .btn {
	margin-left:110px;
}