﻿#page-etapa4-pagamento .control-panel .section .btn {
	margin-left: 0;
}
#page-etapa4-pagamento .confirm-payment .section h5 {
	padding-top:17px
}
#page-etapa4-pagamento .payment-option .title {
	background: url(FILES/_IMG/LAYOUT/payment-method-bg.gif) repeat-x;
	width: 100%;
	height: 57px;
	display: inline-block;
	margin-left: -2px;
	position: relative;
	text-align: left;
	cursor: pointer;
	padding-top:0;
}
#page-etapa4-pagamento .confirm-payment .section .sub-section {
	background: url(../_IMG/LAYOUT/bg-cadastro-form-div.gif) repeat-y;
	margin: 20px 0 0 -37px;
	padding-bottom: 15px;
	padding-left: 190px;
	padding-top: 15px;
	position: absolute;
	top: -20px;
	left:520px;
}
#page-etapa4-pagamento .confirm-payment .address p {
	width:280px;
	line-height:18px;
}
#page-etapa4-pagamento .confirm-payment .section .button {
	margin: 10px 0 0 0;
}
#page-etapa4-pagamento .confirm-payment .section .button:hover {
	border-color:#CCCCCC;
}
#page-etapa4-pagamento .confirm-payment table tfoot td {
	*border-width:2px;
	*border-color:#EDEDED;
	*border-style:solid;
}
#page-etapa4-pagamento .confirm-payment .section div.payment-option {
	background:url(../_IMG/LAYOUT/pmt-container-bg.gif) repeat-y;
	border-right:1px solid #E0E0E0;
	display:block;
	margin:0 15px 15px 0;
	position:relative;
	overflow:hidden;
}
#page-etapa4-pagamento .confirm-payment .title .lbl-radio-bg {
	background:url(../_IMG/LAYOUT/payment-method-radio-bg.gif) #FFF;
	width:53px;
	height:25px;
	color:#7F7F7F;
	display:inline-block;
	font-size:9px;
	line-height:9px;
	padding-top:33px;
	position:absolute;
	top:0;
	left:2px;
	text-align:center;
}
#page-etapa4-pagamento .confirm-payment .title .lbl-right-bg {
	background:url(../_IMG/LAYOUT/payment-method-right-bg.gif);
	width:5px;
	height:57px;
	position:absolute;
	top:0;
	right:-5px;
}
#page-etapa4-pagamento .confirm-payment .section .title strong {
	$bold;
	background: url(../_IMG/LAYOUT/payment.png) no-repeat;
	display: block;
	font-size: 18px;
	height: 45px;
	margin-left: 60px;
	margin-top: 5px;
	padding-left: 65px;
}
#page-etapa4-pagamento .confirm-payment .title.title-2 strong {
	background-position: 0 -60px !important;
}
#page-etapa4-pagamento .confirm-payment .title.title-1 strong {
	background-position: 0 -180px !important;
}
#page-etapa4-pagamento .confirm-payment .title em {
	position: absolute;
	top: 28px;
	left: 125px;
}
#page-etapa4-pagamento input.payment-option {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor:pointer;
}
#page-etapa4-pagamento .confirm-payment div.payment-option ul {
	float: left;
	width: 220px;
}
/* ============ [ LISTA DE FORMAS DE PAGAMENTO ] ============ */
#page-etapa4-pagamento .confirm-payment div.payment-option li {
	position:relative;
	width:218px;
	min-height:48px;
	*height:48px;
	margin-left: 2px;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li img {
	position:absolute;
	top:9px;
	left:25px;
	width:46px;
	height:30px;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li.selected {
	position: relative;
	background: #fff;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li.selected span {
	position: absolute;
	right: 0;
	display: block;
	width:20px;
	height:20px;
	background-image:url(../_IMG/LAYOUT/payment-method-current-li.png);
	background-repeat:no-repeat;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li.selected span.corner-top {
	top: -20px;
	background-position:0 -20px;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li.selected span.corner-bottom {
	bottom: -20px;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li input {
	position:absolute;
	top:17px;
	left:6px;
	cursor:pointer;
}
#page-etapa4-pagamento .confirm-payment div.payment-option li label {
	display:block;
	padding:10px 0 15px 75px;
	margin-left: 5px;
	margin-bottom:2px;
	cursor:pointer;
	background-position:20px 10px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice {
	display: block;
	margin-bottom: 20px;
	margin-left: 230px;
	width: 516px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice div.title-payment {
	font-size:14px;
	margin-top:10px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice div.title-payment b{
	color:$base-color-1;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice p {
	font-size: 13px;
	margin: 0;
	padding: 15px 0;
	text-decoration: underline;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice strong {
	display: inline;
}
#page-etapa4-pagamento .confirm-paymente div.payment-choice label {
	background: none;
	height: auto;
	line-height: auto;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 260px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice span {
	display: block;
	margin-bottom: 10px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice span a {
	color: #000;
	font-size: 11px;
	margin-left: 5px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice label {
	width: 260px;
	margin-right: 5px;
	text-align: right;
	line-height:15px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice .pmt-info {
	margin-bottom:0;
	*margin-bottom:10px;
	background: #FFFFCD;
	padding: 15px;
	line-height: 14px;
}
/* BOTOES DE CHECKOUT >>>>>>>>>>>>>>>>>>>>>>>>>> COMEÇA AQUI */
#page-etapa4-pagamento .confirm-payment div.payment-choice .btn {
	background-image: url(../_IMG/LAYOUT/checkout.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	width: 229px;
	height: 70px;
	display:block;
	border: none;
	padding:0;
	margin:0;
	text-indent:-9999em;
	*padding-top:42px;
	*overflow:hidden;
	background-position:-239px -1102px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice .btn:hover {
	opacity:0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity=90);
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-credito .btn {
	background-position:0 -1023px;
	float:right;
	margin:0 0 15px 0;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-boleto .btn {
	background-position:-239px -1023px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-deposito .btn {
	background-position: 0 -943px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-transferencia .btn {
	background-position: -239px -943px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-debito .btn {
	background-position: 0 -1102px;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice-outras .btn {
	background-position:-239px -1102px;
}
#page-etapa4-pagamento #form-payment div.form-moip .btn {
}
#page-etapa4-pagamento .confirm-payment div.form-visa .btn {
	margin-left: 0 !important;
}
#page-etapa4-pagamento .confirm-payment div.payment-choice .anti-pop-up {
	position:relative;
	height: 70px;
	font-size: 12px;
	margin-bottom: 20px;
	*margin-left: 10px;
	padding-left: 235px;
	width: 100%;
	border: 1px solid #ddd;
	$borderbox;

	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;

	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #ffffff 50%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 50%,#ededed 100%);
	background: linear-gradient(to bottom, #ededed 0%,#ffffff 50%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 );
}
#page-etapa4-pagamento .confirm-payment div.payment-choice .anti-pop-up em {
	display:block;
	padding:7px;
}
#page-etapa4-pagamento .confirm-payment label.payment-choice{
	line-height:normal;
}
#page-etapa4-pagamento .confirm-payment .choice {
	display:none;
	overflow:hidden;
	border-bottom:solid 2px #EDEDED;
}
#page-etapa4-pagamento .confirm-payment .payment-choice .anti-pop-up strong {
	display: inline;
	margin-left: 0;
}
.confirm-payment .payment-choice .anti-pop-up input {
	position:absolute;
	top:0;
	left:0;
}
#page-etapa4-pagamento select.parcelamento{
	width:180px;
}
#page-etapa4-pagamento select.parcelamento optgroup {
	$bold;
	text-indent:3px;
}
#page-etapa4-pagamento select.parcelamento optgroup option{
	font-weight:normal;
	text-indent:0px;
}