﻿#footer {
  color: $footer-font;
  background: $footer;
}
#footer a {
  color: $footer-font;
}
.footer-1 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	background: #fff;
}
.footer-2 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 0.91); /* fundo branco com transparencia */;
	border-top: 1px solid;
	border-bottom: 1px solid;
  
	border-top-color: rgba(0,0,0,0.05);
	border-bottom-color: rgba(0,0,0,0.05);
}
.footer-3 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 0.95); /* fundo branco com transparencia */;
}
.footer-4 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	background: rgba(255, 255, 255, 0.95); /* fundo branco com transparencia */;
}
.footer-5 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 0 0 20px 0;
	background: rgba(255, 255, 255, 0.95); /* fundo branco com transparencia */;
}






/* NEWSLETTER */
#newsletter {
	position: relative;
	display: block;
	float: left;
	width: 65%;
	padding: 0 0 0 90px;
	$borderbox;
}
#newsletter .icon:after {
	content: "\f003";
	position: absolute;
	left: 0;
	display: block;
	float: left;
	font-size: 70px;
	color: $footer-icon;
	$icon;
}
#newsletter .legend {
	display: block;
	float: left;
	font-size: 14px;
	line-height: 31px;
	padding: 0 0 0 0;
	width: 100%;
	$borderbox;
}
#newsletter .legend b.title {}
#newsletter .legend small {
	display: block;
	font-weight: normal;
	font-size: 12px;
}
#newsletter .content {
	position: relative;
	display: block;
	float: left;
	padding: 0 115px 0 0;
	width: 100%;
	$borderbox;
}
#newsletter .input-wrapper {
	display: block;
	float: left;
	width: 50%;
	padding: 0 10px 0 0;
	$borderbox;
}
#newsletter-nome {
	display: block;
	float: left;
	font-size: 12px;
	padding: 0 10px;
	height: 31px;
	color: #444;
	width: 100%;
	$borderbox;
}
#newsletter-email {
	display: block;
	float: left;
	font-size: 12px;
	padding: 0 10px;
	height: 31px;
	color: #444;
	width: 100%;
	$borderbox;
}
#newsletter a.submit {
	position: absolute;
	top: -2px;
	right: 0;
	display: block;
	float: left;
	height: 33px;
	padding: 0 15px;
	line-height: 33px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	color: $font-color-1;
	background-color: $footer-icon;
	$anima;
}
#newsletter a.submit:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);	
}
#newsletter a.submit b {
	position: relative;
	display: block;
	font-size: 14px;
}
#newsletter .validate-success {
	position: absolute;
	display: block;
	top: -15px;
	font-style: italic;
}





/* header-search */
#footer-search {
	display: block;
	float: left;
	width: 36%;
	padding: 8px 0;
	$borderbox;
}
#footer-search > .content {
	position: relative;
	display: block;
	background: #fff;
	border: 1px solid #dfdfdf;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#footer-search .icon {}
#footer-search-query {
	display: block;
	float: left;
	border: 0;
	font-size: 14px;
	padding: 0 70px 0 15px;
	height: 50px;
	width: 100%;
	background: transparent;
	$borderbox;
}
#footer-search a.submit {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 50px;
	width: 70px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	$anima;
}
#footer-search a.submit b:before {
	content: "\f002";
	display: block;
	color: $base-color-1;
	font-size: 22px;
	$icon;
}
#footer-search a.submit:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);	
}





/* footer-atendimento */
.footer-atendimento {
	display: block;
	float: left;
	width: 25%;
	padding: 0 15px 0 0;
	$borderbox;
}
.footer-atendimento .legend {
	$rodape-legend;
}
.footer-atendimento .title {
	$rodape-title;
}
.footer-atendimento ul {
	list-style: none;
}
.footer-atendimento ul li {
	position: relative;
	padding-left: 30px;
	min-height: 30px;
	line-height: 30px;
}
.footer-atendimento ul li.service {
	line-height: inherit;
}
.footer-atendimento li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
	$icon;
	color: $footer-icon;
}
.footer-atendimento li.phone:before {
	content: "\f095";
}
.footer-atendimento li.email:before {
	content: "\f0e0";
}
.footer-atendimento li.skype:before {
	content: "\f17e";
}
.footer-atendimento li.whatsapp:before {
	content: "\f232";
}
.footer-atendimento li.service:before {
	content: "\f017";
}


/* METODOS DE PAGAMENTO */
#payment-methods {
	display: block;
	float: left;
	width: 100%;
	padding: 0 15px 0 0;
	$borderbox;
}
#payment-methods .legend {
	$rodape-legend;
}
#payment-methods .title {
	$rodape-title;
}
#payment-methods .content {}
#payment-methods ul {
	list-style: none;
}
#payment-methods ul li {}
#payment-methods ul li img {
	display: block;
	float: left;
	margin: 2px;
}
#payment-methods ul li b,
#payment-methods ul li br {
	display: none;
}



/* TEXTOS CUSTOMIZADOS */
#custom-texts {
	display: block;
	float: left;
	width: 25%;
	$borderbox;
}
.custom-text {
	display: block;
}
.custom-text .legend {
	$rodape-legend;
}
.custom-text .title {
	$rodape-title;
}
.custom-text .content {}
.custom-text ul {
	list-style: none;
}
.custom-text ul li {}
.custom-text ul li a {
	display: block;
	padding: 4px 0;
}



/* LIKEBOX */
.like-box {
	display: block;
	float: right;
}
.like-box .content {
	display: block;
	background: #fff;
	border: 1px solid #ddd;
}


/* REDES SOCIAIS */
#social-media {
  display: block;
  float: right;
}
#social-media .legend {
	display: block;
	font-size: 14px;
	line-height: 31px;
	$borderbox;
}
#social-media .legend b.title {}
#social-media .content {
	display: block;
	overflow: hidden;
}
#social-media a {
	display: block;
	float: left;
	margin: 0 8px 0 0;
	width: 35px;
	height: 35px;
	text-decoration: none;
}
#social-media a:after {
	content: '';
	display: block;
	font-size: 36px;
	line-height: 35px;
	text-align: center;
	color: $footer-icon;
	$icon;
}


#social-media a.facebook:after {
	content: "\f082";
}
#social-media a.instagram:after {
  content: "\f16d";
}
#social-media a.twitter:after {
  content: "\f081";
}
#social-media a.pinterest:after {
	content: "\f0d2";
}
#social-media a.youtube:after {
	content: "\f166";
}
#social-media a.googleplus:after {
	content: "\f2b3";
}
#social-media a:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80); 
}



/* #security-certificates */
#security-certificates {
	display: block;
	float: right;
}
#security-certificates .legend {
	display: block;
	clear: both;
	font-size: 11px;
	padding-bottom: 5px;
}
#security-certificates .content {}
#seloEncrypt {
	display: block;
	float: right;
	width: 51px;
	height: 40px;
	text-indent: -9999em;
	margin: 0 0 0 10px;
	padding: 5px;
	background-position: 5px -29px;
	background-color: #fff;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


/* COLOPHON */
#colophon {
	display: block;
	clear: both;
	overflow: hidden;
	padding: 20px 0;
	background: rgba(255, 255, 255, 0.99); /* fundo branco com transparencia */;
	border-top: 1px solid;
	border-top-color: rgba(0,0,0,0.05);
}
#disclaimer {
	display: block;
	float: left;
	width: 40%;
	font-size: 11px;
	line-height: 14px;
}
.logotipos {
	display: block;
	float: right;
	margin: 0 0 0 30px;
}
.logotipos b {
	display: block;
	clear: both;
	font-size: 11px;
	padding-bottom: 5px;
}
.logotipos > div {
	display: block;
	float: left;
	text-align: center;
	margin-left: 25px;
}
#ezcommerce {
	display: block;
	width: 93px;
	height: 25px;
	margin: 10px 0;
	text-indent: -9999em;
	padding: 5px;
	background-position: 5px 4px;
	background-color: #fff;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#agencia {
	display: block;
	width: 93px;
	height: 25px;
	text-indent: -9999em;
	padding: 5px;
	background-position: 5px 4px;
	background-color: #fff;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}