﻿.header-1 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	height: 120px;
	background: $header;
	color: $header-font;
	/*transition: all 150ms linear 0s;*/
}
.header-1 a {
	color: $header-font;  
}
.header-1.open {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 999;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}
.header-1.open .header-atendimento,
.header-1.open #welcome-message {
	display: none;
}
.header-1.open #logo .logo-wrapper {
	height: 70px;
}
.header-1.open #logo img {
	max-height: 50px;
}
.header-1.open #header-search {
	top: 16px; 
}
.header-1.open #easy-access-menu {
	top: 21px; 
}
.header-1.open #basket-container {
	top: 10px;
}
.header-1-content {
  position: relative;
  display: block;
  float: right;
  height: 120px;
  width: calc(100% - 250px);
}



.header-2 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 40px 0 0 0;
}
.header-3 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
}



/* LOGO */
#logo {
	display: block;
	position: relative;
	float: left;
}
#logo .logo-wrapper {
	display: table-cell;
	height: 120px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
#logo h1,
#logo strong {
	position: absolute;
	display: block;
	text-indent: -9999em;
}
#logo a {
	display:block;
	max-height: 100%;
	max-width: 100%;
}
#logo img {
	position:relative;
	max-height: 100px;
	max-width: 200px;	
	z-index: 9;
}



/* welcome-message */
#welcome-message {
	position: relative;
	top: 20px;
	display: block;
	float: left;
	line-height: 29px;
}
#welcome-message span {
	display: block;
	float: left;
}
#welcome-message small {
	display: block;
	float: left;
}
#welcome-message a {}
#welcome-message:before {
	content: "\f007";  
	display: block;
	float: left;
	margin: 0 5px 0 0;
	color: $header-icon;
	$icon;
}




/* easy-access-menu */
#easy-access-menu {
	position: absolute;
	right: 110px;
	top: 58px;
	display: block;
	float: right;
	line-height: 29px;
}
#easy-access-menu span {
	display: block;
	float: left;
	padding: 0 0 0 18px;
}
#easy-access-menu .meu-cadastro:before {
	content: "\f007";
	float: left;
	font-size: 130%;
	padding-right: 4px;
	color: $header-icon;
	$icon;
}
#easy-access-menu .meus-pedidos:before {
	content: "\f03a";
	float: left;
	font-size: 130%;
	padding-right: 4px;
	color: $header-icon;
	$icon;
}
#easy-access-menu .fale-conosco:before {
	content: "\f075";
	float: left;
	font-size: 130%;
	padding-right: 4px;
	color: $header-icon;
	$icon;
}



/* header-atendimento */
.header-atendimento {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	float: right;
}
.header-atendimento .legend {
	position: relative;
	line-height: 30px;
	padding: 0 15px 0 30px;
	color: $header;
	background-color: $header-icon;
	$anima;
}
.header-atendimento .legend:before {
	content: '\f078';
	position: absolute;
	top: -1px;
	left: 12px;
	$icon;
}
.header-atendimento .content {
	display: none;
	position: absolute;
	top: 30px;
	right: 0;
	min-width: 220px;
	padding: 6px 30px;
	z-index: 9;
	color: #444;
	background-color: #fff;
	border: 1px solid #ccc;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.header-atendimento:hover .content {
	display: block;
}
.header-atendimento ul {
	list-style: none;
}
.header-atendimento ul li {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 0 40px;
	margin: 12px 0;
}
.header-atendimento ul li b {
	display: block;
}
.header-atendimento ul li small {
	font-size: 11px;
}
.header-atendimento ul li a {
	color: #444;
}
.header-atendimento ul li.phone {}
.header-atendimento ul li.whatsapp {}
.header-atendimento ul li.email {}
.header-atendimento ul li.service {}



.header-atendimento li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 22px;
	color: #444;
	$icon;
}
.header-atendimento ul li.phone:before {
	content: "\f095";
}
.header-atendimento ul li.whatsapp:before {
	content: "\f232";
}
.header-atendimento ul li.email:before {
	content: "\f0e0";
}
.header-atendimento ul li.service:before {
	content: "\f017";
}


/* header-search */
#header-search {
	display: block;
	float: left;
	position: absolute;
	top: 55px;
	left: 0;
	padding: 0 360px 0 0;
	width: 100%;
	$borderbox;
}
#header-search > .content {
	position: relative;
	display: block;
	background: #fff;
	border: 1px solid #dfdfdf;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#header-search .icon {}
#header-search-query {
	display: block;
	float: left;
	border: 0;
	font-size: 12px;
	padding: 0 55px 0 15px;
	height: 35px;
	width: 100%;
	background: transparent;
	$borderbox;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#header-search a.submit {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 33px;
	width: 50px;
	line-height: 33px;
	margin: 1px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	$anima;
}
#header-search a.submit b:before {
	content: "\f002";
	display: block;
	color: $header-icon;
	background: $header;
	font-size: 20px;
	$icon;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#header-search a.submit:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}



/**/
#basket-container {
	display: block;
	float: right;
	position: absolute;
	top: 45px;
	right: 0;
}

/* basket-header */
.basket-header {
	position: relative;
	display: block;
	height: 48px;
	color: $header-icon;
	$anima;
}
.basket-header:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}
.basket-header > a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	color: $header-icon;
	$borderbox;
}
.basket-header .title {
	display: none;
}
.basket-header .content {
	position: relative;
	display: block;
	padding: 3px 0 3px 25px;
}
.basket-header .content:after {
	content: "\f07a";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
	color: $header-icon;
	$icon;
}

.basket-header .content > b {
	position: relative;
	top: 4px;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background-color: #48a148;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	border: 2px solid #fff;
	z-index: 1;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.basket-header .content > i {
	display: none;
	font-style: normal;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}







/* MENUS */
.navigation-wrapper {
	clear: both;
	display: block;
	height: 50px;
	$borderbox;
}


/* MENU HORIZONTAL */
.navigation {
	display: block;
	float: left;
	width: calc(100% - 150px);
}
.navigation .legend {
	display: none;
}
.navigation ul.level-1 {
	list-style: none;
}
.navigation ul.level-1 > li {
	position: relative;
	display: block;
	float: left;
	height: 50px;
}
.navigation ul.level-1 > li > a {
	position: relative;
	display: block;
	font-size: 14px;
	color: $menu-font-1;
	padding: 0 15px;
	line-height: 50px;
	text-decoration: none;
	$bold;
	$anima;
}
.navigation ul.level-1 > li > a:after {
	content: '';
	position: absolute;
	top: 15px;
	right: 0;
	display: block;
	width: 1px;
	height: 20px;
	background: rgba(244, 244, 244, 0.2);
}

.navigation ul.level-2 {
	display: none;
	list-style: none;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 9;
	padding: 10px;
	min-width: 500px;
	background: $menu-2;
	border-top: 3px solid $header-icon;
	$borderbox;
	$boxshadow;

	/* NUMERO DE COLUNAS NO MENU */
	-webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}
.navigation li:hover ul.level-2 {
	display: block;
}
.navigation ul.level-2 > li {
	display: inline-block;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid rgba(244, 244, 244, 0.15);
	$borderbox;
}
.navigation ul.level-2 > li > a {
	position: relative;
	color: $menu-font-2;
	display: block;
	font-size: 14px;
	padding: 8px;
	text-decoration: none;
	$bold;
	$anima;
}

.navigation ul.level-3 {
	display: block;
	list-style: none;
}
.navigation ul.level-3 > li {}
.navigation ul.level-3 > li > a {
	position: relative;
	color: $menu-font-2;
	display: block;
	font-size: 12px;
	padding: 6px 6px 6px 20px;
	text-decoration: none;
	$anima;
}
.navigation ul.level-3 > li > a:before {
	content: '\f105';
	position: absolute;
	top: 5px;
	left: 10px;
	$icon;
}
.navigation ul.level-1 > li:hover > a {  
	background: rgba(0, 0, 0, 0.35);
}
.navigation ul.level-2 > li > a:hover,
.navigation ul.level-3 > li > a:hover {
	/* background: rgba(0, 0, 0, 0.15); */
	background: $menu-font-2;
	color: $menu-2;
}




/* MENU HORIZONTAL - COM BANNER */
.subsection-banner-wrapper {}
.banner-menu-horizontal {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 10;
}
.navigation ul.level-2 .banner-menu-horizontal,
.navigation ul.level-2 + .banner-menu-horizontal{
  left: 220px;
}
.navigation li:hover .banner-menu-horizontal {
	display: block;
}


/* todas-categorias */
.todas-categorias .clear-both {
	clear: both;
	display: block;
	float: left;
	height: 1px;
	margin: 10px 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
}
.todas-categorias {
	display: block;
	float: right;
}
.todas-categorias .legend {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.todas-categorias .title {
	position: relative;
	display: block;
	color: #fff;
	padding: 0 20px 0 45px;
	font-size: 14px;
	line-height: 50px;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.15);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	$anima;
}
.todas-categorias:hover .title {
	background: rgba(0, 0, 0, 0.35);
}
.todas-categorias .title:before {
	content: '\f078';
	position: absolute;
	top: 0;
	left: 20px;
	$icon;
}
.todas-categorias .content {
	display: none;
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 9;
	background: $menu-2;
	min-width: 980px;
	width: 100%;
	border-top: 3px solid $header-icon;
	$borderbox;
	$boxshadow;
}
.todas-categorias:hover .content {
	display: block;
}
.todas-categorias ul.level-1 {
	list-style: none;
	padding: 10px;
	overflow: hidden;
	$borderbox;
}
.todas-categorias ul.level-1 > li {
	display: block;
	float: left;
	width: 20%;
	padding: 5px;
	$borderbox;
}
.todas-categorias ul.level-1 > li > a {
	position: relative;
	color: $menu-font-2;
	display: block;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	$bold;
	$anima;
}

.todas-categorias ul.level-2 {
	display: block;
	list-style: none;
}
.todas-categorias ul.level-2 > li {}
.todas-categorias ul.level-2 > li > a {
	position: relative;
	color: $menu-font-2;
	display: block;
	font-size: 12px;
	padding: 6px 6px 6px 20px;
	text-decoration: none;
	$anima;
}
.todas-categorias ul.level-2 > li > a:before {
	content: '\f105';
	position: absolute;
	top: 6px;
	left: 10px;
	$icon;
}


.todas-categorias ul.level-3 {
	display: block;
	list-style: none;
	padding: 0 10px;
}
.todas-categorias ul.level-3 > li {}
.todas-categorias ul.level-3 > li > a {
	position: relative;
	color: $menu-font-2;
	display: block;
	font-size: 11px;
	padding: 6px;
	text-decoration: none;
	$anima;
}

.todas-categorias ul > li.back,
.todas-categorias ul > li.see-more {
	display: none;
}
.todas-categorias ul > li > a:hover {
	/* background: rgba(0, 0, 0, 0.15); */
	background: $menu-font-2;
	color: $menu-2;
}