﻿.products {
	list-style:none;
	overflow: hidden;
}
.products li a {
	text-decoration: none;
}
.products li {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	margin: 0 0 20px 0;
	$anima;
	$borderbox;
}
.products li:hover {
	background: #eee;
}
.products li .product {
	display: block;
	overflow: hidden;
	padding: 15px;
}
.products .product-name {
	display: block;
	font-size: 12px;
	color: #191919;
	min-height: 40px;
}
.products .product-name a {
	font-size: 12px;
	display: block;
	color: #191919;
	font-weight: normal;
}
.products .photo {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0 0 5px 0;
	text-align: center;
}
.products .rating {
	display: block;
	margin: 0 0 10px 0;
}




/* BOTAO */
.products .buttons {
	display: block;
	clear: both;
}

/* BOTAO DETALHES */
.products .buttons a.details {
	display: block;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: $font-color-3;
	background-color: $base-color-3;
	border-bottom: 3px solid rgba(0,0,0,0.20);
	$anima;
}
.products .buttons a.details:hover {
	-webkit-box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
	box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
}
.products .buttons a.details b {
	position: relative;
	display: block;
	color: #fff;
	padding: 0 20px 0 35px;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
}
.products .buttons a.details b:before {
  content: "\f067";
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 18px;
  $icon;
}



/* BOTAO COMPRAR */
.products .buttons a.buy {
	display: none;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: $font-color-3;
	background-color: $base-color-3;
	border-bottom: 3px solid rgba(0,0,0,0.20);
	$anima;
}
.products .buttons a.buy:hover {
	-webkit-box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
	box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
}
.products .buttons a.buy b {
	position: relative;
	display: block;
	color: #fff;
	padding: 0 20px 0 35px;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
}
.products .buttons a.buy b:before {
  content: "\f07a";
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 18px;
  $icon;
}



/* BOTAO COMPRAR */
.products .buttons a.details-quickview {
	display: none;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: $font-color-3;
	background-color: $base-color-3;
	border-bottom: 3px solid rgba(0,0,0,0.20);
	$anima;
}
.products .buttons a.details-quickview:hover {
	-webkit-box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
	box-shadow:inset 0 0 30px 0 rgba(0,0,0,0.20);
}
.products .buttons a.details-quickview b {
	position: relative;
	display: block;
	color: #fff;
	padding: 0 20px 0 35px;
	font-size: 14px;
	line-height: 30px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
}
.products .buttons a.details-quickview b:before {
  content: "\f07a";
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 18px;
  $icon;
}




/* OUTROS */
.more-sections,
.products .description,
.products .products-sold,
.products .products-countdown,
.products .buttons a.details-quickview {
	display: none;
}



/* COMPONENTS DE VITRINE */
.layout-1,
.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
	position:relative;
	background: #fff;
	margin-bottom: 30px;
}
.layout-1 .content,
.layout-2 .content,
.layout-3 .content,
.layout-4 .content,
.layout-5 .content,
.layout-6 .content {
	margin: 0 15px;
}
.layout-1 .legend,
.layout-2 .legend,
.layout-3 .legend,
.layout-4 .legend,
.layout-5 .legend,
.layout-6 .legend {
	$vitrine-legend;
}
.layout-1 .title,
.layout-2 .title,
.layout-3 .title,
.layout-4 .title,
.layout-5 .title,
.layout-6 .title {
	$vitrine-title;
}
.layout-1 .title a,
.layout-2 .title a,
.layout-3 .title a,
.layout-4 .title a,
.layout-5 .title a,
.layout-6 .title a {
	color: #fff;
	text-decoration: none;
}






/* layout-2 */
.layout-2 {}
.layout-2 .products li {
	margin: 0 0 10px 0;
	padding: 0;
	min-height: 210px !important;
}
.without-left-column.without-right-column .layout-2 .products li {
	width: 33%;
}
.without-right-column .layout-2 .products li {
	width: 50%;
}
.layout-2 .products li .product {
	display: block;
	overflow: hidden;
}
.layout-2 .products .product-name {
	text-align: left;
	min-height: inherit;
}
.layout-2 .photo {
	float: left;
	width: 130px;
	margin-right: 3%;
}
.layout-2 .photo img {
	max-width: 130px;
	max-height: 130px;
}
.layout-2 .product-info {
	float: left;
	width: 51%;
}
.layout-2 .buttons {
	bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}




/* layout-3 */
.layout-3 {
	width: 50%;
	float: left;
}
.layout-3 .content > .products li {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: inherit !important;
}
.layout-3 .products .product-name {
	text-align: left;
	min-height: inherit;
}
.layout-3 .photo {
	float: left;
	padding-right: 3%;
}
.layout-3 .photo img {
	max-width: 150px;
	max-height: 150px;
}
.layout-3 .product-info {
	float: left;
	width: 49%;
}
.layout-3 .buttons {
	bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
}

.layout-3 .content > .products.see-also li {
	width:auto !important;
	min-height: 15px !important;
	margin:0 !important;
	padding:0 !important;
	font-size:10px;
	line-height:14px;
	display:block;
	float:none;
	text-align: left;
	border: 0 !important;
}
.layout-3 .see-also li:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.layout-3 .see-also-title {
	$bold;
	color:#333;
	font-size:14px;
	display:block;
	padding: 0 20px 8px 20px;
}
.layout-3 ul.see-also {
	min-height: 62px;
	padding: 0 20px 20px 20px;
}
.layout-3 .see-also li .price,
.layout-3 .see-also li .product-name, 
.layout-3 .see-also li .product-name a {
	display: inline;
	padding:0;
	font-weight: normal;
	font-size: 11px;
}
.layout-3 .see-also li .price b {
	font-size:11px;
	color: $precos;
}



/* layout-4 */
.layout-4 {}
.without-left-column.without-right-column .layout-4 .products li {
	width: 33%;
}
.without-right-column .layout-4 .products li {
	width: 50%;
}
.layout-4 .product {}
.layout-4 .photo {
	padding: 0 0 15px 0;
}
.layout-4 .photo img {
	max-height: 280px;
	max-width: 280px;
}




/* layout-5 */
.layout-5 {
	width:100%;
	float:left;
}
.layout-5 .content {
	overflow:hidden;
	padding: 0;
	margin: 0 auto;
}
.without-left-column.without-right-column .layout-5 .content {
	width: 90% !important;
}
.without-right-column .layout-5 .content {
	width: 83% !important;
}
.layout-5 .carousel li {
	height:auto;
	width:210px !important;
	margin:10px 5px;
	padding:10px 0;
}
.layout-5 .prev,
.layout-5 .next {
	display: block;
	position: absolute;
	top:44%;
	font-size: 0;
	text-decoration: none;
}
.layout-5 .prev {
	left: 10px;
}
.layout-5 .next {
	right: 10px;
}
.layout-5 .prev:after {
	content: "\f137";
	$icon;
	font-size: 38px;
	color: $base-color-1;
}
.layout-5 .next:after {
	content: "\f138";
	$icon;
	font-size: 38px;
	color: $base-color-1;
}








/* .LAYOUT-6 */
#carousel3D {
	width:602px;
	height:350px !important;
	margin:0 auto;
}
#carousel3D > div {
	display:block;
	height:100%;
    position:absolute;
    width:600px;
}
#carousel3D a img {
	max-height:125px;
	max-width:125px;
}
.layout-6 .content {
	position:relative;
}
.layout-6 .cloudcarousel {
	border: 6px solid #eee;
	overflow: hidden;
}
.layout-6 a:hover .cloudcarousel {
	border-color: #ddd;
}
.layout-6 #carousel-box {
	margin:0 auto;
}
.cloudcarousel-infos{
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center
}
#title-text {
	text-align:center;
	width:100%;
	font-size:20px;
	margin:0 auto 5px;
}
#alt-text {
	font-size:16px;
	width:100%;
	margin:0 auto
}
#alt-text .price {
	text-align: center;
}
#left-but,
#right-but {
	position: absolute;
	top:44%;
	font-size: 11px;
	background: #f1f1f1;
	border: 0;
	display: block;
	text-indent: -9999em;
	text-decoration: none;
	background: transparent;
}
#left-but {
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc transparent transparent;
}
#right-but {
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #ccc;
}
