﻿/* COMPONENT-GROUP */
.component-group {
	overflow:hidden;
}
#page-produtos-secoes #center-footer .top,
#page-produtos-pesquisa #center-footer .top,
#page-produtos-marcas #center-footer .top {
	display:none;
}
#page-produtos-secoes #center-footer .bottom,
#page-produtos-pesquisa #center-footer .bottom, 
#page-produtos-marcas #center-footer .bottom {
	border-top:0 none;
}


/* ARQ: PRODUTOS SECOES */
.component-sections {
	$component;
}
.component-sections .icon {
	$component-icon;
}
.component-sections .title {
	$component-title;
}
.component-sections .content {
	$component-content;
}
.component-sections .content .not-found p {
	font-size:12px;
	line-height:18px;
}


/* ARQ: PRODUTOS PESQUISA */
.component-search {
	$component;
}
.component-search .icon {
	$component-icon;
}
.component-search .title {
	$component-title;
}
.component-search .content {
	$component-content;
}

/* ADVANCED-SEARCH */
.advanced-search {
	$component;
} 
.advanced-search .icon {
	$component-icon;
}
.advanced-search .legend {
	$component-legend;
}
.advanced-search .title {
	$component-title;	
}
.advanced-search .content {
	$component-content;	
}
.advanced-search .content ul {
	list-style:square inside;
	color:#D8D8D8;
}
.advanced-search .content li {
	padding:5px 0 0;
	color:#333;
}
.advanced-search fieldset legend {
	display:none;
}
.advanced-search form div {
	margin:5px 0;
}
.advanced-search form label {
	display:inline-block;
	width:125px;
	text-align:left;
}
.advanced-search .price-range {
	width:100px;
}
.advanced-search .content form#advanced-search {
	padding:15px 0 30px 0;	
}
.advanced-search .content form#advanced-search fieldset div {
	line-height:25px;
}
.advanced-search .content form#advanced-search fieldset div a.submit {
	margin:15px 0 0 0;	
}


/* ARQ: PRODUTOS MARCAS */
.component-brands {
	$component;
	overflow: hidden;
}
.component-brands .icon {
	$component-icon;
}
.component-brands .legend {
	$component-legend;
}
.component-brands .title {
	$component-title;
}
.component-brands .content {
	$component-content;
	overflow: hidden;
}


/* COMPONENT PARA PRODUTOS_MARCAS.ASP */
.brands-list {}
.brands-list ul {
	list-style:none;
}
.brands-list li {
	display: block;
	float: left;
	margin: 10px;
	height: 130px;
	width: 165px;
}
.brands-list li img {
	max-height: 120px;
	max-width: 120px;	
}


/* VEJA TAMBEM */
#see-also {
	$component;
}
#see-also .legend {
	$component-legend;
}
#see-also .title {
	$component-title;
}
#see-also .content {
	$component-content;
}
#page-produtos-pesquisa #see-also .products li .photo img {
	width: 150px;
	height: 150px;
}


/* COMPONENT PARA MENU DE MARCAS */
.brands {
	clear:both;
	background: #fff;
	border:4px solid #eee;
}
.brands .header,
.brands .icon,
.brands .legend,
.brands .footer {
	display:none;
}
.brands .content {
	width: 86% !important;
	height: 60px;
	padding: 10px 0;
	margin: 0 auto;
	overflow: hidden;
}
.brands ul {
	list-style: none;
}
.brands li {
	height: 60px;
	margin: 0 10px;
}
.brands .prev,
.brands .next {
	position: absolute;
	top: 25px;
	font-size: 0;
	text-decoration: none;
}
.brands .prev {
	left: 15px;
}
.brands .next {
	right: 15px;
}
.brands .prev:after {
	content: "\f137";
	$icon;
	font-size: 38px;
	color: $base-color-1;
}
.brands .next:after {
	content: "\f138";
	$icon;
	font-size: 38px;
	color: $base-color-1;
}



/* NUVEM DE PALAVRAS PESQUISADAS */
.tag-cloud {
	$component;
}
.tag-cloud .legend {
	$rodape-legend;
}
.tag-cloud .title {
	$rodape-title;
}
.tag-cloud .content {
	$component-content;
}


/* HISTORICO DE NAVEGACAO */
.browsing-history {
	$component;
}
.browsing-history .legend {
	$rodape-legend;
}
.browsing-history .title {
	$rodape-title;
}
.browsing-history .content {
	$component-content;
}
.browsing-history ul {
	list-style: none;
}
.browsing-history ul > li {
	display: block;
	float: left;
	width: 33.3%;
}
.browsing-history a.clear-history {
	position: absolute;
	right: 0;
	top: 10px;
}




/* ATENDIMENTO */
.treatment {
	$component;
}
.treatment .legend {
	$component-legend;
}
.treatment .icon {
	$component-icon;
}
.treatment .title {
	$component-title;
}
.treatment .content {
	$component-content;
}
.treatment .content .control-panel {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 1px solid #e0e0e0;
	border-bottom: 0;
}




/* PÁGINAS DE TEXTOS CUSTOMIZADOS */
#page-textos #middle .component {
	$component;
}
#page-textos #middle .legend {
	$component-legend;
}
#page-textos #middle .icon {
	$component-icon;
}
#page-textos #middle .title {
	$component-title;
}
#page-textos #middle .content {
	$component-content;
}
#page-textos #middle .content ul,
#page-textos #middle .content ol {
	padding:0 0 0 30px;
}


/* ERRO 404 */

/* PÁGINAS DE TEXTOS CUSTOMIZADOS */
#page-erro404 #page-not-found {
	position:relative;
}
#page-erro404 #page-not-found .component {
	$component;
}
#page-erro404 #page-not-found .legend {
	$component-legend;
}
#page-erro404 #page-not-found .icon {
	$component-icon;
}
#page-erro404 #page-not-found .title {
	$component-title;
}
#page-erro404 #page-not-found .content {
	$component-content;
	line-height: 20px;
}
#page-erro404 #page-not-found .content .actions {
	display: block;
	padding: 10px 0;
}

#page-listas-desejos #middle form  table td {
	background:none !important;
	padding:0 0 8px 0;
}
#page-listas-desejos #middle form table td br {
	display:none;
}
#page-listas-desejos #middle form table td strong {
	float:left;
	font-weight:normal;
	padding: 8px 5px 0 0;
	width:77px;
	display:block;
	text-align:right;
}
#page-listas-desejos #middle > table > tbody > tr td {
	background:none !important;
}
#page-listas-desejos #middle > table > tbody > tr td nobr strong {
	$bold;
	font-size:22px;
	display:inline;
	text-align:left;
}
#page-listas-desejos #middle form table td input.type-text {
	float:left;
	width:303px  !important;
	height:22px;
}
#page-listas-desejos #middle form table td input.type-submit,
#page-listas-desejos #middle input.type-button {
	background-color: #CD0028;
    background-position: 0 -860px;
    border: medium none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 19px;
    margin: 0 60px 0 0;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
}
#page-listas-desejos #middle input.type-button {
	margin:0;
}