﻿/* COMPONENT-BOX */
.component-box {
	overflow:hidden;
}
.component-box .top {
	font-size: 12px;
	overflow:hidden;
	padding: 12px 10px;
	border-bottom: 1px solid #ccc;
}
#page-produtos .component-box .top {
	border-bottom: 0;
	padding: 0 0 10px 0;
}
.component-box .bottom {
	padding: 10px;
	overflow:hidden;
}


/* BREADCRUMB */
.breadcrumb {
	float:left;
}
.breadcrumb .you-are-at {
	padding-right: 3px;
}
.breadcrumb .split {
	$bold;
	color:#888;
}
.breadcrumb h1 {
	font-size:100%;
	display:inline;
}
.breadcrumb h1 {
	$bold;
}
.breadcrumb a {
	color:black;
}

/* RESULTS */
.results {
	color: #000;
	float:right;
}
.results span {
	$bold;
}

/* ORDERING */
.ordering {
	color: #000;
	float: left;
}
.ordering select {
	font-size: 12px;
}

/* PAGINATION */
.page-number {
	float: right;
}



.page-number span {
	display: block;
	float: left;
	font-size: 12px;
	line-height: 20px;
}
.page-number .page-selected {
	margin: 0 2px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
}
.page-number span a {
	color: #333;
	text-decoration: none;
}
.page-number span.page-index a {
	display: block;
	width: 20px;
	height: 20px;
}
.page-number span.page-index {
	position: relative;
	display: block;
	margin: 0 2px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #848484;
	border: 1px solid #ccc;
}
.page-number span.page-index:hover {	
	border: 1px solid #000;
	color: #000;
}

.page-number .page-previous,
.page-number .page-next {
	font-size: 0;
}
.page-number .page-previous a {
	$bold;
	display: block;
	float: left;
	position: relative;
	font-size: 12px;
	padding: 0 10px 0 0;
}
.page-number .page-next a {
	$bold;
	display: block;
	float: left;
	position: relative;
	font-size: 12px;
	padding: 0 0 0 10px;
}
.page-number .page-next a:hover,
.page-number .page-previous a:hover {
	color: $base-color-1;
}


/* SEARCH-RESULTS */
.search-results {
	clear:both;
	padding:15px 0 0 0;
}
.search-results strong {
	position:relative;
	border-bottom:1px dashed #DDD;
}