.check-out.identification {
  margin: 0 auto;
}

/* INICIO NOVO LAYOUT PAINEL DE CADASTRO*/
.identification .safe {
	clear: both;
}
.identification .options {
	float: none;
	overflow: hidden;
}
.identification .signin,
.identification .signup {
	border: 1px solid #ccc;
}
.identification .info {
	overflow:hidden;
	margin:0 auto;
	padding-top: 30px !important;
}
.identification .info .signin {
	float: left;
	position:relative;
	width: 48%;
}
.identification .info .signup {
	float: right;
	position:relative;
	width: 48%;
}
.identification .signin div small a {
	display: block;
}
.identification div small a {
	color:#000;
	text-decoration:underline;
}
.identification form span {
	display: inline;
	margin-left: 5px;
}
.identification .legend {
	position: relative;
	display: block;
	padding: 15px;
	margin: 0;
	color: #fff;
	background: $base-color-2;
}
.identification .signup .legend {
	color: $base-color-2;
	background: #fff;
}
.identification .title {
	$bold;
	display: block;
	font-size: 20px;
	text-transform: uppercase;
}
.identification .content {
	display: block;
	border-top: 0;
	padding: 15px 27px;
	overflow: hidden;
	font-size: 14px;
	background: #fff;
}
.identification div.error{
	display:block;
	width:auto;
	padding:4px;
	border:1px solid #E5E5B8;
	background-color:#FFFFCD;
	margin:0px 0px 0px 0px;
	color:#000;
	font-size:12px;
	font-weight:normal;
	line-height:18px;
}
.identification div.error span.error-icon{
	margin-right:4px;
}
.identification .field-wrapper input {
	padding:9px;
	width:400px
}

.identification .field-wrapper #cep_novo,
.identification .field-wrapper #cep {
	width:180px;
	margin:0 10px 0 0;
}
.identification .content i {
	font-style: normal;
	font-size: 14px;
}
.identification label {
	display:block !important;
	margin:10px 0 5px 0;
	font-weight: normal;
	font-size: 14px;
	color:#000;
}
.identification fieldset {
	background:none;
	-position:static !important;
	-display:block;
}
.identification .content form small {
	position: absolute;
	bottom: 15px;
	float:left;
	height: 30px;
	overflow: hidden;
	font-size: 11px;
	width: 220px;
}
.identification .continue {
	display: block;
	float: right;
	padding-top: 15px;
}
