/* CLIENT-PANEL: PAINEL_PEDIDOS_VISUALIZAR.ASP */
#page-painel-meus-pedidos-visualizar .control-panel .outer-panel hr {
	margin:0;
	border: 0 none;
	border-top:2px solid #EDEDED;
}
#page-painel-meus-pedidos-visualizar .check-out {
	overflow:hidden;
	width:100%;
	margin-bottom:10px;
	margin-top:10px !important;
}
#page-painel-meus-pedidos-visualizar .check-out table .address {
	line-height:12px;
}
#page-painel-meus-pedidos-visualizar .check-out .shipping-address {
	margin-top:10px;
}
#page-painel-meus-pedidos-visualizar .credit-card-details li {
	font-size:12px;
	line-height:20px;
}
#page-painel-meus-pedidos-visualizar .credit-card-details li b {
	display:inline-block;
	text-align:right;
	width:50%;
	color:$base-color-1;
}
#page-painel-meus-pedidos-visualizar .order-status-tag {
	
}
/* CLIENT PANEL: ORDER STATUS */
#page-painel-meus-pedidos-visualizar .order-status {
	-height:1%;
}
#page-painel-meus-pedidos-visualizar .control-panel hr {
	display: block;
	float:none;
	width:98%;
	margin-bottom:10px;
}
#page-painel-meus-pedidos-visualizar .order-status .icon {
	background-position:0 -300px;
}
#page-painel-meus-pedidos-visualizar .payment-method p {
	color:#8D8D8D;
	text-align:center;
	padding:4px;
	margin:0;
}
#page-painel-meus-pedidos-visualizar .payment-method p b {
	color:black;
}
#page-painel-meus-pedidos-visualizar .payment-method .order-id p {
	color:$base-color-1;
	font-size:20px;
	font-weight:900;
	margin:0;
	padding:0;
}
#page-painel-meus-pedidos-visualizar .payment-flag {
	margin:0 4px;
	float:left;
}
#page-painel-meus-pedidos-visualizar .control-panel .full {
	width:100%;
	max-width:100%;
}
#page-painel-meus-pedidos-visualizar .control-panel .full .small-box {
	width:auto;
	max-width:100%;
}
#page-painel-meus-pedidos-visualizar .payment-method {
	width:49%;
	float:left;
	overflow:hidden;
	margin-bottom:10px;
	-background:#F5F5F5;
}
#page-painel-meus-pedidos-visualizar .payment-instructions {
	width:49%;
	float:right;
	padding-top:10px;
	overflow:hidden;
	margin-bottom:10px;
}
#page-painel-meus-pedidos-visualizar .payment-instructions p {
	font-size:11px;
	padding:4px 0;
	margin:0;
}
#page-painel-meus-pedidos-visualizar .order-tracking {
	margin:10px 0;
}
#page-painel-meus-pedidos-visualizar .check-out {
	margin-top:15px;
	position:relative;
	z-index:0;	
}
#page-painel-meus-pedidos-visualizar .check-out .section strong,
#page-painel-meus-pedidos-visualizar .check-out table strong {
	$bold;
	display: block;
}
#page-painel-meus-pedidos-visualizar .check-out .address span,
#page-painel-meus-pedidos-visualizar .check-out fieldset span {
	display: block;
	line-height: 18px;
	margin-left: 20px;
}
#page-painel-meus-pedidos-visualizar .check-out table {
	width: 100%;
	border: 2px solid #ededed;
}
#page-painel-meus-pedidos-visualizar .check-out table td {
	border: 2px solid #ededed;
	text-align: center;
	padding:10px;
}
#page-painel-meus-pedidos-visualizar .check-out table td.quantity div {
	z-index:1;
}
#page-painel-meus-pedidos-visualizar .check-out table thead {
	$bold;
	height: 30px;
	text-align: center;
	background: url('../_IMG/LAYOUT/section-table-thead-bg.gif') repeat-x;
}
#page-painel-meus-pedidos-visualizar .check-out table thead th {
	height: 30px;
	padding: 0;
	text-align: center;
	width:110px;
	border: 2px solid #ededed;
	color:$base-color-1;
	font-size:13px;
}
#page-painel-meus-pedidos-visualizar .check-out table .product {
	text-align: left;
	width:auto;
	padding-left: 10px;
}
#page-painel-meus-pedidos-visualizar .check-out table th.product {
	padding-left: 10px;
}
#page-painel-meus-pedidos-visualizar .check-out table strong {
	margin-left: 0;
	font-size:13px;
}
#page-painel-meus-pedidos-visualizar .check-out table tfoot {
	border: 2px solid #ededed;
}
#page-painel-meus-pedidos-visualizar .check-out table tfoot td {
	border: none;
	padding: 1px;
	text-align: right;
	white-space:nowrap;
}
#page-painel-meus-pedidos-visualizar .check-out table tfoot span,
#page-painel-meus-pedidos-visualizar .check-out table tfoot em {
	background: #ededed;
	display: block;
	font-size: 13px;
	line-height: 29px;
	margin: 0;
	padding-right: 5px;
	min-height:31px;
	-height:31px;
	z-index:1;
}
#page-painel-meus-pedidos-visualizar .check-out table tfoot tr td.last{
	border-right: 2px solid #ededed;
}
#page-painel-meus-pedidos-visualizar #shipping-types td{
	border-right: 2px solid #ededed !important;
}
#page-painel-meus-pedidos-visualizar .check-out table em {
	$bold;
	color:$base-color-1;
}
#page-painel-meus-pedidos-visualizar .check-out table del{
	text-decoration:line-through;
}
#page-painel-meus-pedidos-visualizar .check-out fieldset input,
#page-painel-meus-pedidos-visualizar .check-out fieldset em {
	margin-left: 10px;
}
#page-painel-meus-pedidos-visualizar .check-out .send-btn {
	background: none;
	border: none;
	float: right;
	padding: 0;
}
#page-painel-meus-pedidos-visualizar .check-out .send-btn input {
	border: none;
}
#page-painel-meus-pedidos-visualizar .check-out .help {
	margin-top: 30px;
}
#page-painel-meus-pedidos-visualizar .check-out .help a {
	display: inline-block;
	padding-top: 7px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
#page-painel-meus-pedidos-visualizar .check-out .help .phone {
	background: url('../_IMG/LAYOUT/botoes.png') no-repeat -1px -125px;
	height: 47px;
	padding-left: 45px;
}
#page-painel-meus-pedidos-visualizar .check-out .help .person {
	background: url('../_IMG/LAYOUT/botoes.png') no-repeat -1px -185px;
	height: 47px;
	padding-left: 68px;
	display:none;
}
#page-painel-meus-pedidos-visualizar .check-out .help a strong {
	$bold;
	display: block;
	font-size: 14px;
}
#page-painel-meus-pedidos-visualizar .check-out .help {
	height:52px;
	padding:12px 0;
}
#page-painel-meus-pedidos-visualizar .check-out .help a,
#page-painel-meus-pedidos-visualizar .help span {
	display: inline-block;
	padding-top: 7px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
#page-painel-meus-pedidos-visualizar .check-out .help .phone {
	background: url('../_IMG/LAYOUT/botoes.png') no-repeat -1px -125px;
	height: 47px;
	padding-left: 45px;
}
#page-painel-meus-pedidos-visualizar .check-out .help .person {
	background: url('../_IMG/LAYOUT/botoes.png') no-repeat -1px -185px;
	height: 47px;
	padding-left: 68px;
}
#page-painel-meus-pedidos-visualizar .check-out .help a strong, .help span strong {
	$bold;
	display: block;
	font-size: 14px;
}
#page-painel-meus-pedidos-visualizar .clearing-wrapper {
	overflow:hidden;
}


