#page-painel-cadastro .client-treatment {
 	display:none;
}
#page-painel-cadastro .outer-panel {
	margin:0;
}
#page-painel-cadastro .cp-title {
	display:none;
}
#page-painel-cadastro .control-panel .legend {
	margin-bottom:0;
}
#page-painel-cadastro .outer-panel,
#page-painel-cadastro .outer-panel-wrapper {
	border-top:0 none;
	-webkit-border-radius:0;	
	-moz-border-radius:0;
	border-radius:0;
}