﻿#page-painel-cadastro .continue .loader {
	display: none;
}

/* FIM NOVO LAYOUT PAINEL DE CADASTRO*/
.control-panel {
	position:relative;
}
.control-panel .legend {
	$component-legend;
}
.control-panel .legend .icon {
	$component-icon;
}
.control-panel .legend .title {
	$component-title;
}
.control-panel .content {
	overflow: hidden;
}
.control-panel .legend div {
	position: absolute;
	right: 0;
	top: 12px;
}
.control-panel .legend div > b {
	font-size: 14px;
}
.control-panel .legend div a.btn {
	margin-left: 10px;
	background-color: $base-color-1;
}



/* CLIENT-PANEL: PANEL */
.outer-panel {
	border: 1px solid #D6D6D6;
	border-top: 0;
	padding: 0;
	margin: 0 0 0 166px;
}
.outer-panel-wrapper {
	padding:5px;
	border:1px solid #D6D6D6;
	margin:0 -1px;
	border-bottom:0 none;
}
.inner-box {
	background:#F2F2F2;
	height:auto;
	margin:0 auto;
	margin-bottom:5px;
	padding:5px;
	background-color:#F2F2F2;
	overflow:hidden;
	border:1px solid #E4E4E4;
}
.inner-box .icon {
	display:block;
	float:left;
	height:64px;
	width:64px;
}
.inner-box .actions {
	list-style-type:none;
	margin:0;
	padding:0;
	float:left;
}
.inner-box .actions li {
	padding:0;
	margin:0;
	display:inline;
	font-size:11px;
}
.small-box {
	min-width:180px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	border:1px solid #E4E4E4;
	margin:0;
	padding:0;
	background-image:-moz-linear-gradient(top, #F2F2F2 0%, #FFFFFF 50%, #F2F2F2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(50%,#FFFFFF), color-stop(100%,#F2F2F2));
	filter: progid:DXImageTransform.Microsoft.gradient(  Enabled='true',  StartColorStr=#FFFFFF,  EndColorStr=#F2F2F2,  GradientType=0);
}
.small-box-wrapper {
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	border: 1px solid #E4E4E4;
	border-bottom:0 none;
	margin:0 -1px;
}
.small-box-inner-wrapper {
	border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius:4px;
	border:1px solid white;
}
.control-panel hr.clear {
	clear:both;
	display:block;
	margin:10px 0;
}
.control-panel .page-number {
	margin:1em 0;
	float:none;
}
.control-panel .user-info {
	padding:0;
}
.control-panel a.alt b {
	font-weight:900;
	color:#FFF;
	-background:$base-color-1;
}
.control-panel a.alt:hover b {
	color:#FFF;
	-background:#E82323;
}
.control-panel a.alt:active b {
	color:#FFF;
	-background:#C80303;
}
.control-panel a.alt {
	background-color:$base-color-1;
	border-color:$base-color-1;
}
.control-panel a.alt:hover {
	background-color:#E82323;
	border-color:#E82323;
}
.control-panel a.alt:active {
	background-color:#C80303;
	border-color:#C80303;
}

/* CLIENT-PANEL: FORMS */
.control-panel .section {
	background:url(../_IMG/LAYOUT/bg-cadastro-form-div.gif) repeat-y;
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
	padding-left:185px;
	padding-top:15px;
	position:relative;
	min-height: 100px;
}
.control-panel .section h5 {
	$bold;
	text-shadow:#FFF 0 1px 0;
	width:135px;
	height:48px;
	font-size:18px;
	color: $base-color-1;
	padding-left:5px;
	padding-top:18px;
	position: absolute;
	top:0;
	left:0;
	-left:-192px;
	text-align: right;
}
.control-panel .section strong {
	$bold;
	display: block;
}
.control-panel .section small,
.control-panel .section label,
.control-panel .section textarea,
.cliente-panel .section strong,
.control-panel .section input,
.control-panel .section select {
	font-size:12px;
	font-weight:normal;
}
.control-panel .section .hide {
	display: none;
}
.control-panel .section .address span,
.control-panel .section fieldset span {
	display: block;
	margin-left: 162px;
}
.control-panel span.field-description {
	display:block;
	width:290px;
	line-height:15px;
	padding:5px 0 15px 0;
	vertical-align:middle;
	font-size:11px;
	color:#808080;
}
.control-panel .address strong {
	margin-left: 20px;
}
.control-panel .section .shipping-tax {
	display: block;
}
.control-panel .section label {
	font-weight: normal;
	vertical-align:top;
	padding-top:4px;
	padding-right:10px;
}
.control-panel .section small label {
	width:auto;
	text-align:left;
	padding-left:3px;
	vertical-align:middle;
}
.control-panel .section .change-address {
	background: url(../_IMG/LAYOUT/shipping-change-address.gif);
	width: 57px;
	height: 22px;
	display: block;
	text-indent: -9999em;
}
.control-panel form fieldset strong {
	margin-bottom: 9px;
}
.control-panel form fieldset span label,
.control-panel form fieldset small label {
	text-align: left;
	width: auto;
}
.control-panel .section small {
	vertical-align:top;
}
.control-panel .section .field-wrapper {
	margin-bottom:4px;
}
.control-panel .section .field-wrapper em {
	$bold;
}
.control-panel .section .field-wrapper label {
	text-align:right;
	width:150px;
	display:inline-block;
}
.control-panel .section .no-width {
	width:auto !important;
	vertical-align:-4px !important;
	margin-left:4px !important;
}
.control-panel .section .field-description {
	margin-left:162px;
	display:block;
}
.control-panel .wishlist-share-form .section .btn.submit,
.control-panel .wishlist-edit .section .btn.submit {
	margin-left:162px;
}
.control-panel .section .form-description {
	$bold;
	position:absolute;
	top:60px;
	left:0;
	-left:-192px;
	width:130px;
	padding:10px;
	text-align:right;
	color:#999;
	font-size: 13px;
}
.control-panel .section fieldset.send-btn.continue {
	padding-right: 15px;
}
.required-field {
	$bold;
	font-size: 1.5em;
	line-height: 1em;
	vertical-align: middle;
	color: #f00;
	font-style: normal;
}
.control-panel dfn {
	font-style:normal;
}
.control-panel .actions {
	padding:14px 0;
}
.form-submit-button {
	position: relative;
	top: -7px;
	right: 10px;
	text-align:right;
	overflow: hidden;
}

/* CLIENT PANEL: MENU */
.client-menu-wrapper {
	float:left;
	width:160px;
}
.control-panel-menu {
	border: 1px solid #D6D6D6;
	border-top: 0;
	padding: 0;
	margin: 0 0 10px 0;
}
.control-panel-menu-wrapper {
	padding: 0;
	background-color: #F2F2F2;
}
.client-menu-wrapper a.btn-alt {
	margin-bottom: 10px;
}
.client-menu-wrapper a.btn-alt b {
	width: 142px;
}
.client-menu-wrapper a.btn b {
	width:130px;
	font-size: 11px;
}
ul.services {
	list-style:none;
	padding:0;
	margin:0 -1px;
	line-height: 24px;
	border:1px solid #D6D6D6;
	border-bottom:0 none;
	*margin:0;
	*border-left:0;
	*border-right:0;
	-border-top:2px solid #D6D6D6;
}
ul.services li,
ul.services li ul li {
	display:block;
	padding:0;
	margin:0;
}
ul.services a {
	display:block !important;
	padding-left:10px;
	text-decoration:none;
	background:#F2F2F2;
	color:#000;
	font-size: 12px;
	border-top:1px solid #F9F9F9;
	border-bottom:1px solid #E4E4E4;
}
ul.services a:hover {
	background:#FFFFFF;
	text-decoration:none;
}
ul.services a:active {
	background:#E4E4E4;
}
ul.services a.current {
	background:#222;
	color:white;
	margin:0 -1px;
	border-color:#222;
	*margin:0;
}
ul.services a.current:hover {
	background:#000;
	text-decoration:none;
	cursor:default;
}
ul.services a.current:active {
	top:0;
}
ul.services a.first {
	border-top:0 none;
	border-bottom:1px solid #E4E4E4;
}
ul.services a.last {
	border-bottom:0 none;
}
ul.services ul {
	padding:0;
	margin:0;
	list-style:none;
}
ul.services ul li a {
	font-size:11px;
	padding-left:20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.control-panel-menu {
		width: 160px;
		border:1px solid #D6D6D6;
		float:left;
		display:block;
		max-width: 160px;
		overflow:visible;
	}
}

/* CLIENT PANEL: TITLES */
.control-panel .cp-title {
	position: relative;
	color: #555;
	font-size: 16px;
	display: block;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;
	border: 1px solid #fff;
	border-bottom: 0 none;

	background-image: -moz-linear-gradient(top center, #ffffff, #f5f5f5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
	filter: progid:DXImageTransform.Microsoft.gradient(  Enabled='true',  StartColorStr=#ffffff,  EndColorStr=#f5f5f5,  GradientType=0);
}

.control-panel .cp-title span {
	display:inline-block;
	width:0;
	height:0;
	line-height:0;
	margin:0 4px;
	border:5px solid transparent;
	border-left-color:$rosa-claro;
}
.inner-box h3 {
	float:left;
	margin:10px 0;
	padding:0;
	font-size:13px;
	font-weight:900;
	text-shadow:#FFFFFF 0 1px 0;
	width:40%;
	margin-right:2%;
}
.control-panel span.description {
	font-size:11px;
	font-weight:normal;
	margin:0;
	padding:0 0 1em 0;
}
.control-panel h5.inner-title {
	font-size: 11px;
	line-height: 15px;
	font-weight:normal;
	padding:7px 0;
	margin:0;
	border-radius:4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border:1px solid #FFF;
	border-bottom:0 none;
}


/* TABLE DEFAULTS */
.control-panel table {
	border-collapse:separate !important;
	border-spacing:0 0 !important;
}
.control-panel table {
	width:100%;
	border-collapse:collapse;
}
.control-panel table th,
.control-panel table td {
	padding:5px;
}
.control-panel table thead th {
	$bold;
	background-image: -moz-linear-gradient(top center, #f5f5f5, #F0F0F0);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#F0F0F0)); filter: progid:DXImageTransform.Microsoft.gradient(  Enabled='true',  StartColorStr=#f5f5f5,  EndColorStr=#F0F0F0,  GradientType=0);
	color: #444;
	text-align: left;
	font-size: 15px;
	line-height: 25px;
	text-shadow: #fff 0 1px 0;
	border-bottom: 1px solid #D6D6D6;
}
.control-panel table thead th.first {
	border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
}
.control-panel table thead th.last {
	border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
	border-right:1px solid #FFF;
}
.control-panel table tr td {
	font-size:12px;
	border-bottom:1px solid #EAEAEA;
}
.control-panel table tr.last td {
	border-bottom:0 none;
}
.control-panel table tr.even td {
	background:#FFFFFF;
}
.control-panel table tr.odd td {
	background:#F9F9F9;
}
.control-panel table tr.first td {
	background:#FFFFCD;
}
.control-panel table tbody tr:hover td {
	background:#FFFFCD !important;
}
.control-panel table td.action a {
	color:black;
	text-decoration:underline;
}
.control-panel table td.action a:hover {
	text-decoration:none;
}
.control-panel table td.action a:active {
	text-decoration:underline;
}
.control-panel table tr.last td.first {
	border-radius:0 0 0 5px;
	-webkit-border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
}
.control-panel table tr.last td.last {
	border-radius:0 0 0 5px;
	-webkit-border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
}
.control-panel .action.destroy {
	color:$base-color-1;
}
.control-panel table tbody tr.current td,
table tbody tr.current:hover td {
	background-image: -moz-linear-gradient(top center, #55aaff, #3875bd) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#55aaff), to(#3875bd)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( Enabled='true', StartColorStr=#55aaff, EndColorStr=#3875bd,  GradientType=0) !important;
	color:white;
	text-shadow:#3875bd 0 -1px 0;
}

/* WISHLIST PRODUCTS TABLE */
.control-panel .wishlist-products .product img {
	max-width: 80px;
	max-height: 80px;
	float:left;
	margin-right: 10px;
}
.control-panel .wishlist-products .product a strong {
	color:black;
	display:block;
	padding-top: 10px;
	vertical-align:middle;
}
.control-panel .wishlist-products .product a:hover strong {
	text-decoration:underline;
}
.control-panel .wishlist-products .product a:active strong {
	text-decoration:none;
}
.control-panel .wishlists-products .actions {
	width:1px;
}
.control-panel span.inactive-list,
.control-panel span.active-list {
	padding:2px 4px;

	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.control-panel .inactive-list {
	background:#888;
	color:$font-color-4;
	font-weight:900;
	text-shadow:#DDD 0 1px 0;
}
.control-panel .active-list {
	background:$base-color-1;
	color:#FFF;
	font-weight:normal;
}
/* CONTROL PANEL FORMS */
.control-panel .form-wrapper {
	background:white;
	margin-top:70px;
	clear:both;
	position:relative;
	border:2px solid #EDEDED;
	*margin:0;
	*overflow:hidden;
	-zoom:1;
}
.control-panel  legend {
	display:none
}
.control-panel .success {
	display:block;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;
	border:2px solid #CEC;
	background:#DFD;
	color:black;
	padding:4px;
	margin-bottom:4px;
}
.section #lblAddress2 {
	width:auto !important;
	margin-left:5px !important;
}
.control-panel .blank-slate {
	background:#FFFFCC;
	border:2px solid #F0F0C0;
	padding:8px;
}
.table-wrapper {
	border:1px solid #CCC;
	-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
}

#page-painel-confirmar-pagamento .highlight-box { max-width:400px; font-size:11px; font-style:normal !important; background:#FFFFCD; border:1px solid #FFE56B; padding:10px; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; display:block; clear:both; -width:400px; -height:auto;}
#page-painel-confirmar-pagamento .highlight-box b { font-size:12px; display:block;}
#page-painel-confirmar-pagamento .highlight-box small {font-size:11px; color:#666; display:block; padding:0 !important; margin:10px 0}
#page-painel-confirmar-pagamento .highlight-box a.btn {margin-left:0 !important;}
#shipping-types .options .error {
	background:#FFFFCD;
	font-size:12px;
	padding:10px;
	color:#bf2222;
}



.outer-panel .notify {
	display: block;
	padding: 10px;
	margin: 10px 0;
	line-height: 14px;
}

.control-panel .warning-box {
	display: block;
	padding: 10px;
	margin: 10px 0;
	line-height: 14px;
	background: #ffffcc;
	border: 2px solid #f0f0c0;
}