/* CONTROL-PANEL: PAINEL ACESSO RAPIDO */
#page-painel-acesso-rapido .control-panel .client-information,
#page-painel-acesso-rapido .control-panel .wishlist {
	height:64px;
}
#page-painel-acesso-rapido .control-panel .wishlist {
	margin-bottom:0;
}
#page-painel-acesso-rapido .orders .icon {
	background-position:0 -300px;
}
.wishlist .icon,
.client-information .icon {
	background-position:0 -400px;
}
#page-painel-acesso-rapido .dashboard {
	z-index:0;
}

/* LAST ORDER INFO */
#page-painel-acesso-rapido .last-order-info {
	clear:both;
	margin-top:10px;
	background:#FFFFCD;
	border:1px solid #FFE56B;
	padding:10px;
	border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px;
}
#page-painel-acesso-rapido .last-order-info h5 {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:900;
	-float:left;
	-width:100%;
}
#page-painel-acesso-rapido .last-order-info h5 span {
	color: #f33;
	font-size: 18px;
}
#page-painel-acesso-rapido .last-order-info p {
	padding:0;
	margin:0;
}
#page-painel-acesso-rapido .last-order-info ul {
	font-size:12px;
}
#page-painel-acesso-rapido .last-order-info hr {
	border:0 none;
	border-top:1px solid #FFE56B;
	height:1px;
	*margin:0;
}
#page-painel-acesso-rapido .last-order-info hr.clear {
	clear:both;
	display: block;
	float: left;
	width: 100%;
	margin: 12px 0;
}
#page-painel-acesso-rapido .last-order-actions,
#page-painel-acesso-rapido .last-order-actions a {
	clear: both;
	color: #333;
	font-size: 14px;
}
#page-painel-acesso-rapido .last-order-actions a {
	$bold;
	text-decoration: underline;
}
#page-painel-acesso-rapido .last-order-actions a:hover {
	text-decoration: none;
}
#page-painel-acesso-rapido .last-order-actions a:active {
	text-decoration: underline;
}
#page-painel-acesso-rapido .client-products ul,
#page-painel-acesso-rapido .delivery-address ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
/* LAST ORDER BOXES */
#page-painel-acesso-rapido .client-products {
	display:inline;
	float:left;
	width:33%;
	margin-right:2%;
}
#page-painel-acesso-rapido .delivery-address {
	display:inline;
	float:left;
	width:33%;
	margin-right:2%;
}
#page-painel-acesso-rapido .status-and-payment {
	display:inline;
	float:left;
	width:30%;
}