/* PAINEL ALTERAR DADOS */
#page-painel-dados-cadastrais .control-panel form fieldset dfn {
	margin-bottom: 9px;
}
#page-painel-dados-cadastrais .control-panel .section dfn {
	$bold;
	display: block;
	font-size:13px;
}
#page-painel-dados-cadastrais .control-panel .section strong b {
	vertical-align:bottom;
}
#page-painel-dados-cadastrais .control-panel .section {
	border-left:0;
}
#page-painel-dados-cadastrais .control-panel .section h5 {
	padding-top:23px;
}
#page-painel-dados-cadastrais .r1024 input.input-error,
#page-painel-dados-cadastrais .r1152 input.input-error {
	max-width:265px;
}
#page-painel-dados-cadastrais .r1024 input#numero.input-error{
	max-width:80px;
}