/* CLIENT-PANEL: PAINEL_PEDIDOS.ASP: ORDERS SEARCH */
#page-painel-meus-pedidos .orders-search {
	height:auto;
	-width:750px;
	*height:60px;
	-height:74px;
}
#page-painel-meus-pedidos .orders-search .icon {
	background-position:0 -200px;
	height:78px;
	width:78px;
}
#page-painel-meus-pedidos .orders-search h3 {
	float:none;
	width:auto;
}
/* SEARCH FORM */
#page-painel-meus-pedidos .orders-search-form {
	margin-left:78px;
	width:700px;
	overflow:hidden;
	-position:relative;
	*margin-top:-10px;
	-margin-top:0;
	-top:-35px;
}
#page-painel-meus-pedidos .orders-search-form fieldset {
	margin:0;
	padding:0 10px 0 0;
	border:0 none;
	float:left;
}
#page-painel-meus-pedidos fieldset label {
	display:block;
	padding:0 0 4px;
}
#page-painel-meus-pedidos .orders-search-form .order-id-field {
	width:150px;
	margin-right:5px;
}
#page-painel-meus-pedidos .orders-search-form .period-field {
	width:214px;
	margin-right:5px;
}
#page-painel-meus-pedidos .orders-search-form .tracking-code-field {
	width:200px;
	margin-right:5px;
}
#page-painel-meus-pedidos .orders-search-form .submit-field {
	padding-top: 14px;
	margin:0;
	padding-left:0;
}
#page-painel-meus-pedidos .period-from,
#page-painel-meus-pedidos .period-to {
	float:left;
	vertical-align:middle;
}
#page-painel-meus-pedidos .period-from label,
#page-painel-meus-pedidos .period-to label {
	display:inline;
	float:left;
}
#page-painel-meus-pedidos .orders-search-form label span {
	display:inline;
	margin:0 0 0 4px;
	vertical-align:-6px;
	font-size:11px;
	color:#AFAEAE;
}
#page-painel-meus-pedidos input.order-id {
	width:142px;
}
#page-painel-meus-pedidos input.period-from,
#page-painel-meus-pedidos input.period-to {
	width:74px;
}
#page-painel-meus-pedidos input.tracking-code {
	width:192px;
}
/* ORDERS LISTING */
#page-painel-meus-pedidos .orders-listing-wrapper {
	margin:5px 0 0;
	padding:0;
	border:1px solid #D6D6D6;
	margin-bottom:10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-clear:both;
}
#page-painel-meus-pedidos table.orders-listing {
	width:100%;
	border-spacing:0px 0px;
}
#page-painel-meus-pedidos table.orders-listing thead th {
	background:#F2F2F2;
	color:$base-color-1;
	text-align:left;
	font-weight:900;
	font-size:13px;
	text-shadow:#fff 0 1px 0;
	border-top:1px solid white;
	border-bottom:1px solid #EAEAD2;
}
#page-painel-meus-pedidos table.orders-listing span.new-order {
	background:$base-color-1;
	color:white;
	padding:3px 4px;
	font-size:11px;
	margin-left:6px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}