﻿#page-carrinho samp.shipping-national {
	display: block;
	float: right;
	position: relative;
	padding-right: 200px;
}
#page-carrinho a.btn-alt.pobox-search {
	position: absolute;
	top: 10px;
	right: 0;
	display: block;
	float: right;
	border: 0;
	padding: 0;
	margin: 0;
}
#page-carrinho a.btn-alt.pobox-search b {
	background: #fff;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #d40000;
	text-decoration: underline;
}
.check-out tfoot td a#return-delivery-options.btn {
	position: absolute;
	right: 90px;
	top: 9px;
}
.check-out tfoot td a#calculate-discount.btn {
	margin-right: 61px;
}

#page-carrinho .cabecalho {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 60px;
	border-bottom: 1px solid #000;
	padding: 0 60px;
	width: 700px;
}
#page-carrinho .cabecalho .title {
	display: block;
	font-size: 16px;
	line-height: 60px;
	text-transform: uppercase;
	color: #333;
	font-style: italic;
}
#page-carrinho .cabecalho .icon {
	position: absolute;
	left: 18px;
	top: 21px;
	display: block;
	width: 23px;
	height: 17px;
	background-position: -590px -83px;
}


.check-out {
	margin:0 auto;
	padding:5px 0;
	position:relative;
	z-index:0;
}
.check-out label {
	display:inline-block;
}
.check-out legend {
	display:none;
}


/* CHECK-OUT INFO */
.check-out .info {
	padding:0 0 20px 0;
	position:relative;
}
#page-carrinho .check-out .info {
	padding:70px 0 0px 0;
}


/* CHECK-OUT TABLE*/
.check-out .section strong,
.check-out table strong {
	display: block;
	$bold;
}
.check-out .address span,
.check-out fieldset span {
	display: block;
}
.check-out table {
	width: 98%;
	background: #fff;
}
.check-out table td {
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.check-out table td#TotalItem_ {
	$bold;
	border-right: 0;
	font-size: 14px;
}
.check-out table td.subtotal {
	$bold;
	font-size: 16px;
	color: $precos;
}
.check-out table td.quantity div {
	z-index:1;
}
.check-out table thead {
	height:30px;
	text-align:center;
	background: #e4e4e4;
}
.check-out table thead th {
	height: 40px;
	padding: 0;
	text-align: center;
	width:110px;
	font-size:10px;
	color: #000;
	font-weight: normal;
	text-transform: uppercase;
}
.check-out table .product {
	text-align: left;
	width:auto;
}
.check-out table th.product {
	padding-left: 10px;
}
.check-out table strong {
	margin-left: 0;
}




.check-out table tfoot {}
.check-out table tfoot tr.tr-subtotal {
	font-size: 16px;
	border: 1px solid #000;
}
.check-out table tfoot tr.tr-subtotal > td {
	border: 0;
}
.check-out table tfoot tr.tr-subtotal em {	
	$bold;
}

.check-out table tfoot td {
	border: none;
	padding: 1px;
	text-align: right;
	white-space:nowrap;
	border-bottom: 1px solid #ccc;
}
.check-out table tfoot td {}

.check-out table tfoot span,
.check-out table tfoot em {
	position: relative;
	display:block;
	line-height: 50px;
	margin:0;
	padding-right:5px !important;
	min-height:31px;
	-height:31px;
	z-index:1;
}
.check-out table tfoot tr.shipping > td > span {
	padding: 0;
}
.check-out table tfoot tr td.last{
	border-right: 0;
	text-align: center;
}
#shipping-types td {
	border-right: 1px solid #ccc !important;
}
.check-out table em {
	font-style: normal;
}
.check-out table del {
	text-decoration:line-through;
}
.check-out .send-btn {
	background:none;
	border:none;
	float:right;
	padding:10px 5px;
}
.check-out .help a {
	display: inline-block;
	padding-top: 7px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
.check-out .help .phone {
	height:47px;
	padding-left:45px;
}
.check-out .help .person {
	height:47px;
	padding-left:68px;
	display:none;
}
.check-out .help a strong {	
	$bold;
	display:block;
	font-size:14px;
}
.empty-cart .empty,
.cart .empty {
	padding:0 0 50px 0;
	text-align:center;
}
.cart .empty span,
.empty-cart .empty span {
	border-right: 1px solid #ccc;
	display:inline-block;
	font-size:13px;
	padding:20px 10px 20px 0;
	margin-right:10px;
}
.cart .empty strong,
.empty-cart .empty strong {
	font-size:20px;
	font-weight:normal;
}
.check-out .check-out-buttons {
	position: absolute;
	top: 0;
	right: 200px;
	width:auto;
	height:auto;
	float:left;
}
.check-out .check-out-buttons a.btn-alt.last {
	display: none;
}
.check-out .check-out-buttons a.btn-alt.first {
	color: #000;
	margin: 10px 0 0 0;
	border: 0;
	background: #f1f1f1;
	border-bottom: 3px solid #ddd;
	$anima;
}
.check-out .check-out-buttons a.btn-alt.first b {
	color: #000;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	margin: 0;
	border: 0;
	font-weight: normal;
	background: transparent;
}
.check-out .check-out-buttons a.btn-alt.first:hover {
	color: #000;
	background: #e1e1e1;
	border-bottom: 3px solid #ccc;
}




.check-out .info table {
	width: 100%;
	color: #4c4c4c;
	font-size: 12px;
}
.check-out .send-btn input {
	position:relative;
	display:block;
	float: right;
	text-indent:9999em;
	overflow:hidden;
}

/* CONTACT */
.check-out .contact {
	position:relative;
	height: 70px;
}
#page-carrinho #root .check-out .contact p {
	display: none;
}
.check-out tfoot td div {
	float:left;
}
.check-out tfoot td label {
	display:inline-block;
	margin-right:5px;
}
.check-out .shipping em {
	position:relative;
	left:-5px;
	width: 100px;
	z-index:0;
}

.check-out .discount em {
	display:inline-block;
	width:102px;
}
	
.check-out .discount .input-error-global{
	top:-28px;
	right:29px;
	left:auto !important
}
.check-out .shipping .selected b {
	position:relative;
	right:-5px;
	display:inline-block;
	height:31px;
	padding:0 5px;
	background:#FFF;
}
.check-out .wait {
	cursor:wait !important;
}
.check-out input[type="text"].wait,
.check-out input.text.wait {
	background:#f9f9f9;
}
#shipping-types td {
	height:auto;
	display:none;
}
#shipping-types div {
	float:none !important;
}
#shipping-types td div.content {
	display:none;
	position:relative;
	text-align: right;
	font-size: 13px;
}
#shipping-types strong {
	margin:10px 5px;
	display:inline-block;
	zoom:1;
	vertical-align:middle;
}
#shipping-types .loading {
	padding:5px;
	margin:0 auto;
	cursor:wait;
}
#shipping-types p {
	font-size:12px;
	white-space: normal;
}
#shipping-types ul {
	border-top:1px dotted #ccc;
	margin-bottom:10px;
}
#shipping-types li {
	position:relative;
	display:block;
	padding:10px 112px 10px 0;
	min-height:30px;
}
#shipping-types label,
#shipping-types input {
	position:absolute;
}
#shipping-types label {
	top:9px;
	right:0;
	display:block;
	width:70px;
	height:30px;
	text-indent:9999em;
	overflow:hidden;
	background-repeat:no-repeat;
	cursor:pointer;
}
#shipping-types label * {
	display:none;
}
#shipping-types input {
	top:18px;
	right:86px;
	cursor:pointer;
}
#shipping-types .shipping-tax {	
	$bold;
	color: $precos;
}
.check-out .discount input {
	text-transform:uppercase;
}
.check-out .discount span {
	position:relative;
}






/* TOTAL */
.check-out #total {
	position: relative;
	color: #4d4d4d;
	font-size:12px;
	line-height: 26px;
	border: 3px solid #000;
	padding: 25px 25px 20px 25px;
}
.check-out #total b.total-title {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
}
.check-out #total span {
	padding: 0;
	line-height: inherit;
}
.check-out #total .legend {
	display: block;
	float: left;
	width: 231px;
	height: 51px;
	margin: 5px;
	background-position: 0 -330px;
}
.check-out #total b#amount,
.check-out #total h5 {
	font-size:30px;
	display:block;
	color: $precos;
}
.check-out #total #discount-percent {
	font-style: normal;
	font-size: 12px;
}
.check-out #total #installment-string {
	font-style: normal;
	font-size: 14px;
}
.check-out #total #installment-string b {
	color: $precos;
}
.check-out #total strong {}
.check-out #total samp {}




.check-out table img {
	vertical-align:middle;
}
.check-out table tbody {
	display:table-row-group !important;
}
.check-out table tbody > tr.last > td {
	border-bottom: 0;
}
.check-out table tbody img {
	float:left;
	margin-right:10px;
	width: 100px;
	height: 100px;
}
.check-out table td.product a {
	color:#808080;
	text-decoration:none;
}
.check-out table td.product strong {
	position: relative;
	display: block;
	font-weight: normal;
}
.check-out tbody td div {
	position: relative;
	padding:7px;
}
.check-out tbody td.gift div {
	position: relative;
	text-align: center;
}
.check-out tbody td.gift div br {
	display: none;
}

.check-out tbody td.product div {
	overflow:hidden;
}
.check-out tbody td div div {
	padding: 0;
}
.check-out td.quantity a {	
	$bold;
	display:inline-block;
	height:20px;
	line-height:21px;
	vertical-align:middle;
	margin:0 5px;
	font-size:19px;
	text-decoration:none;
	color: #7d7d7d;
}
.check-out td.quantity input {
	font-size:12px;
	text-align:center;
	width: 36px;
	height: 20px;
	padding: 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.check-out td.quantity > div{
	padding: 0;
	margin: 0;
}

.check-out td.gift input {
	position: relative;
	top: -9px;
}

/* LINKS DE AJUDA */
.check-out .secure-site {
	display: none;
}


/* CHECK-OUT HELP */
.check-out .help {
	display: none;
}

/* REMOVE-ITEM BUTTON*/
.check-out a.btn-alt.remove-item {
	margin: 0;
	padding: 0;
	border: 0;
}
.check-out a.btn-alt.remove-item b {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

/* SHIPPING AND DISCOUNT BUTTONS */
.check-out tfoot td a.btn {
	position: relative;
	float:none;
	padding: 0;
	margin:0 0 0 5px;
	color: #fff;
	background: $base-color-2;
	text-align: center;
	text-decoration: none;
}
.check-out tfoot td a.btn b {
	font-size: 12px;
	padding: 0 15px;
	height: 28px;
	line-height: 30px;
	text-transform: none;
}
.check-out tfoot td a.btn:hover {
	background: $base-color-2;
}
.check-out fieldset.send-btn {
	position:absolute;
	top: 10px;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}
.check-out .check-out-buttons a.btn-alt b {
	font-size: 11px;
	font-weight: normal;
}

/* ETAPA 2 IDENTIFICACAO */
.section .label-middle {
	vertical-align: -4px !important;
	margin-left: 4px !important;
}
.section .news-opt-in {
	padding: 8px 0 0 160px;
}
#page-carrinho .check-out #cep {	
	width: 100px;
	height: 29px;
	padding: 0 6px;
	border: 1px solid #bebebe;
}
#page-carrinho .check-out #discount {
	width: 100px;
	height: 29px;
	padding: 0 6px;
	border: 1px solid #bebebe;
}
tr.shipping td {
	height: 30px;
}
td.search-for-pobox {
	width: 150px;
}
#shipping-estimated td.last {
	width: 120px;
}