﻿#system-message .message-wrapper .close-message {
	width: 200px !important;
}

/* MODAL PANEL */
body.modal {
	width:auto;
	height:auto;
	display:block;
}


/* PADRAO DE COMPONENTE MODAL COMPONENT */
.modal .component {
	$component;
}
.modal .component .legend {
	$component-legend;
}
.modal .component .icon {
	$component-icon;
}
.modal .component .legend .title {
	$component-title;
}
.modal .component .content {
	padding: 5px 10px;
}
.modal fieldset legend{
	display: none;
}
.modal fieldset span.show{
	display: inline-block;
}
.modal label {
	$bold;
	display:block;
	padding: 2px 0px
}
.modal input.type-text,
.modal input.type-password,
.modal select,
.modal textarea {
	display:block;
	width: 97%;
}
.modal #cep {
	width: 30%;
	display: inline;
}
.modal textarea {
	height: 70px;
}
.modal input.submit {
	display: none;
}
/* MODAL BUTTON */
.modal a.btn {
	float: right;
}
.modal .component .content blockquote {
	$bold;
	display: block;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	padding-top: 75px;
}
.modal .currency{
	color: $precos;
}

/* TABLE */
.modal table{
	border-collapse: separate;
	border-spacing: 1px;
}
.modal td{
	padding: 4px;
}
.modal table[cellpadding="0"] td{
	padding: 0;
}
.modal td img{
	vertical-align: middle;
}

/* MODAL BUSCA CEP */
.modal .results {
	float:none !important;
}
.modal .results b.title{
	display:block;
	padding-top:10px;
	margin-bottom:10px;
	border-top:1px solid #EEEEEE;
	margin-top:10px;
}
.modal .results p{
	position:relative;
	display:block;
	padding:10px 0px;
	border-top:#EEEEEE dotted 1px;
}
.modal .results p a.btn{
	position:absolute;
	bottom:10px;
	right:0px;
}
.modal .error {
	padding:5px;
	margin:2px;
	border:1px solid #E5E5B8;
	background:#FFFFCD;
	font-size:11px;
	text-align:center;
	margin-top:10px;
}

/* MODAL COMENTARIOS */
.modal #comments-rating .content {
}
.msie #comments-rating .content {
	overflow:hidden;
	zoom:1;
}
.modal #comments-rating .legend div {	
	$bold;
	display:block;
	width:auto;
	height:auto;
	float:right;
	margin-top:10px;
}
.modal #comments-rating .legend div .btn{
	top:0;
	vertical-align:middle;
}
.modal #comments-rating ul {
	list-style:none;
}
.modal #comments-rating ul,
.modal #comments-rating form{
	float:left;
	width:46%;
	display:table;
}
.modal #comments-rating li{
	padding:5px 0;
	clear:both;
	overflow:hidden;
}
.modal #comments-rating li *{
	display:inline-block;
	float:left;
}
.modal #comments-rating ul .rating{
	position:relative;
	bottom:-1px;
	margin:0 7px;
}
.modal #comments-rating li label{
	width:60px;
}
.modal #comments-rating li div{
	position:relative;
	bottom:-3px;
	width:48%;
	height:11px;
	padding:1px;
	margin-left:7px;
	border:solid 1px #DDD;
	z-index:0;
}
.modal #comments-rating li i{
	display:block;
	width:0%;
	height:100%;
	background-color:#FFD800;
}
.modal #comments-rating form{
	padding-left:2.5%;
	border-left: solid 1px #E6E6E6;
}
.modal #comments-rating form div b,
.modal #comments-rating form div input{
	display:block;
}
.modal #comments-rating form div input,
.modal #comments-rating form textarea{
	width:376px;
}
.modal #comments-rating form textarea{
	height:50px;
}
.modal #comments-rating form div{
	margin-bottom:10px;
	/*position:relative;*/
}
.modal #comments-rating h5{
	display:block;
	float:left;
	padding:5px 0;
	margin-right:10px;
}
.modal #comments-rating fieldset{
	display:block;
	float:left;
	padding:0;
	border:none;
}
.modal #comments-rating label{
	display:block;
	position:relative;
	z-index:1;
}
.modal #comments-rating fieldset label{
	display:block;
	float:left;
	width:16px;
	height:12px;
	text-indent:-9999em;
	cursor:pointer;
}
.modal #comments-rating fieldset input{
	display:none;
}
.modal #comments-rating fieldset legend {
	display:none !important;
}
.msie #comments-rating .rate-this-product {
	height:16px !important;
	overflow:hidden !important;
}
.msie #comments-rating .rating label input {
	width:0;
	height:0;
	visibility:visible;
	display:block;
	line-height:16px;
	margin:1px;
	vertical-align:middle;
	text-align:center;
}
#page-popup-duvida fieldset div,
#page-popup-indicar-produto fieldset div,
#page-popup-disponibilidade fieldset div,
#page-popup-encomendar fieldset div {
	margin-bottom:10px;
}
.modal p.success {
	display:block;
	border:2px solid #CEC;
	background:#DFD;
	color:black;
	padding:8px;
	margin:4px;
	text-align:center;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;
}
#page-popup-simular-frete .highlight {
	color:$base-color-1;
}





#page-popup-ajuda .content,
#page-popup-site-seguro .content{
            line-height: 15px;
            text-align:justify;
}
#page-popup-ajuda p,
#page-popup-site-seguro p{
            margin:5px;
            text-indent:10px;
}
#page-popup-site-seguro .content-title{
            font-size:12px;
            margin-top:5px;
            display:block;
}
#page-popup-site-seguro ul{
            list-style:none;
            margin-top:10px;
}
#page-popup-site-seguro ul li{
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #EEE;
            overflow: hidden;
}
#page-popup-site-seguro .ico {
            display: inline-block;
            float: left;
            margin-right: 10px;
            width: 115px;
            text-align: center;
            padding: 5px;
            border: 1px solid #EEE;
}
#page-popup-site-seguro #site-blindado {
            height:60px;
            line-height:60px;
            vertical-align:middle;
}
#page-popup-site-seguro #site-blindado img {
            vertical-align:middle;
}


#page-popup-simular-frete td {
	white-space: normal !important;
}