/* FORM VALIDATE */
div.input-error-global{
	float:none !important;
	display:none;
	position:absolute !important;
	width:auto;
	height:auto;
	left:0px;
	top:0px;
	z-index:1;
	text-indent:0px !important;
	margin:0px 0px 0px 0px !important;
	box-shadow: 2px 2px 2px #d7d7d7;
	-moz-box-shadow: 2px 2px 3px #d7d7d7;
	-webkit-box-shadow: 2px 2px 3px #d7d7d7;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=130, Color='#d7d7d7') !important;
}
div.input-error{
	float:none !important;
	width:auto;
	display:block !important;
	padding:6px 6px 6px 27px !important;
	border:1px solid #E5E5B8;
	background-color:#FFFFCD;
	margin:0px 0px 0px 0px !important;
	color:#000 !important;
	font-size:11px;
	white-space: nowrap;
	font-weight:bold !important;
	line-height:normal !important;
	cursor:pointer;
}
span.error-icon {
	display:block;
	float:left;
	width:18px;
	height:18px;
	min-height:18px !important;
	vertical-align:middle;
	border:0 none !important;
	background-position:0 0;
	padding:0;
	background-color:#FFFFCD !important;
	line-height:normal !important;
}
div.input-error-global span.error-icon {
	margin:4px !important;
}
div.input-error-global samp{
	position:absolute !important;
	bottom:-12px;
	left:7px;
	width:13px;
	height:13px;
	background:url(../_IMG/LAYOUT/balloon.png);
	-background:url(../_IMG/LAYOUT/balloon.gif);
}

/* INPUT-ERROR-SIDE */
form.input-error-side div.input-error-global {
	position:relative !important;
	display:inline-block;
	margin:0px 0px 0px 5px !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	filter:none !important;
}
form.input-error-side div.input-error{
	padding:4px 6px 3px 25px !important;
}
form.input-error-side div.input-error-global span.error-icon {
	margin:3px 4px !important;
}
form.input-error-side div.input-error-global samp {
	display:none;
}