﻿<fcn:banner groupid="19"> <!-- banner rodape -->


<if condition="current-file = 'default'">
    <div class="footer-1">
    <div class="wrapper">
        <fcn:brands-menu Max="18" IsCarousel="true" ImgWidth="120" ImgHeight="60">
    </div> <!-- wrapper -->
    </div> <!-- footer-1 -->
</if>


<div class="footer-2">
<div class="wrapper">


    <div id="newsletter">   
        <span class="icon"></span>
        <div class="legend"><b class="title">Cadastre-se e receba nossas Dicas e Ofertas exclusivas!</b></div>  
        <div class="content">
            <form action="newsletter_xp.asp" method="post" class="validate" onSubmit="return insertMailAjax(this);">
                <fieldset>
                    <span class="input-wrapper">
                        <input id="newsletter-nome" type="text" name="nome" placeholder="Nome">
                    </span>
                    <span class="input-wrapper">
                        <input id="newsletter-email" class="e-mail" type="text" name="email" placeholder="E-mail" title="required:true;email:true;msg_email:'Informe um e-mail válido.';cleanup:true;">
                    </span>
                    <input type="hidden" name="acao" value="IN">
                    <input type="hidden" name="message-success" value="E-mail cadastrado com sucesso!">                    
                    <input class="hide" type="submit" value="Cadastrar" title="Cadastrar">
                    <a href="#" class="submit" title="Cadastrar"><b>CADASTRAR</b></a>
                </fieldset>
            </form>
        </div>
    </div> <!-- #newsletter -->
  

	<div id="social-media">
        <span class="icon"></span>
        <div class="legend"><b class="title">Siga-nos nas Redes Sociais!</b></div>  
        <div class="content">
            <a class="facebook target-blank" title="Facebook" href="#"></a>
            <a class="twitter target-blank" title="Twitter" href="#"></a>
            <a class="instagram target-blank" title="Instagram" href="#"></a>
            <a class="pinterest target-blank" title="Pinterest" href="#"></a>
            <a class="youtube target-blank" title="Youtube" href="#"></a>
            <a class="googleplus target-blank" title="Google Plus" href="#"></a>
            <a class="blog target-blank" title="Blog" href="#"></a>
        </div>
	</div> <!-- social-media -->
    

</div> <!-- wrapper -->
</div> <!-- footer-2 -->


<div class="footer-3 hide">
<div class="wrapper">

    <if condition="current-file = 'default,produtos_secoes,produtos_pesquisa,produtos'">
        <!--Renderiza a nuvem de palavas com as configurações de tamanho setadas no admin -->
        <fcn:tag-cloud>
    </if>
        <!-- Exibir historico de navegacao somente nos arquivos expecíficos: "default.asp", "produtos_secoes.asp", "produtos_pesquisa.asp" e "produtos.asp" -->
    <if condition="current-file = 'default,produtos_secoes,produtos_pesquisa,produtos'">
        <!-- Renderiza o histórico de navegação -->
        <fcn:navigation-history>
    </if>

</div> <!-- wrapper -->
</div> <!-- footer-3 -->


<div class="footer-4">
<div class="wrapper">

    <div id="custom-texts">
        <fcn:custom-text id="3">
    </div> <!-- #custom-texts -->

    <div class="footer-atendimento">
        <div class="legend"><b class="title">Central de Atendimento</b></div>   
        <div class="content">
            <ul>
                <li class="phone"><var:store-phone></li>
                <li class="whatsapp"><var:store-phone-2></li>
                <li class="skype"><var:store-phone-4></li>
                <li class="email"><a href="mailto:<var:store-email>" title="<var:store-email>"><var:store-email></a></li>
                <li class="service"><var:store-service></li>
            </ul>
        </div>
    </div><!-- footer-atendimento -->


    <div id="payment-methods">
        <fcn:payment-logotypes>
    </div><!-- #payment-methods -->  

    
    <div class="like-box">
        <div class="content">
            <fcn:facebook-like-box href="https://www.facebook.com/digitalcommercegroup/" width="240" color-scheme="light" header="false" show-border="false" show-faces="true" stream="false">
        </div>
    </div><!-- like-box -->

</div> <!-- wrapper -->
</div> <!-- footer-4 -->



<div id="colophon">
<div class="wrapper">
    
    <div id="disclaimer">
        <span>Copyright <fcn:year> - <a href="<var:store-url>" title="Ir à página inicial"><var:store-fullname></a> - Todos os Direitos Reservados.</span>
        <span>"Preços e condições de pagamento apresentados neste "site" somente são válidos para as compras efetuadas no ato da sua exibição. *Condições de pagamento à vista somente para depósitos, transferências e cartão de débito.</span>
    </div> <!-- #disclaimer -->


    <div class="logotipos">
        <div>
            <b>Plataforma</b>
            <var:store-link-ezcommerce>
        </div>
        <div class="hide">
            <b>Criação</b>
            <a class="target-blank" id="agencia" href="http://www.agencia.com.br" title="Agência" rel="nofollow"></a>
        </div>
    </div>


    <div id="security-certificates">
        <div class="legend"><b class="title">Selos e Segurança</b></div>
        <div class="content">

            <!-- LETS ENCRYPT -->
            <a id="seloEncrypt" class="target-blank" href="https://www.letsencrypt.org/"></a> 

            <!-- SITEBLINDADO -->
            <a class="site-blindado target-blank hide" href="https://selo.siteblindado.com.br/verificar?url=<var:store-url>" title="Visualizou o selo site Blindado? Navegue tranquilamente, esse site está PROTEGIDO CONTRA HACKERS. Realizamos diariamente milhares de testes para garantir sua navegação segura. Clique no selo e confira nossa certificação.">Site Blindado</a>
            
            <!-- EBIT -->
            <a id="seloEbit hide" href="http://www.ebit.com.br/#<var:store-ebit>"  onclick="redir(this.href);"></a>
        </div>
    </div><!-- #payment-methods --> 

</div><!-- .wrapper-->
</div> <!-- #colophon -->
	  
	