﻿<div class="header-1">
<div class="wrapper">


	<if condition="current-file = 'default'">
		<div id="logo"><span class="logo-wrapper"><a href="<var:store-url>" title="<var:store-fullname>"><img src="FILES/_ARQUIVOS/LOGO/<var:store-logo>" alt="<var:store-fullname>"><h1 title="<var:store-fullname>"><var:store-fullname></h1></a></span></div>
	<else>
		<div id="logo"><span class="logo-wrapper"><a href="<var:store-url>" title="<var:store-fullname>"><img src="FILES/_ARQUIVOS/LOGO/<var:store-logo>" alt="<var:store-fullname>"><strong><var:store-fullname></span></a></strong></div>
	</if><!-- logo -->
	
	
	<div class="header-1-content">
		
	  <div id="header-search">
		  <div class="content">
			  <form action="/pesquisa/" method="get" class="validate">
				  <fieldset>
					  <legend class="hide">Procurar no site</legend>
					  <input id="header-search-query" type="text" name="p" class="query" value="Estou procurando por..." title="cleanup:true;">
					  <input class="hide" type="submit" value="Enviar">
					  <a href="#" id="submit-query" class="submit" title="Buscar"><b class="submit-query"></b></a>
				  </fieldset>
			  </form>
		  </div>
	  </div><!-- #header-search -->
  
  
  
	  <div id="welcome-message">
		  <fcn:welcome-message>
	  </div> <!-- welcome-message -->
  
  
	  <div class="header-atendimento">
		  <div class="legend"><b class="title">Central de Atendimento</b></div>
		  <div class="content">
			  <ul>
				  <li class="phone"><b><var:store-phone></b></li>
				  <li class="whatsapp"><b><var:store-phone-2></b></li>
				  <li class="email"><b><a href="mailto:<var:store-email>" title="<var:store-email>"><var:store-email></a></b></li>
				  <li class="service"><b>Horário de Atendimento</b><small><var:store-service></small></li>
			  </ul>
		  </div>
	  </div><!-- header-atendimento -->
					
					
	  <div id="basket-container">
		  <div class="basket-header">
			  <a href="/meu-carrinho/" title="Meu Carrinho">
				  <span class="content">
				  <span class="title">Meu Carrinho</span>
					  <if condition="basket-items = 0">
						  <b class="quantity-items-cart">0</b> <i>R$ 0,00</i>
					  <else>
						  <b class="quantity-items-cart"><var:basket-items></b> <i><var:basket-amount></i>
					  </if>				
				  </span>
			  </a>
		  </div><!-- .basket-header --> 
	  </div><!-- basket-container -->
				
  
	  <div id="easy-access-menu">
		  <span class="first meu-cadastro"><a href="/painel-de-controle/" title="Meu Cadastro">Meu Cadastro</a></span>
		  <span class="meus-pedidos"><a href="/painel-de-controle/meus-pedidos/" title="Meus Pedidos">Meus Pedidos</a></span>
	  </div><!-- easy-access-menu -->				
				

	</div> <!-- header-1-content -->
			
</div> <!-- wrapper -->
</div> <!-- header-1 -->


<div class="header-2">
<div class="wrapper navigation-wrapper">
	<fcn:custom-menu alias="todas-categorias" cssclass="todas-categorias" menutype="">
	<fcn:custom-menu alias="menu-horizontal" cssclass="navigation" menutype="">
</div><!-- wrapper -->
</div><!-- header-2 -->


<fcn:banner groupid="21"> <!-- fullbanner -->
<fcn:banner groupid="1"> <!-- topo -->


<if condition="current-file = 'default,produtos_secoes,produtos_pesquisa,produtos'">
<div class="header-3 hide">
<div class="wrapper">

    <div id="newsletter">   
        <span class="icon"></span>
        <div class="legend"><b class="title">Novidades por email</b><small>Receba ofertas exclusivas</small></div>  
        <div class="content">
            <form action="newsletter_xp.asp" method="post" class="validate" onSubmit="return insertMailAjax(this);">
                <fieldset>
                    <span class="input-wrapper">
						<input id="newsletter-nome" type="text" name="nome" placeholder="Nome">
                    </span>
                    <span class="input-wrapper">
                    	<input id="newsletter-email" class="e-mail" type="text" name="email" placeholder="E-mail" title="required:true;email:true;msg_email:'Informe um e-mail válido.';cleanup:true;">
                    </span>
                    <input type="hidden" name="acao" value="IN">
                    <input type="hidden" name="message-success" value="E-mail cadastrado com sucesso!">                    
                    <input class="hide" type="submit" value="Cadastrar" title="Cadastrar">
                    <a href="#" class="submit" title="Assinar"><b>Assinar</b></a>
                </fieldset>
            </form>
        </div>
    </div> <!-- #newsletter -->

</div> <!-- wrapper -->
</div> <!-- header-3 -->
</if>