﻿<div class="footer-4">
<div class="wrapper">


    <div id="payment-methods">
        <fcn:payment-logotypes>
    </div><!-- #payment-methods -->  


</div> <!-- wrapper -->
</div> <!-- footer-4 -->



<div id="colophon">
<div class="wrapper">
    
    <div id="disclaimer">
        <span>Copyright <fcn:year> - <a href="<var:store-url>" title="Ir à página inicial"><var:store-fullname></a> - Todos os Direitos Reservados.</span>
        <span>"Preços e condições de pagamento apresentados neste "site" somente são válidos para as compras efetuadas no ato da sua exibição. *Condições de pagamento à vista somente para depósitos, transferências e cartão de débito.</span>
    </div> <!-- #disclaimer -->


    <div class="logotipos">
        <div>
            <b>Plataforma</b>
            <var:store-link-ezcommerce>
        </div>
    </div>


    <div id="security-certificates">
        <div class="legend"><b class="title">Selos e Segurança</b></div>
        <div class="content">
            <!-- LETS ENCRYPT -->
            <span id="seloEncrypt" class="target-blank"></span> 
        </div>
    </div><!-- #payment-methods --> 

</div><!-- .wrapper-->
</div> <!-- #colophon -->
      
    