.layout-utilities ul {}
.layout-utilities ul li {
  margin-bottom: 20px;
}
.layout-utilities ul li:nth-child(1) {
  float: left;
}
.layout-utilities ul li:nth-child(2) {
  float: right;
}
.layout-utilities ul li:nth-child(3) {
  float: left;
}
.layout-utilities ul li:nth-child(4) {
  float: right;
}

.layout-utilities ul li img {
  width: auto;
  height: 220px;
}