﻿/* ELEMENTOS */
$component {
	position:relative;
	background: #fff;
}
$component-legend {
	position: relative;
	clear: both;
	display: block;
	overflow: hidden;
}
$component-title {
	position: relative;
	display: block;
	color: #333;
	font-size: 26px;
	line-height: 50px;
	display: block;
	background: #fff;
	padding: 0 15px;
	border-bottom: 1px solid #ccc;
}
$component-content {
	padding: 5px;
}
$component-icon {}


/* VITRINE */
$vitrine-legend {
	position: relative;
	clear: both;
	display: block;
}
$vitrine-title {
	position: relative;
	display: inline-block;
	color: $base-color-1;
	font-size: 24px;
	line-height: 40px;
	background: #fff;
	padding: 0 15px 0 5px;
}
$vitrine-icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: $base-color-1;
}


/* RODAPE */
$rodape-legend {
	position: relative;
	display: block;
	clear: both;
	padding: 10px 0;
}
$rodape-title {
	$bold;
	display: block;
	font-size: 16px;
}




/* CSS3 */
$anima {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
$borderbox {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
$boxshadow {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
$scale {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}


/* ICONE - FONT AWESOME */
$icon {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
}


/* FONTES */
$light {
	font-family: 'Roboto Light';
	font-weight: normal;
    font-style: normal;
}
$light-italic {
	font-family: 'Roboto Light';
	font-weight: normal;
    font-style: italic;
}
$regular {
	font-family: 'Roboto';
	font-weight: normal;
    font-style: normal;
}
$italic {
	font-family: 'Roboto';
	font-weight: normal;
    font-style: italic;
}
$medium {
	font-family: 'Roboto Medium';
	font-weight: normal;
    font-style: normal;
}
$medium-italic {
	font-family: 'Roboto Medium';
	font-weight: normal;
    font-style: italic;
}
$bold {
	font-family: 'Roboto Bold';
	font-weight: normal;
    font-style: normal;
}
$bold-italic {
	font-family: 'Roboto Bold';
	font-weight: normal;
    font-style: italic;
}


/* CLEAR FIX */
$clearfix {
	content: '';
	display: table;
}

$clearfix-after {
	clear: both;
}

$text-replace {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
