﻿/* MAPA DE CORES */

/* HEADER 1 */
/* area onde fica o logo + campo de busca */
$header: #fff; /* cor do background */
$header-icon: #c50000; /* cor dos icones - contraste ao background */
$header-font: #444; /* cor do texto + links - contraste ao background */


/* MENU */
$menu-1: #222; /* background: BARRA PRINCIPAL */
$menu-font-1: #fff; /* fonte: BARRA PRINCIPAL */

$menu-2: #fff; /* background: DROPDOWN */
$menu-font-2: #222; /* fonte: DROPDOWN */


/* BODY */
$body: #fff; /* background principal */


/* COR BASE ----------- */
$base-color-1: #c50000; /* titulos + icones em geral da area central */
$font-color-1:#FFF; /* cor de contraste */


/* COR BASE - ALTERNATIVA ----------- */
$base-color-2: #F6B428; /*  botao da vitrine: comprar/detalhe + outros detalhes menores */
$font-color-2:#FFF; /* cor de contraste */


/* RODAPE */
$footer: #000 /* cor do background */
$footer-icon: #c50000; /* icones da newsletter + redes sociais */
$footer-font: #444; /* cor do texto + links - contraste ao background */


/* LINKS */
$font-color-4: #222; /* links em geral */


/* PRECOS */
$precos: #48a148; /* preco principal */