﻿/* LOADING */
#loading{
	position:fixed;
	top:0;
	right:0;
	width:100%;
	height:100%;
	background-color:#FFF;
	font-size:14px;
	color:#666;
	z-index:999;
	cursor:wait;
}
#loading div{
	position:relative;
	top:49%;
	text-align:center;
	vertical-align:middle;
}
#loading img{
	vertical-align:-4px;
}
img.lazy-load{
	background:url(../_img/loading.gif) center center no-repeat;
}

/* ESTRUTURA DO WIREFRAME */
#root {
	min-width:980px;
	margin:0 auto;
	z-index:0;
}
#header .wrapper,
#footer .wrapper {
	clear: both;
	display: block;
	position: relative;
	margin: 0 auto;
	min-width: 980px;
}
#middle {
	clear: both;
	display: block;
	overflow:hidden;
	position:relative;
	zoom:1;
	z-index:0;
	margin: 0 auto 30px;
	min-width:980px;
	min-height: 228px !important;
	background: #fff;
}
#center {
	margin:0 175px 0 190px;
}
#header {
	clear: both;
	display: block;
	position:relative;
	width: 100%;
	float: left;
	padding: 0 0 20px 0;
}
#footer {
	clear: both;
	display: block;
	overflow:hidden;
	position:relative;
	width: 100%;
	float: left;
}
#left {
	float:left;
	width:180px;
}
#right {
	float:right;
	width:165px;
}

/* TAMANHO DO #CENTER, COM E SEM COLUNAS */
.without-left-column #center 	{ margin-left:1px; 		}
.without-left-column #left 		{ display:none; 		}
.without-right-column #center 	{ margin-right:1px; 	}
.without-right-column #right 	{ display:none; 		}


/* Layout Fixo */
.fixed-layout #header .wrapper,
.fixed-layout #footer .wrapper {
	min-width: 980px;
	max-width: 980px;
}
.fixed-layout #middle {
	min-width: 980px;
	max-width: 980px;
}

/* Layout Fluido */
.fluid-layout #header .wrapper,
.fluid-layout #footer .wrapper {
	min-width: 980px;
	max-width: 1240px;
}
.fluid-layout #middle {
	min-width: 980px;
	max-width: 1240px;
}