﻿/* SPRITE GERAL SEM REPEAT */
#ezcommerce,
#agencia,
#seloEncrypt
{
	background-image:url(../_IMG/LAYOUT/sprite.png);
	background-attachment:scroll;
	background-repeat:no-repeat;
}
/* SPRITES COM REPEAT-X */
.sprite-x
{
	background-image:url(../_IMG/LAYOUT/sprite-x.png);
	background-attachment:scroll;
	background-repeat:repeat-x;
}
/* SPRITES COM REPEAT-Y */
.sprite-y {
	background-image:url(../_IMG/LAYOUT/sprite-y.png);
	background-attachment:scroll;
	background-repeat:repeat-y;
}