.sections {
	display: block;
	margin-bottom: 10px;
	background: #fff;
}
.sections .legend {
	position: relative;
}
.sections .legend .title {
	$bold;
	position: relative;
	display: block;
	height: 38px;
	line-height: 38px;
	color: $base-color-1;
	font-size: 16px;
	padding: 0 0 0 10px;
	border-bottom: 1px solid #ebebeb;
}

.sections ul.level-1 {
	list-style: none;
}
.sections ul.level-1 > li {
	border-bottom: 1px solid #ebebeb;
}
.sections ul.level-1 > li > a {
	position: relative;
	display: block;
	font-size: 14px;
	padding: 8px 10px;
	text-decoration: none;
	$bold;
	$anima;
}
.sections ul.level-2 {
	list-style: none;
	padding: 0 0 4px 0;
}
.sections ul.level-2 > li {}
.sections ul.level-2 > li > a {
	position: relative;
	display: block;
	font-size: 12px;
	padding: 4px 10px 4px 20px;
	text-decoration: none;
	$bold;
	$anima;
}
.sections ul.level-2 > li > a:before {
	content: '\f0da';
	position: absolute;
	left: 11px;
	font-size: 85%;
	$icon;
}

.sections ul.level-3 {
	list-style: none;
	padding: 0 10px 10px 10px;
}
.sections ul.level-3 > li {}
.sections ul.level-3 > li > a {
	position: relative;
	display: block;
	font-size: 11px;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: normal;
	$anima;
}


.sections ul > li > a:hover {
	background: #eee;
}

.sections ul li.back {
	display: none !important;
}