#filters,
#filters-selected {}

#filters .legend,
#filters-selected .legend {
	display: none;
}
#filters .icon,
#filters-selected .icon {}

#filters b.filter-title,
#filters-selected b.filter-title {
	$bold;
	position: relative;
	display: block;
	color: $base-color-1;
	font-size: 16px;
	padding: 8px 0 8px 10px;
	border-bottom: 1px solid #ebebeb;
}
#filters .filter-wrapper > ul,
#filters-selected .filter-wrapper > ul {
	list-style: none;
	margin-bottom: 15px;
}
#filters .filter-wrapper > ul > li,
#filters-selected .filter-wrapper > ul > li {
	position: relative;
	display: block;
	font-size: 11px;
}
#filters .filter-wrapper > ul > li a,
#filters-selected .filter-wrapper > ul > li a {
	position: relative;
	display: block;
	font-size: 11px;
	padding: 4px 10px;
	text-decoration: none;
	border-bottom: 1px solid #ebebeb;
	$regular;
	$anima;
}
#filters .filter-wrapper > ul > li a .name,
#filters .filter-wrapper > ul > li a .result.hide {
	display: inline-block !important;
}
#filters a:hover,
#filters-selected a:hover {
	background: #eee;
	text-decoration: none;
}
#filters .filter-wrapper > ul > li label,
#filters-selected .filter-wrapper > ul > li label {
	line-height: 14px;
}


/* pricepicker */
body .pricepicker {
	top: 43px;
	margin: 0 auto;
}
body .pricepicker + span {
	display: block;
	margin-top: 40px;
}
body .pricepicker + span a {
	width: 65px;
}
body .pricepicker + span a b {
	background: transparent;
	text-transform: uppercase;
	border: 0;
}
#filters .filter-wrapper ul li a.btn-alt {
	padding: 0;
	border: 1px solid #E6E6E6;
}