#page-lojas #stores .legend {
	$component-legend;
}
#page-lojas #stores .legend .title {
	$component-title;
}
#page-lojas #stores .legend .icon {
	$component-icon;
}

#page-popup-lojas {
	width: 989px;
	margin:0 auto;
	margin-top: 0 !important;
}
.stores-column {
	height: 545px;
	float: left;
	padding: 0 15px;
}
body:not(.mobile) .stores-column {
	margin: 20px 0 !important;
}
.stores-column.search-column {
	width: 22%;
}
.stores-column.list-column {
	width: 26%;
	display: none;
}
.stores-column.map-column {
	width: 390px;
	display: none;
	background: url('/FILES/_IMG/loading.gif') center no-repeat;

}
.stores-column p.another-method {
	width: 100%;
	text-align: center;
	margin: 15px 0;
}
.stores-column fieldset {
	border: none;
	border-bottom: none;
}
.stores-column label {
	display: block;
	margin: 10px 0;
}
.stores-column label .field {
	display: inline-block;
}
.stores-column label select {
	width: 100%;
}
.stores-column label input {
	width: 98%;
}
.stores-column .btn {
	padding: 8px 14px;
	float: right;
	font-size: 14px;
}
.stores-column span {
	margin: 10px 0 5px 0;
	display:block;
}
.stores-column .find-by-city-wrapper span {
	display:none;
}
.stores-column h2 {
	line-height: 25px
}
.stores-column h3 {
	margin: 20px 5px 12px 5px;
}
.stores-column .list-wrapper {
	padding: 10px 0;
}
.stores-column.list-column #list-stores {
	height: 480px;
	width: 100%;
	overflow-y: auto;
}
.stores-column.list-column #loading-stores {
	width:16px;
	height:16px;
	margin:235px auto;
}
.stores-column.list-column #list-stores .store {
	margin: 0 0 18px 0;
	padding: 15px;
	border-radius: 5%;
	cursor: pointer;
}
.stores-column.list-column #list-stores .store:hover,
.stores-column.list-column #list-stores .store.selected {
	background-color: #F4F4F4;
}
.stores-column.list-column #list-stores .store h4 {
	$bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.stores-column.list-column #list-stores .store p {
	margin:2px 0 3px 0;
}
.stores-column.list-column #list-stores .store p a.email {
	color:inherit;
}
.stores-column.list-column #list-stores .store span {
	cursor: pointer;
	text-decoration: underline;
	display: inherit;
}
.stores-column.list-column #list-stores .store span a {}
