﻿.search-suggestions-wrapper{
	display:block;
	z-index:2;
}
.search-suggestions {
	color: #333;
	background:#fff;
    border: 1px solid #dfdfdf;
    display: block;
    position: absolute;
    width: calc(100% + 1px);
	float:left;
	left: -1px;
	top: 35px;
	padding:2px;
	line-height:normal;
	z-index:10;
	$borderbox;
}
.search-suggestions .legend {
	display:block;
	float:none !important;
	border:0 !important;
	padding:0 !important;
	margin:0 !important;
}
.search-suggestions b.title{
	display:block;
	color:#424242;
	font-size:14px;
	padding:10px;
	font-weight: normal;
}
.search-suggestions .price {
	padding: 0 0 0 39px;
	margin: 0;
	line-height: normal;
	display: block;
	font-weight: bold;
	color: $precos;
	font-size: 14px;
}
.search-suggestions ul {
	float:left;
	list-style:none;
	padding:0px;
	width:100%;
}
.search-suggestions ul li {
	display:block;
	padding:4px;
	border:none;
    border: 1px solid #dfdfdf;
	margin-bottom:1px;
	cursor:pointer;
	overflow: hidden;
}
.search-suggestions ul li img {
	margin: 3px;
}
.search-suggestions ul li.correction{
	font-size: 1.1em;
}
.search-suggestions ul li br {
	display: none;
}
.search-suggestions ul li .title {
	display: block;
	color: #838282;
	font-size: 11px;
	margin-bottom: 2px;
	text-transform: uppercase;
}
.search-suggestions ul li:hover {
	background:#eee;
}
.search-suggestions ul li.not-found {
	text-transform:none;
	cursor:default;
}
.search-suggestions ul li.last{
	border-bottom:1px solid #FFF;
	margin-bottom:0;
}
.search-suggestions ul li.selected{
	background-color:$base-color-1;
	border:none;
	border-bottom:1px dotted $base-color-1;
	color:#FFF;
}
