/**	ICONES NA VITRINE **/
ul.products li .variations {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 35px;
	padding: 0 16px;
	margin: 4px 0;
	$borderbox;
}
.mobile ul.products li .variations {
	display: none;
}
ul.products li div.variations input[type="radio"] {
	display: none !important;
}

/**/
ul.products li div.variations *{
	-webkit-user-select: none;
	user-select: none;
}
ul.products li div.variations .var-carousel .var-scroll {
	overflow: hidden;
	position: relative;
	$borderbox;
}
ul.products li div.variations .var-ico-wrapper {
	display: inline-block;
	max-width: 50px;
}


/**/
ul.products li div.variations .var-carousel {
	clear: both;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	$borderbox;
}

/**/
ul.products li div.variations .var-carousel-btn {
	display: block;
	position: absolute;
	top: 4px;
	cursor: pointer;
	margin: 0 !important;
}
ul.products li div.variations .var-carousel-btn:hover {
	color: $base-color-2;
}
ul.products li div.variations .variations-carousel-prev {
	left: 0;
	opacity: 0.2;
	cursor: default;
}
ul.products li div.variations .variations-carousel-prev:after {
	content: "\f0d9";  
	display: block;
	float: left;
	font-size: 25px;
	margin: 0 5px 0 0;
	$icon;
}
ul.products li div.variations .variations-carousel-next {
	right: 0;
}
ul.products li div.variations .variations-carousel-next:after {
	content: "\f0da";  
	display: block;
	float: left;
	font-size: 25px;
	margin: 0 5px 0 0;
	$icon;
}
ul.products li div.variations label {
	max-width: 46px;
}

ul.products li div.variations label.size-box {}
ul.products li div.variations label.size-box > img {
	display: none;
}

ul.products li div.variations label.color-box {}
ul.products li div.variations label.color-box > img {}

ul.products li .variations span.color-box,
ul.products li .variations span.size-box,
ul.products li .sub-variations span.size-box {
	margin-bottom: 0;	
}
ul.products li .variations label.size-box,
ul.products li .sub-variations label.size-box {
	padding: 2px 5px;
}