/*
	PAGE PAINEL LISTAS - PAINEL DE CONTROLE
*/

#page-painel-listas .form-wrapper textarea,
#page-painel-listas-produtos .form-wrapper textarea{
	resize: none;
	width: 280px;
	height: 100px;
}
#page-painel-listas-produtos ul.actions{
	padding: 9px 0;
	float: left;
	margin-left: 140px;
}
#page-painel-listas-produtos ul.actions li .actions-submenu{
	width: 138px;
	padding: 0 14px;
	position: relative;
	z-index: 9999;
}
#page-painel-listas-produtos ul.actions li .actions-submenu ul{
	position: absolute;
	float: right;
	width: 142px;
	background: #F2F2F2;
	border: 2px solid;
	border-color: $base-color;
	border-top: none;
	display: none;
}
#page-painel-listas-produtos ul.actions li .actions-submenu ul li{
	display: block;
	padding: 5px 8px;
}
#page-painel-listas-produtos ul.actions li.first a.btn b:before {
	content: '\f06e';
	padding: 0 4px 0 0;
	$icon;
}
#page-painel-listas-produtos ul.actions li.last a.btn b:before {
	content: '\f067';
	padding: 0 4px 0 0;
	$icon;
}


#page-painel-listas-produtos div.action-tabs{
	margin-top: 20px;
	float: left;
	clear: both;
	height: 36px;
	border-bottom: 1px solid #CDCDCD;
	width: 100%
}
#page-painel-listas-produtos div.tabs-content-wrapper{
	margin-top: 132px;
	border: 1px solid #CDCDCD;
	border-top: none;
}
#page-painel-listas-produtos div.action-tabs .tab-group{
	height: 100%;
	border-top: 1px solid #CDCDCD;
	border-top-right-radius: 5px;
	float: left;
}
#page-painel-listas-produtos div.action-tabs .tab-group .tab{
	width: 150px;
	line-height: 35px;
	display: block;
	float: left;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #CDCDCD;
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	cursor:pointer;
	position: relative;
	-webkit-background-clip: border;
	position: relative;
	z-index: 1;
}

#page-painel-listas-produtos div.action-tabs .tab-group .tab.selected:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 8px solid #F2F2F2;
	border-color: #F2F2F2 transparent transparent transparent;
	position: absolute;
	bottom: -18px;
	left: 50%;
	margin-left: -4px;
}

#page-painel-listas-produtos div.action-tabs .tab-group .tab.first{
	border-left: 1px solid #CDCDCD;
}

#page-painel-listas-produtos div.action-tabs .tab-group .tab.last{
	border-top-right-radius: 5px;
}

#page-painel-listas-produtos div.action-tabs .tab-group .tab.selected{
	border-bottom: none;
	background: -webkit-linear-gradient(bottom, #E6E6E6, #F2F2F2);
	background: -moz-linear-gradient(bottom, #E6E6E6, #F2F2F2);
	background: -o-linear-gradient(bottom, #E6E6E6, #F2F2F2);
	background: linear-gradient(bottom, #E6E6E6, #F2F2F2);
	height: 100%
}

#page-painel-listas-produtos div.action-tabs .tab-group .tab:hover{
	background-color: #F0F0F0;
}

#page-painel-listas-produtos .wishlist-products-wrapper .button-wrapper{
	width: 100%;
	height: 60px;
}

#page-painel-listas-produtos .wishlist-products-wrapper .btn-submit{
	float:right;
	margin:20px;
	display: none;
}

#page-painel-listas-produtos span.field-value{
	display:inline-block;
	margin-left: 0;
	margin-top: 4px;
}

#page-painel-listas-produtos .wishlist-edit + .wishlist-edit,
#page-painel-listas-produtos .wishlist-share + .wishlist-share{
	margin-top:0;
}

#page-painel-listas-produtos .control-panel #wishlist-new .section .btn{
	margin-left: 162px !important;
}

#page-painel-listas-produtos .wishlist-edit .section .remove-photo{
	margin-left: 10px !important;
}

#page-painel-listas-produtos .wishlist-edit .list-image{
	margin: 0;
	position: relative;
	left: 165px;
	top: -15px;
	width: 240px;
	height: 240px
}

#page-painel-listas-produtos .wishlist-edit .list-image.default{
	background-color: #F5F5F5;
}

#page-painel-listas-produtos .wishlist-edit .list-image img{
	display: block;
	margin: 0 auto;
}

#page-painel-listas-produtos .share-social-networks ul{
	list-style: none;
}

#page-painel-listas-produtos .share-social-networks li{
	display: inline-block;
	margin: 20px;
}

#page-painel-listas-produtos .cp-title a{
	text-decoration: none;
	color: inherit;
}

#page-painel-listas-produtos .cp-title a:hover{
	text-decoration: underline;
}

#page-painel-listas-produtos p.wishlist-link{
	float: left;
	/*margin-left: 140px;*/
}

#page-painel-listas-produtos p.wishlist-link input{
	display: block;
	font-size: 11px;
	width: 315px;
	cursor: text;
	padding: 3px;
}

#page-painel-listas-produtos div.div-address .field-wrapper label{
	padding-bottom: 15px;
}

#page-painel-listas-produtos div.div-address .field-wrapper input{
	width: 200px !important;
}

#page-painel-listas-produtos tr.acquired{
	background-color: #eeffee;
}

#page-painel-listas-produtos tr td{
	background: none
}
#page-painel-listas-produtos tr td.wishlist-actions br {
	display: none;
}




#page-painel-listas-produtos a.btn.remove-product,
#page-painel-listas-produtos a.btn.mark-acquired {	
	display: inline-block;
	margin: 2px 0;
	padding: 10px;
	width: 80px;
}
#page-painel-listas-produtos a.btn.remove-product {
	background: #999;	
}

#page-painel-listas-produtos a.btn.remove-product b,
#page-painel-listas-produtos a.btn.mark-acquired b {
	display: none;
	white-space: nowrap;
	text-transform: none;
}

#page-painel-listas-produtos a.btn.remove-product:after {
	content: 'Remover';
}
#page-painel-listas-produtos a.btn.mark-acquired:after {
	content: 'Adquirido';
}
#page-painel-listas-produtos a.btn.remove-product:before {
  	content: "\f00d";
  	padding: 0 5px 0 0;
  	font-weight: normal;
  	display: inline-block;
	$icon;
}
#page-painel-listas-produtos a.btn.mark-acquired:before {
  	content: "\f046";
  	padding: 0 5px 0 0;
  	font-weight: normal;
  	display: inline-block;
	$icon;
}


/*
	SUGESTOES DE PRODUTOS
*/
#page-popup-listas-sugestoes .products li{
	width: 32.3% !important;
	$borderbox;
}

#page-popup-listas-sugestoes header h1.title{
	float: left;
}

#page-popup-listas-sugestoes header .buttons{
	float: right;
	line-height: 30px;
	margin: 6px;
}

#page-popup-listas-sugestoes header .buttons a {
	padding: 0 8px;
}


/*
	SUGESTOES DE PRODUTOS 2
*/

#page-painel-listas-produtos .wishlist-suggestions-wrapper h4{
	margin-top: 25px;
	margin-left: 18px;
	margin: 25px 0 15px 18px;
	padding:0;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper div.header{
	margin: 0 10px 10px 10px;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper div.content{
	border-top: 1px dotted #CDCDCD;
	padding-top: 15px;
	margin-top:	15px;
	margin-bottom:	15px;
	display:none;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper .suggestions-list-wrapper{
	width: 200px;
	padding: 10px;
	margin-left: 30px;
	display: inline-block;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper .suggestions-list-wrapper:hover,
#page-painel-listas-produtos .wishlist-suggestions-wrapper .suggestions-list-wrapper.selected{
	background-color: #F2F2F2;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper ul.products{
	clear: both;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper ul.products li{
	margin-left: 18px;
	width: 30%;
	$borderbox;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper div.content div.loader{
	margin: 34px;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper div.content div.ordering{
	float: right;
	margin:	0 20px;
}

#page-painel-listas-produtos .wishlist-suggestions-wrapper div.content div.page-number{
	float: left;
	margin:	0 20px;
}


/*
	CAMPO QUANTIDADE
*/

ul.products li .buttons .quantity,
#page-painel-listas-produtos .quantity {
	$bold;
	margin: 0 2px;
	display: inline-block;
	font-size: 14px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

ul.products li .buttons .input-quantity,
#page-painel-listas-produtos .input-quantity{
	width: 20px;
	text-align: center;
}

/*
	BUTTONS LI PRODUTO
*/

ul.products li .buttons label.quantity-list-label strong{
	display:inline-block;
}
ul.products li .buttons.with-list-buttons {
	text-align: left;
	padding: 6px;
	background: #f5f5f5;
	border: 1px solid #ccc;
}

ul.products li .buttons.with-list-buttons a.btn.add-to-list,
ul.products li .buttons.with-list-buttons a.btn.remove-from-list {
	white-space: nowrap;
	border: 0;
	padding: 0;
	margin: 4px 0 0 0;
	background: transparent;
	text-transform: none;
	color: #333;
}
ul.products li .buttons.with-list-buttons a.btn.add-to-list b,
ul.products li .buttons.with-list-buttons a.btn.remove-from-list b {
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 12px;
	line-height: inherit;
	text-shadow: none;
	text-transform: none;
}
ul.products li .buttons.with-list-buttons a.btn.add-to-list b:before {
  	content: "\f004";
  	padding: 0 3px 0 0;
  	font-weight: normal;
	$icon;
}
ul.products li .buttons.with-list-buttons a.btn.remove-from-list b:before {
  	content: "\f00d";
  	padding: 0 3px 0 0;
  	font-weight: normal;
	$icon;
}



ul.products li .buttons.with-list-buttons .added-to-list {
	display: block;
  	color: $base-color-1;
}
ul.products li .buttons.with-list-buttons .added-to-list b {
	display: block;
	font-size: 12px;
  	color: $base-color-1;
}
ul.products li .buttons.with-list-buttons .added-to-list b:before {
  	content: "\f004";
  	padding: 0 3px 0 0;
  	font-weight: normal;
  	color: $base-color-1;
	$icon;
}


ul.products li .buttons.with-list-buttons .additional-message {
	display: block;
	color: #333;
	margin-left: 10px
}
ul.products li .buttons.with-list-buttons .additional-message b {
	font-size: 12px;
}


ul.products li .adding-to-list-overlay{
	position: absolute;
	display:none;
	opacity:0;
	right: 0px; 
	top: 0px; 
	left: 0px; 
	bottom: 0px; 
	height: 100%; 
	width: 100%; 
	background-color: #FFF;
}

ul.products li .adding-to-list-overlay img {
	display:block;
	margin: 130px auto 0 auto;
}

ul.products li .adding-to-list-overlay .error em{
	padding: 3px;
	color: #000;
	background-color: #ffe5e5;
	margin: 0;
	margin-top: 15px;
	display: block;
}

ul.products li .adding-to-list-overlay .error p{
	padding: 5px 10px;
}

ul.products li .adding-to-list-overlay .error a{
	float: right;
	margin: 18px;
	text-decoration: underline;
}



/*
	** MENU DE LISTAS - FLUTUANTE ** 
*/
.float-lists-menu{
	position: fixed;
	z-index: 999;
	right:0;
	top: 30%;
	width: auto;
	height: auto;
	min-height: 80px;
	line-height: 12px;
	background-color: #F9F9F9;
	padding: 15px;
	border: 2px solid #CDCDCD;
	border-right: 0;
}

.float-lists-menu h3 {
	padding: 0 !important;
	margin: 0;
	font-size: 16px;
}

.float-lists-menu p{
	margin-top:10px;
}

.float-lists-menu label{
	display: block;
	clear:both;
	margin:5px;
	cursor: pointer;
	max-width: 220px;
}

.float-lists-menu label input{
	cursor: pointer;
}

.float-lists-menu div.lists{
	margin:10px 0 0 0;
	width: auto;
}

.float-lists-menu .button-hide{
	display: block;
	text-decoration: none;
	width: 20px;
	font-size: 20px;
	border: 2px solid #CDCDCD;
	height: 15px;
	padding: 15px;
	text-align: center;
	position: absolute;
	left: -52px;
	top: -2px;
	border-right: 0;
	border-right-color: #F9F9F9;
	background-color: #F9F9F9;
	cursor: pointer;
	color: $font-color;
}
.float-lists-menu .button-hide:hover{
	background-color: #F5F5F5;
}

.float-lists-menu .btn-alt{
	margin: 8px 5px 0 5px;
}

/*
	** LISTA DE PRODUTOS - DETALHES DA LISTA **
*/
#page-popup-listas-desejos-detalhes {
	background: #fff;
}
#page-popup-listas-desejos-detalhes .list-details,
#page-listas-desejos-detalhes .list-details {
	width: 100%;
	background-color: #EEE;
	padding: 10px;
	float: left;
	margin-bottom: 8px;
	$borderbox;
}

#page-popup-listas-desejos-detalhes .layout-1 {
	clear: both;
}
#page-popup-listas-desejos-detalhes .layout-1 .legend {
	clear: both;
}
#page-popup-listas-desejos-detalhes .layout-1 .title {}
#page-popup-listas-desejos-detalhes .layout-1 .content {
	clear: both;
	margin: 0;
}

#page-popup-listas-desejos-detalhes .list-details .list-image,
#page-listas-desejos-detalhes .list-details .list-image {
	display: block;
	float: left;
}

#page-popup-listas-desejos-detalhes .list-details .list-text-details,
#page-listas-desejos-detalhes .list-details .list-text-details{
	display: block;
	float: left;
	margin: 0 0 0 10px;
}

#page-popup-listas-desejos-detalhes .list-details .list-image img,
#page-listas-desejos-detalhes .list-details .list-image img{
	max-width: 120px;
	max-height: 120px;
	margin: 0 auto;
	display: block;
}

#page-popup-listas-desejos-detalhes .list-details .list-text-details p,
#page-listas-desejos-detalhes .list-details .list-text-details p {
	display:block;
	line-height: 20px;
	font-size: 13px;
	width: 100%;
}

#page-popup-listas-desejos-detalhes .list-details .list-title,
#page-listas-desejos-detalhes .list-details .list-title {
	$bold;
	color: $base-color1;
	font-size: 20px;
	margin-bottom: 5px;
	clear:both;
	border-bottom: 1px dotted #CDCDCD;
}

#page-popup-listas-desejos-detalhes ul.products li div.availability,
#page-listas-desejos-detalhes ul.products li div.availability {
	background-color: #F9F9F9;
	padding: 8px;
	border: 2px solid #CDCDCD;
	text-align: center;
	margin: 0 auto;
	width: auto;
	margin-top: 5px;
	float: left;
}


#page-popup-listas-desejos-detalhes input.readonly-input,
#page-listas-desejos-detalhes input.readonly-input{
	display: block;
	font-size: 11px;
	width: 315px;
	cursor: text;
}

/*
	PESQUISA DE LISTAS
*/

#page-listas-desejos #search-wishlists .content{
	min-height: 220px;
}

#page-listas-desejos #search-wishlists form{
	margin-bottom: 30px;
	overflow: hidden;
}

#page-listas-desejos #search-wishlists form fieldset{
	background-color: #EFEFEF;
}

#page-listas-desejos #search-wishlists form div.fields,
#page-listas-desejos #search-wishlists form div.buttons{
	float: left;
	margin: 0;
	$borderbox;
}

#page-listas-desejos #search-wishlists form div.fields{
	border-right: 1px dotted #CDCDCD;
	width: 60%;
}


#page-listas-desejos #search-wishlists form div.buttons{
	width: 40%;
}

#page-listas-desejos #search-wishlists form div.buttons a{
	display: block;
	width: 200px;
	margin: 30px auto;
}

#page-listas-desejos #search-wishlists form div.buttons a:not(.create-my-wishlist){
	background-color: #888;
}

#page-listas-desejos #search-wishlists .field-wrapper{
	margin: 20px;
	font-size: 13px;
	$borderbox;
}

#page-listas-desejos #search-wishlists .field-wrapper.search-submit a{
	margin-left: 438px;
}

#page-listas-desejos #search-wishlists .field-wrapper label{
	width: 160px;
}

#page-listas-desejos #search-wishlists .field-wrapper:not(.search-submit) input{
	width: 340px;
	font-size: 13px;
	padding: 5px;
}

#page-listas-desejos #search-wishlists #wishlists-list{
	padding-top: 20px;
	clear: both;
}

#page-listas-desejos #wishlists-list .wishlist{
	background-color: #EEE;
	overflow: hidden;
	margin-bottom: 10px;
}

#page-listas-desejos #wishlists-list .wishlist:hover{
	background-color: #F2F2F2;
}

#page-listas-desejos #wishlists-list .wishlist .list-image{
	background-color: #F5F5F5;
	padding: 5px;
	margin:	5px;
	float: left;
	height: 200px;
	width: 200px
}

#page-listas-desejos #wishlists-list .wishlist .list-data{
	margin: 10px 10px 0 225px;
	width: auto;
	$borderbox;
}

#page-listas-desejos #wishlists-list .wishlist .list-data *{
	$borderbox;
}

#page-listas-desejos #wishlists-list .wishlist .list-data span:not(.wishlist-name) {
	display: block;
	font-size: 14px;
	margin-top: 2px;
}

#page-listas-desejos #wishlists-list .wishlist .list-data span:not(.wishlist-name) b {
	width: 135px;
	display: block;float: left;
}

#page-listas-desejos #wishlists-list .wishlist .list-data span.wishlist-button {
	$bold;
	margin: 20px 0;
}

#page-listas-desejos #wishlists-list .wishlist .list-data .wishlist-name {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CDCDCD;
}

#page-listas-desejos #howitworks .text{
	margin: 0 30px;
}

#page-listas-desejos #search-wishlists .pages{
	float:right;
}


/*
	** LOGIN DE LISTAS **
*/

#page-popup-listas-desejos-login form{
	margin-top: 10px;
}

#page-popup-listas-desejos-login p.msg{
	margin-top: 10px;	
}

#page-popup-listas-desejos-login #senhaLista{
	width:150px;
	float: left;
}

#page-popup-listas-desejos-login .submit{
	float:right;
}


/*
	** PAGINA DE PRODUTO **
*/

#page-produtos .belonging-wishlist{
	padding: 8px;
	background-color: #FFF9D9;
	border: 2px solid #FFD800;
	color: #000;
	margin: 10px 0;
	line-height: 20px;
	font-size: 12px;
}


/*
	** CARRINHO **
*/

#page-carrinho .wishlist-with-defined-address + .address-cep{
	margin-right: 15px;
	display: inline-block;
}

#page-carrinho .wishlist-with-defined-address{
	cursor: default;
}

#page-carrinho .wishlist-product .wishlist-link a:hover{
	text-decoration: underline !important;
}

#page-carrinho #shipping-types .options ul li.wishlist-li{
	padding: 0;
	margin: 0;
}

#page-carrinho #shipping-types .options ul li.wishlist-li div{
	padding: 8px;
	background-color: #FFF9D9;
	border: 2px solid #FFD800;
	color: #000;
	margin: 10px 0;
	line-height: 20px;
	margin: 5px;
}



/*
	** IMPRESSAO DE PRODUTOS DA LISTA **
*/

#page-popup-listas-desejos-imprimir .component{
	margin: 0 auto;
	width: 989px;
}

#page-popup-listas-desejos-imprimir .component .header{
	background-color: #E2E2E2;
	width: 100%;
	clear: both;
	min-height: 150px;
	overflow: hidden;
}

#page-popup-listas-desejos-imprimir .component .header .logo-wrapper{
	position: absolute;
	top: 25px;
	margin-left: 50px;
}

#page-popup-listas-desejos-imprimir .component .header .store-url{
	float: left;
	clear: left;
	margin: 10px 0 20px 50px;
}

#page-popup-listas-desejos-imprimir .component .header .wishlist-data{
	margin: 5px 10px 0 270px;
	width: auto;
	$borderbox;
}

#page-popup-listas-desejos-imprimir .component .header .wishlist-data .wishlist-type{
	display: block;
	margin: 38px auto 0 auto;
	font-size: 12px;
	text-align: center;
}

#page-popup-listas-desejos-imprimir .component .header .wishlist-data .wishlist-name{
	display: block;
	margin: 0 auto;
	font-size: 38px;
	text-align: center;
}

#page-popup-listas-desejos-imprimir .component .logo{
	position: static;
	max-height: 90px;
	width: auto;
}
#page-popup-listas-desejos-imprimir .component .content{
	margin-bottom: 10px;
}

#page-popup-listas-desejos-imprimir .component .content table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	border: 1px #CDCDCD solid;
	page-break-inside:auto;
}

#page-popup-listas-desejos-imprimir .component .content table tr.new-page{
	page-break-inside:avoid;
	page-break-after: always;
}

#page-popup-listas-desejos-imprimir .component .content table td{
	border-top: 1px solid #BBB;
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	font-size: 12px;
	page-break-inside:avoid;
}

#page-popup-listas-desejos-imprimir .component .content table td.td-head {
	$bold;
	font-size: 14px;
	padding: 10px 5px;
}

#page-popup-listas-desejos-imprimir .component .content table td.product-td-head-sku,
#page-popup-listas-desejos-imprimir .component .content table td.product-td-head-reference,
#page-popup-listas-desejos-imprimir .component .content table td.product-td-head-quantity,
#page-popup-listas-desejos-imprimir .component .content table td.product-td-sku,
#page-popup-listas-desejos-imprimir .component .content table td.product-td-reference,
#page-popup-listas-desejos-imprimir .component .content table td.product-td-quantity{
	text-align: center;
}

#page-popup-listas-desejos-imprimir .component .content table td:not(.td-head){
	padding: 10px 5px;
}

#page-popup-listas-desejos-imprimir .component .legend{
	margin: 5px 0;
}