.ez-zoom-lens{
	border: 1px solid #ccc;
	-webkit-box-shadow: #D6D6D6 0px 2px 2px; -moz-box-shadow: #D6D6D6 0px 2px 2px; box-shadow: #D6D6D6 0px 2px 2px;
}
.ez-zoom-loading{
	border:1px solid #7F7F7F;
	width:120px;
	height:60px;
	line-height:60px;
	background-color:#FFF;
	text-align:center;
	opacity:0.5;
}
#zoom-wrapper .ez-zoom-error{
	cursor:default !important;
}
.ez-zoom-loading-icon{
	background:url(files/_img/loading.gif) no-repeat;
	width:16px;
	height:16px;
	vertical-align:middle;
	display:inline-block;
	margin-top:-2px;
	margin-right:5px;
}
.ez-zoom-gallery{
	display:inline-block;
	margin:auto;
	padding: 2px;
}
#ez-zoom-big{
	position: absolute;
	top: 0 !important;
	border:0 solid $base-color-1;
	background-color:#FFF;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-webkit-box-shadow: #D6D6D6 0px 2px 2px; -moz-box-shadow: #D6D6D6 0px 2px 2px; box-shadow: #D6D6D6 0px 2px 2px;
}