﻿#page-produtos #product-questions .questions-toolbar,
#page-produtos #comments-rating .rating-toolbar {
	position: absolute;
	top: 12px;
	right: 15px;
}
#page-produtos #comments-rating .hreview,
#page-produtos #product-questions .hquestion {
	padding: 15px;
	margin: 0 15px 15px 15px;
	font-size: 12px;
	line-height: 16px;
	background: #fff;
}
#page-produtos #comments-rating .review-rating cite,
#page-produtos #product-questions .hquestion cite {
	font-style: normal;
}


/* BOTOES */
#page-produtos .rating-toolbar a.btn-alt,
#page-produtos .questions-toolbar a.btn-alt {
	border: 0;
	text-shadow: none;
}
#page-produtos .rating-toolbar a.btn-alt b,
#page-produtos .questions-toolbar a.btn-alt b {
	position: relative;
	background: #999;
	padding: 0 12px;
	line-height: 30px;
	color: #fff;
	$anima;
}
#page-produtos .rating-toolbar a.btn-alt b:before {
	content: '\f005';
	padding: 0 5px 0 0;
	font-size: 120%;
	$icon;
}
#page-produtos .questions-toolbar a.btn-alt b:before {
	content: '\f059';
	padding: 0 5px 0 0;
	font-size: 120%;
	$icon;
}
#page-produtos .rating-toolbar a.btn-alt b:hover,
#page-produtos .questions-toolbar a.btn-alt b:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}




/* RATING */
#page-produtos #comments-rating .review-rating {
	position: relative;
	padding: 50px 0 0 0;
}
#page-produtos #comments-rating .review-rating strong {
	display: none;
}
#page-produtos #comments-rating .review-rating blockquote {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 18px;
}
#page-produtos #comments-rating .review-rating .rating {
	position: absolute;
	top: 25px;
}
#page-produtos #comments-rating .review-rating .review-summary {
	position: absolute;
	top: 0;
	font-size: 15px;
	$bold;
}
#page-produtos #comments-rating .review-rating .review-reviewer,
#page-produtos #comments-rating .review-rating .review-content {	
	padding: 0 0 5px 0;
}
#page-produtos #comments-rating .review-rating .review-date {
	font-size: 90%;
}


/* DUVIDAS */
#page-produtos #product-questions .hquestion {
	line-height: 18px;
}
#page-produtos #product-questions .hquestion .question-date {}
#page-produtos #product-questions .hquestion .question-askedby {}
#page-produtos #product-questions .hquestion .question-question {
	margin: 0 0 15px 0;
}
#page-produtos #product-questions .hquestion .question-question + div {
	padding: 15px 20px;
	background: #f1f1f1;
}
#page-produtos #product-questions .hquestion .question-answeredby {}
#page-produtos #product-questions .hquestion .question-answer {}
#page-produtos #product-questions .hquestion blockquote {
	margin: 0;
}
#page-produtos #product-questions .hquestion .question-question strong,
#page-produtos #product-questions .hquestion .question-answer strong {
	display: none;
}