﻿/* .products li */
.products li .products-countdown {
	display: none;
	height: 46px;
	$borderbox;
}

.products li .weeks,
.products li .days,
.products li .hours,
.products li .minutes,
.products li .seconds {
	$bold;
	position: relative;
	display: block;
	float: left;
	width: 32px;
	height: 24px;
	font-size: 18px;
	text-align: center;
	color: #333;
	margin: 0 3px 0 0;
	padding: 5px 0 0 0;
	background: #f1f1f1;
}
.products li .seconds {
	margin: 0;
}

.products li .weeks:after,
.products li .days:after,
.products li .hours:after,
.products li .minutes:after,
.products li .seconds:after {
	content: '';
	position: absolute;
	font-weight: normal;
	font-size: 9px;
	bottom: -12px;
	left: 0;
	width: 100%;
	padding: 3px 0;
	text-align: center;
	background: #fff;
}
.products li .weeks:after {
	content: 'sem';
}
.products li .days:after {
	content: 'dias';
}
.products li .hours:after {
	content: 'hor'
}
.products li .minutes:after {
	content: 'min';
}
.products li .seconds:after {
	content: 'seg';
}


.products li .weeks-text,
.products li .days-text,
.products li .hours-text,
.products li .minutes-text,
.products li .seconds-text {
	display: none !important;
}

.products li .products-countdown-header {
	display: none;
}
.products li .products-countdown-footer {
	position: absolute;
	top: -14px;
	left: 0;
}




/* ITENS VENDIDOS */
#interactivity .products-sold {
	display: block;
	float: left;
	clear: both;
	overflow: hidden;
	background: #EEE;
    padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
#interactivity .products-sold .legend {
	display: inline-block;
}
#interactivity .products-sold b.title {
	margin-right: 3px;
}
#interactivity .products-sold .content {
	display: inline-block;
	margin-right: 3px;
}
#interactivity .products-sold .footer {
	display: inline-block;
}


/* CONTADOR */
#interactivity .products-countdown {
	clear: both;
	position: relative;
	display: block;
	padding: 10px 0;
}
#interactivity .products-countdown .legend .icon {
	position: absolute;
	left: -34px;
	top: 0;
	display: block;
	width: 34px;
	height: 40px;
	text-indent: -99999px;
	background-position: -231px -54px;
}
#interactivity .products-countdown .legend .title {
	display: none;
}
#interactivity .products-countdown .content {
	display: block;
	overflow: hidden;
	padding: 0 0 5px 0;
}

#interactivity .products-countdown #weeks,
#interactivity .products-countdown #days,
#interactivity .products-countdown #hours,
#interactivity .products-countdown #minutes,
#interactivity .products-countdown #seconds {
	$bold;
	position: relative;
	display: block;
	float: left;
	width: 55px;
	height: 45px;
	font-size: 26px;
	text-align: center;
	color: #333;
	margin: 0 12px 0 0;
	padding: 8px 0 0 0;
	background: #f1f1f1;
}
#interactivity .products-countdown #weeks-text,
#interactivity .products-countdown #days-text,
#interactivity .products-countdown #hours-text,
#interactivity .products-countdown #minutes-text,
#interactivity .products-countdown #seconds-text {
	display: block;
	position: absolute;
	bottom: 0;
	color: #333;
	width: 45px;
	text-align: center;
	display: none !important;
}
#interactivity .products-countdown #weeks-text {
	left: 0;
}
#interactivity .products-countdown #days-text {
	left: 45px;
}
#interactivity .products-countdown #hours-text {
	left: 90px;
}
#interactivity .products-countdown #minutes-text {
	left: 135px;
}
#interactivity .products-countdown #seconds-text {
	left: 180px;
}
#interactivity .products-countdown .footer {
	$bold;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	padding: 3px 0;
	font-size: 14px;
}

#interactivity .products-countdown #weeks:after {	
	content: 'Sem';
	position: relative;
	font-size: 10px;
	margin: 0 auto;
	display: block;
}
#interactivity .products-countdown #weeks:before,
#interactivity .products-countdown #days:before,
#interactivity .products-countdown #hours:before,
#interactivity .products-countdown #minutes:before {	
	content: ':';
	position: absolute;	
	right: -9px;
	margin: 0 auto;	
	float: right;
}
#interactivity .products-countdown #days:after {
	content: 'dia(s)';
	position: relative;
	font-size: 10px;
	margin: 0 auto;
	display: block;
}
#interactivity .products-countdown #hours:after {
	content: 'hrs';
	position: relative;
	font-size: 10px;
	margin: 0 auto;
	display: block;
}
#interactivity .products-countdown #minutes:after {
	content: 'min';
	position: relative;
	font-size: 10px;
	margin: 0 auto;
	display: block;
}
#interactivity .products-countdown #seconds:after {
	content: 'seg';
	position: relative;
	font-size: 10px;
	margin: 0 auto;
	display: block;
}

