#page-produtos input.shipping-cep {
	width: 85px;
	height: 27px;
	z-index: 0;
	padding: 0 8px;
	border: 1px solid #E6E6E6;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#page-produtos input.shipping-cep:hover,
#page-produtos input.shipping-cep:focus{
	border-color: #CCC;
}


/* REDES SOCIAIS */
#product-social-networks ul li{
	display:inline-block;
	padding:10px 5px 0 0;
	vertical-align:middle;
	width:90px;
}
#product-social-networks ul li.facebook{
	width: 180px;
}
#product-social-networks ul li div.fb-like {
	height: 20px;
	overflow:hidden;
}
#product-social-networks ul li.plusone,
#product-social-networks ul li.pinterest {
	width:70px;
}

#product-social-networks ul li a {
	float:none;
	padding:0;
	border:none;
	-webkit-border-radius: initial !important;
	-moz-border-radius: initial !important;
	border-radius: initial !important;
}