/* COMPRE JUNTO CONTENT */
#buytogether-v2 li li {
	overflow: hidden;
	position: relative;
	list-style: none;
	display: block;
	float: left;
	font-size: 12px;
}
#buytogether-v2 li li a.product-title {
	display: block;
	line-height: 14px;
}

/* coluna fotos */
.buytogether-pictures {
	position: relative;
	float:left;
	width: 78%;
}
.buytogether-pictures:after {
	content: '';
	position: absolute;
	top: 155px;
	right: 0;
	width: 20px;
	height: 16px;
	background-position: -305px -147px;
}
.buytogether-item {
	width:47%;
	text-align:center;
}
.tres-produtos .buytogether-item {
	width: 31%;
}
#buytogether-v2 .tres-produtos li img {
	width: 180px;
	height: 180px;
	margin-bottom: 10px;
}
.buytogether-plus {
	position: relative;
	top: 70px;
	display:block;
	float:left;
	text-align:center;
	width: 24px;
	height: 40px;
}
.buytogether-plus span {
	font-size: 40px;
}

/* coluna textos */
.buytogether-content {
	position: relative;
	top: 20px;
	float:right;
	width: 21%;
}
.buy-together-titles {
	display: none;
}
#buytogether-v2 .content ul {
	list-style:none;
}

#buytogether-v2 .content ul.buy-together-list > li {
	clear: both;
	display: block;
	margin: 0 15px 25px 15px;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #ccc;
}
#buytogether-v2 .content ul.buy-together-list > li.last {
	border: 0;
	margin-bottom: 0;
}
.buytogether-content .plus-names {
	display: none;
}
.buytogether-content .price {
	line-height: 16px;
}
.buytogether-content .save-total {
	display: block;
	overflow: hidden;
	margin: 10px 0 0 0;
	text-align: center;
}
.buytogether-content .save-total .save-text {
	display: none;
}
.buytogether-clear-last {
	display: block;
	margin: 0;
	background: none !important;
	height: 1px;
	clear: both;
}
#buytogether-v2 .content form small {
	float: none;
	margin: 0;
}