/* ECONOMIZE */
.save {
	display: none;
}
.save .saveTitle,
.save .savePrice {
	display: none;
}
.save .savePercentage {
	display: block;
	padding: 5px;
	color: $font-color-2;
	background: $base-color-2;
	z-index: 9;
	$bold;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.save .savePercentage:after {
	content: ' OFF';
}



/* PRECOS */
.price {
	position: relative;
	display: block;
	font-size: 12px;
	text-align: left;
}
.price b {
	$bold;
}
.price em b,
.price em dfn {
	$bold;
	color: $precos;
}
.price i {
	font-style: normal;
}
.price br {
	display: none;
}

.price > span.list-price {} /* a partir de */  
.price > span.list-price b { $regular; }


.price del {
	display: block;
	font-style: normal;
	padding-bottom: 6px;
	color: #888;
}
.price del b {
	$regular;
}
.price em {
	display: block;
	font-style: normal;
	padding-bottom: 6px;
}
.price em b {
	font-size: 14px;
}
.price dfn {
	display: block;
	font-style: normal;
	padding-bottom: 6px;
}
.price small {
	display: block;
	font-style: normal;
	padding-bottom: 6px;
}
.price small b {
	color: #a51c19;
}


/* products li */
.products li .price {
	position: relative;
	padding-top: 16px;
	min-height: 30px;
}
.price > span.list-price,
.products li .price del {
	position: absolute;
	top: 0;
}
.products li .price em b {
	font-size: 20px;
}


/* PURCHASE INFO */
.purchase-info .price {
	display: block;
	padding: 15px 0 0 0;
}
.purchase-info .price .save {
	display: none;
	right: 0;
}
.purchase-info .price del {
	position: absolute;
	top: 0;
	font-size: 14px;
}
.purchase-info .price em {
	font-size: 16px;
}
.purchase-info .price em b {
	font-size: 28px;
}
.purchase-info .price em br {
	display: block;
}
.purchase-info .price dfn {
	font-size: 13px;
}
.purchase-info .price dfn .no-interest {
	display: inline;
}
.purchase-info .price small {
	font-size: 13px;
}



/* COMPRE JUNTO */
#buytogether-v2 .price del,
#buytogether-v2 .price em,
#buytogether-v2 .price dfn,
#buytogether-v2 .price small {
	padding: 0;
}
#buytogether-v2 .price em {
	font-size: 14px;
	line-height: 26px;
}
#buytogether-v2 .price em b {
	display: block;
	font-size: 28px;
}
#buytogether-v2 .price small {
	font-size: 12px;
}
#buytogether-v2 .price small b {}



/* PRODUTO COM KIT */
#product-kit .kit-produtct-item .price del,
#product-kit .kit-produtct-item .price em,
#product-kit .kit-produtct-item .price dfn,
#product-kit .kit-produtct-item .price small {
	padding: 0;
}