﻿/*Kit*/

#product-kit-table{
	width:100%;
	border-collapse:collapse;
	border-spacing: 0px;
}

#product-kit-table thead{
	background: $base-color-1;
}

#product-kit-table th,
#product-kit-table td {
	border: 1px solid #ccc;
}

#product-kit-table th {
	$bold;
	color: $font-color-1;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	text-align: left;
	padding:0 10px;
}
#kit-th-products{
	width:70%;
}
#product-kit-table tfoot td{
	border:none;
	padding:10px 0;
	text-align:right;
}

#product-kit-table .kit-produtct-item td{
	padding:10px;	
	line-height: 100%;
	vertical-align:middle;
}
#product-kit-table .kit-produtct-item .buttons {
	display: none;
}
#product-kit-table .kit-product-photo{
	width:1px;
	border-right:none;
}
#product-kit-table .kit-product-photo img {
  max-height: 120px;
  max-width: 120px;
}
#product-kit-table .kit-product-info {
	border-left:none;
}
#product-kit-table .kit-produtct-item .product{
	display:inline-block;
	line-height: normal;
	position:relative;
}
#product-kit-table .kit-product-info .product-name {
    font-size:16px;
    margin-bottom:4px;
    min-height: inherit;
    text-align: left;
}
.btn-buy-kit{
	float:right;
}
.check-buy{
	text-align:center;
	width:90px;
}

.kit-product-subvar{
	width:180px;
	text-align:center;
	border-right: 1px solid #EDEDED;
	padding-right:10px;
	padding-left:10px;
}

.kit-product-novars{
	border-left:none;
}