﻿/* COISAS DE ESTRUTURA - SOMENTE DEFINICOES DE TAMANHOS E POSICIONAMENTOS */
#interactivity {
	position: relative;
	float: right;
	width: 46%;
	background: #fff;
}
#media {
	position: relative;
	overflow: hidden;
	float: left;
	width: 52%;
	background: #fff;
	text-align: center;
}
#media .media-wrapper {
	overflow: hidden;
	margin: 0 auto;
	padding: 5px 0 0 0;
}
#interactivity-wrapper {
	position: relative;
	margin: 0 auto;
	z-index: 1;
}
.product-contents {
	overflow: hidden;
	margin-bottom: 20px;
}



/* LAYOUT - CORES, FORMATOS, TAMANHOS DE FONTES, ETC */
#page-produtos strong.keyword {
	font-weight:normal
}
#page-produtos .component-group .to-top {
	display:none;
}


/* PRODUCT-DESCRIPTION */
.product-description {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}
.product-description dl {
	overflow:hidden;
}
.product-description dt {
	color: #4A4A4A;
	font-size:20px;
	line-height: 24px;
	margin-bottom: 5px;
	$bold;
}
.product-description dd.description {
	display: block;
	line-height: 14px;
	margin-bottom: 10px;
}
.product-description dd.even,
.product-description dd.odd {
	float: left;
	width: 50%;
	color: #666;
	margin-bottom: 5px;
}



/* RATING */
#interactivity dd.product-rating {
	clear: both;
	display: block;
	margin: 0 0 10px 0;
}
#interactivity dd.product-rating .rate-this-product {
	font-weight: normal;
	color: $font-color-4;
}


/* MAIS INFORMACOES */
#interactivity a#more-info {
	display: none;
	text-decoration: underline;
}


/* PHOTOS */
#media .product-photos {
	display: block;
	float: left;
	width: 100%;
}
.without-left-column.without-right-column #media .product-photos {
	width: 67px;
	margin-right: 5px;
}
#media .product-photos ul {
	list-style:none;
	overflow:hidden;
	text-align:center;
}
#media .product-photos li {
	display: inline-block;
	margin: 0 3px 5px 0;
	line-height:10px;
	cursor:pointer;
	vertical-align:middle;
	border:1px solid #ccc;
	$anima;
}
.without-left-column.without-right-column #media .product-photos li {
	float: inherit;
	margin: 0 0 5px 0;
}
#media .product-photos li:hover,
#media .product-photos li.selected {
	border-color: $base-color-2;
}
#media .product-photos img {
	max-width:60px;
	max-height:60px;
	margin:0;
	vertical-align:middle;
}
#a-zoom{
	margin:0 auto;
	display:inline-block;
	width:auto;
	height:auto;
	cursor:move !important;
}


/* photo */
.img-wrapper {}
.img-wrapper #zoom-wrapper {
	/*float: left;*/
}


/* MEDIA ACTIONS - BOTOES */
#media .media-actions {
	display: block;
	clear: both;
	padding: 10px 0;
}
#media .media-actions br,
#media .media-actions .zoom {
	display: none;
}
#media .media-actions a.btn-alt {
	margin: 0 5px;
}


/* PURCHASE INFO - PRECOS */
.purchase-info {
	float: left;
	padding: 0 0 10px 0;
}
.purchase-info .content {}




/* PRODUCT SERVICE - LINKS */
.product-service {
	display: block;
	clear: both;
	overflow: hidden;
	background: #EEE;
    padding: 10px;
    margin-bottom: 10px;
	font-size: 12px;
}
.product-service .content {}
.product-service a {}
.product-service a span {
	display: none;
}
.product-service b {
	$regular;
}
.product-service span.review,
.product-service span.reviews {
	display: none;
}
.product-service span.questions,
.product-service span.recommendations,
.product-service span.lists {
	padding-right: 10px;
}

#interactivity #payments span:before,
.product-service span a:before {
	content: "";
	color: $base-color-1;
	$icon;
}
.product-service span.questions a:before {
	content: "\f059";
}
.product-service span.recommendations a:before {
	content: "\f005";
}
.product-service span.lists a:before {
	content: "\f004";
}
.product-service a#payments:before {
	content: "\f155";
	color: $base-color-1;
	padding-right: 3px;
	$icon;
}




/* FORM VALIDADE */
#interactivity form.validate {
	display: block;
	clear: both;
}


/* PURCHASE-TOOLBAR */
.purchase-toolbar {
	display: block;
}
.purchase-toolbar .content {
	position: relative;
	margin-bottom: 10px;
}
.purchase-toolbar .btn-container {
	display: block;
	overflow: hidden;
}
.purchase-toolbar .btn-container button {
	float: left;
}


.purchase-toolbar a#shipping.btn-alt,
.purchase-toolbar a#payments.btn-alt {
	margin-bottom: 10px;
}

.purchase-toolbar a#shipping.btn-alt b,
.purchase-toolbar a#payments.btn-alt b {}

.purchase-toolbar input.shipping-cep {
	position: absolute;
	bottom: 0;
	left: 280px;
}

/* PURCHASE-TOOLBAR - ICONES */
.purchase-toolbar #payments span,
.purchase-toolbar #shipping span {
	width:16px;
	height:16px;
	display:inline-block;
	padding-right:3px;
}
#interactivity #payments span:before {
	content: "\f155";
	color: $base-color-1;
	$icon;
}
#interactivity #shipping span:before {
	content: "\f0d1";
	color: $base-color-1;
	$icon;
}



/* FRETE */
#page-produtos .custom-frete {
 	position: relative;
 	display: block;
 	clear: both;
 	background: #fff;
	margin: 10px 0 0 0;
	border: 1px solid #ddd;

	-webkit-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
	-moz-box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
	box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.06);
}
#page-produtos .custom-frete-wrapper {
 	display: block;
 	height: 60px;
}
#page-produtos .custom-frete .title {
	position: absolute;
	top: 22px;
  	display: block;
  	float: left;
  	color: #666;
  	font-size: 14px;
  	padding: 0 10px 0 25px;
}
#page-produtos .custom-frete a.nao-sei-cep {
	position: absolute;
	top: 25px;
	right: 15px;
 	display: block;
 	float: left;
 	font-size: 90%;
}
#page-produtos .custom-frete input.shipping-cep {
	position: absolute;
	top: 13px;
	left: 180px;
  	display: block;
  	float: left;
  	width: 100px;
  	padding: 2px 10px;
  	border: 1px solid #ccc;
}
#page-produtos .custom-frete a#shipping {
	position: absolute;
	top: 13px;
	left: 290px;
  	display: block;
  	float: left;
  	width: 43px;
  	height: 33px;
  	font-size: 14px;
  	color: $font-color-1;
  	background: $base-color-1;
  	line-height: 33px;
  	text-align: center;
  	text-decoration: none;
  	$anima;
  	$bold;
}
#page-produtos .custom-frete a#shipping:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}




/* product-social-networks */
#product-social-networks {
	display: block;
	clear: both;
}
#product-social-networks .legend {
	display: none;
}



/* INFORMATIONS */
.list-style .tab-toolbar,
.tab-style .legend {
	display:none;
}
.informations-wrapper {
	position:relative;
	margin:40px 0;
}
.information-toolbar {
	display: none;
}

.tab-toolbar {
	display: block;
	height: 46px;
	width: 100%;
	border-bottom: 1px solid $base-color-2;
}
.informations-wrapper .tab-style .tab-toolbar a {
	display: block;
	float: left;
	padding: 0 25px;
	line-height: 46px;
	background: #e5e5e5;
    margin: 0 10px 0 0;
    font-size: 18px;
    text-align: center;
	color: #444;
    text-decoration: none;
	$anima;
}
.informations-wrapper .tab-style .tab-toolbar a b {
	font-weight: normal;
}
.informations-wrapper .tab-style .tab-toolbar a:hover,
.informations-wrapper .tab-style .tab-toolbar a.selected {
	background: $base-color-2;
	color: $font-color-2;
}
.information-descriptions {
	display: block;
	padding: 20px;
	background: #fff;
}
.information-descriptions > ul {
	list-style: none;
}
.information-descriptions > ul > li {}
.information-descriptions h3.info-title {
	display: none;
	font-size: 18px;
	padding: 10px 0 5px 0;
}
.information-descriptions .info-description {
	line-height: 18px;
	font-size: 13px;
}
.information-descriptions .info-description ul {
	padding: 0 20px;
}
.information-descriptions .info-description ol {
	padding: 0 20px;
}




/* SHOPPING POINTS TOOLBAR */
#shopping-points {
	display: block;
	clear: both;
	overflow: hidden;
	background: #EEE;
    padding: 10px;
	font-size: 14px;
    margin-bottom: 10px;
}
#shopping-points .title {
	display: block;
	float: left;    
    text-align: right;
    padding: 0 8px 0 0;
}
#shopping-points .content {
	display: block;
	float: left;
}
#shopping-points .content b {
	color: $precos;
}





#page-produtos strong.keyword {
	margin-left:0px !important;
	display: inline !important;
	width: auto !important;
}



/* COMPONENTES */
/* ARQ: DETALHE DO PRODUTOS */
#page-produtos #comments-rating,
#product-questions,
.associations,
#buytogether-v2 {
	clear: both;
	position: relative;
	display: block;
	margin: 40px 2px;
	background: #fff;

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#page-produtos #comments-rating,
#product-questions {
	background-color: #f5f5f5;
}
#page-produtos #comments-rating .legend,
#product-questions .legend,
.associations .legend,
#buytogether-v2 .legend {
	$component-legend;
}
#page-produtos #comments-rating .title,
#product-questions .title,
.associations .title,
#buytogether-v2 .title {
	position: relative;
	display: block;
	color: #333;
	font-size: 26px;
	line-height: 50px;
	display: block;
	padding: 0 15px;
	padding-top: 5px;
}
#page-produtos #comments-rating .title:before {
	content: '\f005';
	display: block;
	float: left;
	color: #ccc;
	font-size: 90%;
	padding-right: 10px;
	$icon;
}
#product-questions .title:before {
	content: '\f059';
	display: block;
	float: left;
	color: #ccc;
	font-size: 90%;
	padding-right: 10px;
	$icon;
}
.associations .title:before {
	content: '\f055';
	display: block;
	float: left;
	color: #ccc;
	font-size: 90%;
	padding-right: 10px;
	$icon;
}
#buytogether-v2 .title:before {
	content: '\f055';
	display: block;
	float: left;
	color: #ccc;
	font-size: 90%;
	padding-right: 10px;
	$icon;
}


#page-produtos #comments-rating .header,
#product-questions .header,
.associations .header,
#buytogether-v2 .header {}

#page-produtos #comments-rating .icon,
#product-questions .icon,
.associations .icon,
#buytogether-v2 .icon {}


#product-questions .content,
#comments-rating .content,
#buytogether-v2 .content,
.associations .content {
	clear: both;
	padding: 10px;
}
#page-produtos #comments-rating .content ul,
#product-questions .content ul,
.associations .content ul,
#buytogether-v2 .content ul {
	list-style:none;
}
#page-produtos #comments-rating .footer,
#product-questions .footer,
.associations .footer,
#buytogether-v2 .footer {}


.associations .to-top {
	display: none;
}

