/****************/
/* COM VARIACAO */
/****************/
#interactivity.com-variacao {
	border: 0;
	padding: 0;
	width: 55.3%;
	background-image:url(../_IMG/LAYOUT/bg-interactivity.png);
	background-repeat: repeat-y;
	background-position: right 0;
}
#interactivity.com-variacao #interactivity-wrapper {
	display: block;
	float: left;
	width: 52.2%;

	position:relative;
	margin:0 auto;
	padding: 6px;
	z-index:1;
	border: 1px solid #ccc;
}
#interactivity.com-variacao form.validate {}
#interactivity.com-variacao .purchase-toolbar {
	display: block;
	clear: both;
	width: 100%;
}
#interactivity.com-variacao dd.even,
#interactivity.com-variacao dd.odd {
	width: 100%;
}
#interactivity.com-variacao .purchase-toolbar > .content {
	width: 100%;
}
#interactivity.com-variacao .custom-frete {
	border: 0;
}
#interactivity.com-variacao .custom-frete-wrapper {
	border: 1px solid #ccc;	
}




/******************/
/* COM CROSSLLING */
/******************/
#interactivity.com-crosselling {
	width: 43.6%;
}
#interactivity.com-crosselling form.validate {
	padding: 0;
}
#interactivity.com-crosselling .purchase-info {
	width: 43%;
	padding: 10px 0 0 15px;
}
.associations.crosselling {
	display: block;
	float: right;
	width: 86px;
	padding: 2px;
	margin: 0 0 0 5px;
	border: 1px dashed #999;
}
.associations.crosselling .legend {
	display: block;
	color: #fff;
	height: inherit;
	background: #15bfbd;
}
.associations.crosselling .title {
	display: block;
	font-size: 10px;
	color: #fff;
	line-height: 12px;
	padding: 6px;
	background: #15bfbd;
}
.associations.crosselling .content {
	clear: both;
	display: block;
	padding: 0;
	margin: 0;
}
.associations.crosselling ul {
	clear: both;
}
.associations.crosselling ul > li {
	width: 100%;
	padding: 0 0 15px 0;
	margin: 0;
	min-height: inherit !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.associations.crosselling ul > li .product {
	padding: 0;
}
.associations.crosselling ul > li .product-name {
	font-size: 10px;
	min-height: inherit;
}
.associations.crosselling ul > li .photo {}
.associations.crosselling ul > li .photo img {
	width: 70px;
	height: 70px;
}
.associations.crosselling ul > li .price,
.associations.crosselling ul > li .buttons,
.associations.crosselling ul > li .label {
	display: none;
}
.associations.crosselling .products li:hover {
	-webkit-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
}



/******************************/
/* COM CROSSLLING E VARIACOES */
/******************************/
#interactivity.com-variacao.com-crosselling {
	width: 45.2%;
}
#interactivity.com-variacao.com-crosselling #interactivity-wrapper {
	width: 41.5%;
}
#interactivity.com-variacao.com-crosselling .product-description > .content {
	padding: 8px;
}
#interactivity.com-variacao.com-crosselling form.validate {
	padding: 12px;
}
#interactivity.com-variacao.com-crosselling .purchase-info {
	width: auto;
	padding: 8px 0 0 8px;
}