﻿.gift-certificate legend,
.text-attributes legend,
.variations legend,
.sub-variations legend,
.attributes legend {
	display: none;
}

.text-attributes strong,
.variations strong,
.sub-variations strong,
.attributes strong {
	color:#333;
	display:block;
	padding-bottom: 6px;
	font-size: 14px;
}



/* QUANTIDADE */
/* INPUT ADICIONADO POR JQUERY */
.custom-quantidade label {
  display: block;
  float: left;
  line-height: 24px;
  margin-right: 4px;
}
.custom-quantidade input.quant {
  float: left;
  width: 32px;
  height: 24px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}


/* COMBO ATRIBUTOS */
.combo-attributes {
	display: block;
	margin-bottom: 15px;
}
.combo-attributes .content {}


/* TEXT ATTRIBUTES */
.text-attributes {
	display: block;
	margin-bottom: 15px;
}
.text-attributes .content {}
.text-attributes strong label {}




/* GIFT CERTIFICATE */
.gift-certificate {
	display: block;
	padding: 20px;
	background: #f5f5f5;
}
.gift-certificate + .gift-certificate {
	padding-top: 0;
	margin-bottom: 10px;
}
.gift-certificate label {
	$bold;
	display: block;
	margin: 0 0 5px 0;
	font-size: 16px;
	color: #333;
}
.gift-certificate input,
.gift-certificate textarea {
	width: 100%;
	$borderbox;
}






/* VARIACAO */
.variations .variation-title,
.sub-variations .sub-variation-title {
	display:block;
	margin-top:5px;
}
.variations .variations-wrapper,
.sub-variations .sub-variations-wrapper {
	overflow:hidden;
}

#variations .size-box input,
#variations .color-box input,
#sub-variations .size-box input,
#sub-variations .color-box input {
	position:absolute;
	top:-30px;
	left:0;
	visibility:hidden;
}



/* VARAICOES */
#variations,
#sub-variations {
	display: block;
	padding: 0 0 15px 0;
}

.variations span.size-box,
.sub-variations span.size-box {
	position: relative;
	float: left;
	display:block;
	margin: 0 4px 4px 0;
}
.variations label.size-box,
.sub-variations label.size-box {
	display:block;
	line-height:16px;
	padding: 5px 8px;
	vertical-align:middle;
	text-align:center;
	position:relative;
	font-size: 12px;
	color: $font-color-2;
	background: $base-color-2;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.variations span.selected-box label.size-box,
.sub-variations span.selected-box label.size-box {
	-webkit-box-shadow:inset 0 0 30px 15px rgba(0,0,0,0.50);
	box-shadow:inset 0 0 30px 15px rgba(0,0,0,0.50);
}


/* VARIACAO COM COR E IMAGEM */
.variations span.color-box {
	position: relative;
	display: block;
	float: left;
	border: 1px solid #ccc;
	padding: 1px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 4px 4px 0;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.variations span.color-box.selected-box {
	border-color: $base-color-2;
}
.variations label.color-box {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
}







.sold-out-box-icon{
	$bold;
	display:block;
	position:absolute;
	right:1px;
	bottom:1px;
	color:#F00;
	text-shadow: 1px 1px 0 #fff;
	line-height:10px;
	width:10px;
	height:10px;
	text-align:center;
	vertical-align:middle;
}
