﻿body #toolbar {
  display: none !important; /* oculta toolbar pois usar o header-1 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 50;
  background: $base-color-1;
  
  -webkit-box-shadow: 0 0 4px 0 #444;
  -moz-box-shadow: 0 0 4px 0 #444;
  box-shadow: 0 0 4px 0 #444;
}
.toolbar-wrapper {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}



/* help */
.help {
  display: block;
  position: absolute;
  top: 23px;
  left: 660px;
  color: #fff;
}
.help a {
  $bold;
  font-size: 14px;
  color: #fff;
  padding: 0 5px;
}


/* logo */
#toolbar .logo {
  position: absolute;
  top: 0;
  left: 6px;
  display: block;
  width: 130px;
  height: 60px;
  padding: 0 15px 6px 15px;
  text-indent: -9999em;
  background: #fff;
  
  -webkit-box-shadow: 0 3px 5px -3px #444;
  -moz-box-shadow: 0 3px 5px -3px #444;
  box-shadow: 0 3px 5px -3px #444;
}
#toolbar .logo a {
  display: block;
  width: 130px;
  height: 60px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(files/_ARQUIVOS/LOGO/logo.png);
}


/* SEARCH */
.search {
  position: absolute;
  top: 9px;
  left: 200px;
  width: 420px;
  background: #fff;
  border: 4px solid #eee;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.search .write-search {
  float: left;
}
.search .write-search .icon {
  position: absolute;
  top: 14px;
  left: 13px;
  display: block;
}
#toolbar-search-query {
  border: 0;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 15px;
  width: 350px;
}
.search select {
  display: none;
}
.search a.submit {
  display: block;
  float: right;
  height: 31px;
  line-height: 31px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #666;
  border-bottom: 3px solid rgba(0,0,0,0.20);
  $anima;
}
.search a.submit:hover {
  opacity:0.80;
  -moz-opacity: 0.80;
  filter: alpha(opacity=80);  
}
.search a.submit b {
  display: none;
}
.search a.submit:before {
  content: "\f002";
  display: block;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  $icon;
}



/* basket-info */
#toolbar-basket {
  display: block;
  float: right;
}
.basket-info {
  position: relative;
  display: block;
  float: right;
  height: 60px;
}
.basket-info > a {
  display: block;
  height: 60px;
  padding-left: 42px;
  text-decoration: none;
  color: $font-color-2;
}
.basket-info > a .title {
  display: none;
}
.basket-info > a b {
  display: none;
}
.basket-info > a:after {
  content: "\f07a";
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 32px;
  $icon;
}
.basket-info > a b.quantity-items-cart {
  position: relative;
  top: 17px;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: $base-color-1;
  background-color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}





/* CLONED IMAGE */
.photo .ui-draggable {}
.photo .ui-draggable-dragging {}
.hover .drag-to-basket {
  visibility:visible;
}
.product a.photo:hover {
  text-decoration:none;
}
.ui-draggable-dragging {
  z-index:9149;
}
.ui-already-draggable {}
.added-to-cart .drag-to-basket {
  visibility:hidden !important;
}
.added-message {
  display:none;
}
.hover .drag-to-basket {
  display:block;
}
.added-to-cart .added-message {
  display:block;
}
.products .drag-messages-wrapper {
  display: none;
}






/* FLOATING BASKET */
#floating-basket {
  display:none !important;  
  padding: 2px;
  width:310px;
  z-index: 99;
  max-height:225px;
  color: #333;
  background:#fff;
  border: 1px solid #ccc;
  font-size: 12px;
}
#toolbar #toolbar-basket:hover #floating-basket,
#basket-container:hover #floating-basket {
  display: block !important;
}
#toolbar #toolbar-basket:hover #floating-basket.empty-basket,
#basket-container:hover #floating-basket.empty-basket {
  display: none !important;
}

#toolbar #floating-basket {
  position: absolute;
  top: 60px;
  right: 0;
}
#basket-container #floating-basket {
  position: absolute;
  top: 48px;
  right: 0;
}



/* floating basket */
#floating-basket .basket-title {
  $bold;
  display: block;
  color: #444;
  font-size: 14px;
  padding: 10px;
  margin: 2px 2px 0 2px;
  border: 1px solid #ccc;
}
#floating-basket ul.basket-items {
  clear: both;
  overflow-x: hidden;
  overflow-y: visible;
  list-style: none;
  max-height: 103px;
}
#floating-basket ul.basket-items > li {
  overflow: hidden;
  clear: both;
  position: relative;  
  border: 1px solid #ccc;
  border-top: 0;
  margin: 0 2px;
  padding: 10px;
  min-height: 30px;
}
#floating-basket ul.basket-items > li > span {  
  display: block;
  float: left;
}
#floating-basket ul.basket-items > li a.url {
  display: block;
  float: left;
  width: 165px;
  font-size: 11px;
}
#floating-basket ul.basket-items > li .quantity {
  $bold;
  position: absolute;
  top: 10px;
  right: 70px;
  font-size: 11px;
  color: $precos;
}
#floating-basket ul.basket-items > li .price {
  $bold;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $precos;
}
#floating-basket .basket-subtotal {
  display: none;
}
#floating-basket .basket-total.basket-subtotal {
  overflow: hidden;
  clear: both;
  display: block;
  margin: 0 2px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: 0;
}
#floating-basket .basket-total.basket-subtotal b {
  display: block;
  float: left;
}
#floating-basket .basket-total.basket-subtotal span {
  display: block;
  float: right;
}


#floating-basket .go-to-my-basket {
  clear: both;
  display: block;
  text-align: center;
  display: block;
  margin: 0 2px 2px 2px;
  padding: 10px;
  border: 0;
}
#floating-basket .go-to-my-basket a.btn {
  display: block;
  padding: 0;
}
#floating-basket .go-to-my-basket a.btn b {
  $bold;
  font-size: 14px;
  padding: 0;
  line-height: 35px;
}