﻿.products {
	list-style:none;
	overflow: hidden;
}
.products li a {
	text-decoration: none;
}
.products li {
	position: relative;
	display: block;
	float: left;
	width: calc(25% - 10px);
	margin: 5px;
	border: 1px solid transparent;
	$borderbox;
}
.products li:hover {	
	border: 1px solid #ddd;
}
.products li .product {
	display: block;
	overflow: hidden;
	padding: 10px 10px 30px 10px;
}
.products .product-name {
	display: block;
	min-height: 56px;
}
.products .product-name a {
	font-size: 14px;
	display: block;
	color: $font-color-4;
	$bold;
}
.products .photo {
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0 0 5px 0;
	text-align: center;
}
.products .photo img {}
.products .rating {
	display: block;
	margin: 0 0 10px 0;
}




/* BOTAO */
.products .buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
}
.products li .buttons a {
	display: none;
	position: relative;
	height: 30px;
	width: 100%;
	color: $font-color-1;
	background: $base-color-1;
	text-align: center;
}
.products li:hover .buttons a.details  {
	display: block;
}
.products li:hover .buttons a {
	-moz-filter: grayscale(10%);
	-webkit-filter: grayscale(10%);
	filter: grayscale(10%);
}
.products li .buttons a:hover {
	-moz-filter: grayscale(20%);
	-webkit-filter: grayscale(20%);
	filter: grayscale(20%);
}
.products .buttons a.details {
	margin: 0 auto;
}
.products .buttons a.buy {
	display: none;
	margin: 0 auto;
}
.products .buttons a.details b,
.products .buttons a.buy b {
	position: relative;
	line-height: 30px;
	padding: 0 5px;
	font-size: 14px;
	text-transform: uppercase;
}
.products .buttons a.details:before {
	content: "\f067";
	font-size: 14px;
	color: $font-color-2;
 	z-index: 1;
	$icon;
}
.products .buttons a.buy:before {
	content: "\f07a";
	font-size: 14px;
	color: $font-color-2;
 	z-index: 1;
	$icon;
}




/* OUTROS */
.more-sections,
.products .description,
.products .products-sold,
.products .products-countdown,
.products .buttons a.details-quickview {
	display: none;
}



/* COMPONENTS DE VITRINE */
.layout-1,
.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
	position:relative;
	background: #fff;
	margin-bottom: 30px;
}
.layout-1 .content,
.layout-2 .content,
.layout-3 .content,
.layout-4 .content,
.layout-5 .content,
.layout-6 .content {
	display: block;
	clear: both;
	margin-top: 10px;
}
.layout-1 .legend,
.layout-2 .legend,
.layout-3 .legend,
.layout-4 .legend,
.layout-5 .legend,
.layout-6 .legend {
	$vitrine-legend;
}
.layout-1 .title,
.layout-2 .title,
.layout-3 .title,
.layout-4 .title,
.layout-5 .title,
.layout-6 .title {
	$vitrine-title;
}
.layout-1 .title a,
.layout-2 .title a,
.layout-3 .title a,
.layout-4 .title a,
.layout-5 .title a,
.layout-6 .title a {
	color: #666;
	text-decoration: none;
}
.layout-1 .icon,
.layout-2 .icon,
.layout-3 .icon,
.layout-4 .icon,
.layout-5 .icon,
.layout-6 .icon {
	$vitrine-icon;
}




/* LARGURA - FLUIDO + COM AS DUAS COLUNAS */
.fluid-layout .layout-1 .products li {}
.fluid-layout .layout-2 .products li { width: calc(50% - 10px); }
.fluid-layout .layout-3 .products li { width: 100%; }
.fluid-layout .layout-4 .products li { width: calc(33.2% - 10px); }
.fluid-layout .layout-5 .products li { width: 208px !important; }

/* LARGURA - FLUIDO + SEM COLUNA DIREITA */
.fluid-layout .without-right-column .layout-1 .products li {}
.fluid-layout .without-right-column .layout-2 .products li { width: calc(50% - 10px); }
.fluid-layout .without-right-column .layout-3 .products li { width: 100%; }
.fluid-layout .without-right-column .layout-4 .products li { width: calc(33.2% - 10px); }
.fluid-layout .without-right-column .layout-5 .products li { width: 208px !important; }

/* LARGURA - FLUIDO + SEM COLUNA DIREITA E ESQUERDA */
.fluid-layout .without-left-column.without-right-column .layout-1 .products li { width: calc(20% - 10px); }
.fluid-layout .without-left-column.without-right-column .layout-2 .products li { width: calc(33.2% - 10px); }
.fluid-layout .without-left-column.without-right-column .layout-3 .products li { width: 100%; }
.fluid-layout .without-left-column.without-right-column .layout-4 .products li { width: calc(33.2% - 10px); }
.fluid-layout .without-left-column.without-right-column .layout-5 .products li { width: 208px !important; }



/* LARGURA - FIX + COM AS DUAS COLUNAS */
.fixed-layout .layout-1 .products li { width: calc(33.2% - 10px); }
.fixed-layout .layout-2 .products li { width: 100%; }
.fixed-layout .layout-3 .products li { width: 100%; }
.fixed-layout .layout-4 .products li { width: calc(50% - 10px); }
.fixed-layout .layout-5 .products li { width: 208px !important; }

/* LARGURA - FLUIDO + SEM COLUNA DIREITA */
.fixed-layout .without-right-column .layout-1 .products li { width: calc(25% - 10px); }
.fixed-layout .without-right-column .layout-2 .products li { width: calc(50% - 10px); }
.fixed-layout .without-right-column .layout-3 .products li { width: 100%; }
.fixed-layout .without-right-column .layout-4 .products li { width: calc(50% - 10px); }
.fixed-layout .without-right-column .layout-5 .products li { width: 208px !important; }

/* LARGURA - FLUIDO + SEM COLUNA DIREITA E ESQUERDA */
.fixed-layout .without-left-column.without-right-column .layout-1 .products li { width: calc(20% - 10px); }
.fixed-layout .without-left-column.without-right-column .layout-2 .products li { width: calc(33.2% - 10px); }
.fixed-layout .without-left-column.without-right-column .layout-3 .products li { width: 100%; }
.fixed-layout .without-left-column.without-right-column .layout-4 .products li { width: calc(33.2% - 10px); }
.fixed-layout .without-left-column.without-right-column .layout-5 .products li { width: 208px !important; }



/* layout-2 */
.layout-2 {}
.layout-2 .products li {
	margin: 0 0 2px 0;
	padding: 0;
	width: 50%;
	min-height: 240px !important;
}
.layout-2 .products li .product {
	display: block;
	overflow: hidden;
}
.layout-2 .products .product-name {
	text-align: left;
}
.layout-2 .photo {
	float: left;
	width: 47%;
	padding-right: 2%;
	$borderbox;
}
.layout-2 .photo img {
	width: 130px;
	height: auto !important;
}
.layout-2 .product-info {
	float: left;
	width: 51%;
}
.layout-2 .buttons {
	bottom: 0;
    left: 0;
    width: 100%;
}




/* layout-3 */
.layout-3 {
	width: 50%;
	float: left;
}
.layout-3 .content > .products li {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: inherit !important;
}
.layout-3 .products .product-name {
	text-align: left;
}
.layout-3 .photo {
	float: left;
	width: 47%;
	padding-right: 2%;
	$borderbox;
}
.layout-3 .photo img {
	max-width: 160px;
}
.layout-3 .product-info {
	float: left;
	width: 51%;
}
.layout-3 .content > .products.see-also li {
	width:auto !important;
	min-height: 15px !important;
	margin:0 !important;
	padding:0 !important;
	font-size:10px;
	line-height:14px;
	display:block;
	float:none;
	text-align: left;
	border: 0 !important;
}
.layout-3 .see-also li:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.layout-3 .see-also-title {
	$bold;
	color:#333;
	font-size:14px;
	display:block;
	padding: 10px 10px 0 10px;
}
.layout-3 ul.see-also {
	min-height: 62px;
	padding: 8px 10px;
}
.layout-3 .see-also li .price,
.layout-3 .see-also li .product-name, 
.layout-3 .see-also li .product-name a {
	display: inline;
	padding:0;
	font-weight: normal;
	font-size: 11px;
}
.layout-3 .see-also li .price b {
	font-size:11px;
	padding: 0 0 0 5px;
	color: $precos;
}



/* layout-4 */
.layout-4 {}
.layout-4 .photo {
	padding: 0 0 15px 0;
}
.layout-4 .photo img {
	height: auto;
	max-width: 270px;
	min-width: 270px;
}




/* layout-5 */
.layout-5 {
	width:100%;
	float:left;
}
.layout-5 .content {
	overflow:hidden;
	padding: 0;
	margin: 0 auto;
}

/* fluido */
.fluid-layout .layout-5 .content {
	width: 95% !important;
}
.fluid-layout .without-right-column .layout-5 .content {
	width: 83% !important;
}
.fluid-layout .without-left-column.without-right-column .layout-5 .content {
	width: 87.5% !important;
}

/* fluido + sem colunas + janela minimizada */
.fluid-layout.r1280 .without-left-column.without-right-column .layout-5 .content,
.fluid-layout.r1152 .without-left-column.without-right-column .layout-5 .content,
.fluid-layout.r1024 .without-left-column.without-right-column .layout-5 .content {
	width: 87.5% !important;
	max-width: 832px;
}

/* fixo */
.fixed-layout .layout-5 .content {
	width: 72% !important;
}
.fixed-layout .without-right-column .layout-5 .content {
	width: 83% !important;
}
.fixed-layout .without-left-column.without-right-column .layout-5 .content {
	width: 89% !important;
}


.layout-5 .carousel li {
	height:auto !important;
	width:210px !important;
	padding:10px 0;
}
.layout-5 .prev,
.layout-5 .next {
	display: block;
	position: absolute;
	top:44%;
	font-size: 0;
	text-decoration: none;
}
.layout-5 .prev {
	left: 5px;
}
.layout-5 .next {
	right: 5px;
}
.layout-5 .prev:after {
	content: "\f104";
	$icon;
	font-size: 85px;
	color: $base-color-1;
}
.layout-5 .next:after {
	content: "\f105";
	$icon;
	font-size: 85px;
	color: $base-color-1;
}








/* .LAYOUT-6 */
#carousel3D {
	width:602px;
	height:350px !important;
	margin:0 auto;
}
#carousel3D > div {
	display:block;
	height:100%;
    position:absolute;
    width:600px;
}
#carousel3D a img {
	max-height:125px;
	max-width:125px;
}
.layout-6 .content {
	position:relative;
}
.layout-6 .cloudcarousel {
	border: 6px solid #eee;
	overflow: hidden;
}
.layout-6 a:hover .cloudcarousel {
	border-color: #ddd;
}
.layout-6 #carousel-box {
	margin:0 auto;
}
.cloudcarousel-infos{
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center
}
#title-text {
	text-align:center;
	width:100%;
	font-size:20px;
	margin:0 auto 5px;
}
#alt-text {
	font-size:16px;
	width:100%;
	margin:0 auto
}
#alt-text .price {
	text-align: center;
}
#left-but,
#right-but {
	position: absolute;
	top:44%;
	font-size: 11px;
	background: #f1f1f1;
	border: 0;
	display: block;
	text-indent: -9999em;
	text-decoration: none;
	background: transparent;
}
#left-but {
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #ccc transparent transparent;
}
#right-but {
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #ccc;
}




/* LAYOUT UTILITIES - BANNERS */
.layout-utilities {
 display: block;
 clear: both;
 float: left;
 width: 100%;
 padding: 0 0 50px 0;
}
.layout-utilities .icon {
	$vitrine-icon;
}
.layout-utilities .legend {
 $vitrine-legend;
}
.layout-utilities .title {
 $vitrine-title;
}
.layout-utilities ul {
 list-style: none;
 padding: 10px 0;
}
.layout-utilities ul li {
 display: block;
 float: left;
  overflow: hidden;
  $borderbox;
}
.layout-utilities ul li a {
  float: left;
}
.layout-utilities ul li img {}