ul.component-group-tabs{
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid $base-color-1;
}
ul.component-group-tabs li {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 15px 30px;
	border: 1px solid #ccc;
	border-bottom: 0;
	position: relative;
	opacity: 0.8;
	cursor: pointer;
	$anima;
}
ul.component-group-tabs li h2 {
	font-size: 20px;
}
ul.component-group-tabs li.current{
	border-color: $base-color-1;
	opacity: 1;
	cursor: default;
	color: $font-color-1;
	background:  $base-color-1;
}