﻿/* BANNERS */
.banner-geral { }

/* TOPO (ID:1) */
.banner-topo {}

/* FULLBANNER (ID:21) */
.banner-fullbanner { clear: both; }

/* CENTRO 01-02 (IDS:2-3) */
.banner-centro { margin:0 0 10px 0; }

/* DIREITA 01-10 (IDS:4-13) */
.banner-direita { margin:0 0 5px 0; }

/* ESQUERDA 01-05 (IDS:14-18) */
.banner-esquerda {
	margin:0 0 5px 0;
	overflow:hidden;
}

/* RODAPE (ID:19) */
.banner-rodape { margin:0 0 5px 0; }

/* FLYBANNER (ID:20) */
div#global-fly {
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:100;
	width:auto;
	height:auto
}
div#bt-fechar-fly {
	position:absolute;
	top:-10px;
	right:-60px;
	padding:2px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	cursor:pointer;
	z-index:100
}