/* ERROR 404 */
#page-produtos-pesquisa #center-middle.component-group {
}
#page-produtos-pesquisa h2
#page-erro404 h2 {
	font-size:1.5em;
	padding-bottom:25px;
	border-bottom:1px solid #D8D8D8;
}
#page-produtos-pesquisa .causes,
#page-erro404 .causes,
#page-erro404 .contact {
	color:#333;
	padding-bottom: 15px;
	list-style:square inside;
}