﻿/* UTILIDADES */
.hide {
	display:none !important;
}

/* MSG ERRO */
#msg-erro {
	height:18px;
	padding:6px;
	width:auto;
	border-bottom:1px solid #E5E5B8;
	background-color:#FFFFCD;
	color:#000;
	font-size:12px;
}
#msg-erro samp {
	background-position:0 0;
	display:block;
	float:left;
	width:18px;
	height:18px;
	text-indent:-9999em;
	margin:2px 4px;
	vertical-align:middle;
}
#msg-erro span {
	color:#A00;
	text-decoration:underline;
}


/* LABELS */
.products li .labels-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
#media .labels {
	position: absolute;
	top: 6px;
	right: 0;
	z-index: 999;
}
.label {
	display:block;
	width:100px;
	height:20px;
	text-indent:-9999em;
	margin-bottom: 3px;
}
.products li .label {
	display: block;
}
.free-shipping {
	background-position:0 -585px;
}
.promotion {
	background-position:0 -637px;
}
.est_lancamento {
	background-position:0 -611px;
}
.est_recomendado {
	background-position:0 -663px;
}
.check-out table span.free-shipping {
	display: block;
	width:100px;
	height:20px;
	text-indent:-9999em;
	background-position:0 -585px;
}


/* SYSTEM BUTTONS: A.BTN */
a.btn {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: $font-color-1;
	background-color: $base-color-1;
	$anima;	

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
a.btn b {
	$normal;
	display: block;
	padding: 0 22px;
	font-size: 14px;
	line-height: 36px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
a.btn:hover {
	opacity:0.80;
	-moz-opacity: 0.80;
	filter: alpha(opacity=80);
}

a.btn-alt.btn-return {
	display: none;
}



/* SYSTEM BUTTONS: A.BTN-ALT */
.btn-alt {
	background:#FFF;
	padding:0;
	display:inline-block;
	font-size:12px;
	font-weight:900;
	text-shadow:#FFF 0 1px 0;
	text-decoration:none;
	border:1px solid #E6E6E6;
	text-align:center;
	cursor:pointer;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}
.btn-alt b {
	display:block;
	color:#333;
	padding:0 8px;
	line-height:25px;
	font-weight: normal;
	border:1px solid #FFF;
	cursor:pointer;
	-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;

	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}
.btn-alt:hover {
	border-color:#CCC;
	text-decoration:none;
}
.btn-alt:active {}
.btn-alt:hover b { color:#222; }
.btn-alt:active b {}


/* RATINGS */
.rating {
	display:inline-block;
    height:16px;
    text-indent:-9999em;
    width:90px;
    line-height: 15px;
	background-position:-92px -133px;
}

/* TAMANHO DA ESTRELA, PARA MODAL DE COMENTARIO */
.modal #comments-rating fieldset label {
	width:18px;
}
.rate-1,
.over-1 { background-position:-74px -133px; }
.rate-2,
.over-2 { background-position:-56px -133px; }
.rate-3,
.over-3 { background-position:-38px -133px; }
.rate-4,
.over-4 { background-position:-20px -133px; }
.rate-5,
.over-5 { background-position:-2px -133px; }



/* PRE VENDA */
.products li .pre-ordable {
	display: block;
	padding: 5px;
	margin: 0 0 8px 0;
	text-align: center;
	color: $font-color-2;
	background: $base-color-2;
}


/* SHADOWBOX */
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner,
div.sb-message{
	font-weight:normal;
	color:#fff;
}
#sb-container {
	position:fixed;
	margin:0;
	padding:0;
	top:0;
	left:0;
	z-index:999;
	text-align:left;
	visibility:hidden;
	display:none;
}
#sb-overlay {
	position:relative;
	height:100%;
	width:100%;
	filter:alpha(opacity=50);
}
#sb-wrapper {
	position:absolute;
	visibility:hidden;
	width:100px;
	padding:24px 10px 10px 10px;
    box-sizing: content-box;
}
#sb-wrapper-inner {
	position:relative;
	overflow:hidden;
	height:100px;
}
#sb-body {
	position:relative;
	height:100%;
	text-align:center;
}
#sb-body-inner {
	position:absolute;
	left:0;
	height:100%;
	width:100%;
}
#sb-body-inner iframe {
	text-align:center;
}
#sb-player.html {
	height:100%;
	overflow:auto;
}
#sb-body img {
	border:none;
	position:relative !important;
	margin:auto;
}
#sb-loading {
	position:relative;
	height:100%;
}
#sb-loading-inner {
	position:absolute;
	font-size:14px;
	line-height:17px;
	height:24px;
	top:50%;
	margin-top:-12px;
	width:100%;
	text-align:center;
}
#sb-loading-inner span {
	background:url(../_IMG/loading.gif) no-repeat;
	padding-left:20px;
	display:inline-block;
	color:#666;
	text-transform:capitalize;
}
#sb-body,
#sb-loading {
	background-color:#060606;
}
#sb-title,
#sb-info {
	position:absolute;
	top:-2px;
	right:12px;
	margin:0;
	padding:0;
	overflow:hidden;
}
#sb-title,
#sb-title-inner {
	height:26px;
	line-height:26px;
}
#sb-title-inner {
	font-size:16px;
}
#sb-info,
#sb-info-inner{
	height:20px;
	line-height:20px;
}
#sb-info {
	width:95%;
}
#sb-info-inner{
	font-size:12px;
}
#sb-nav{
	float:right;
	height:16px;
	padding:2px 0;
	width:45%;
}
#sb-nav a {
	display:block;
	float:right;
	height:16px;
	width:16px;
	margin-left:3px;
	cursor:pointer;
	background-repeat:no-repeat;
}
#sb-counter {
	float:left;
	width:45%;
	position:absolute;
	top:0;
	left:0;
}
#sb-counter a {
	padding:0 4px 0 0;
	text-decoration:none;
	cursor:pointer;
	color:#fff;
}
#sb-counter a.sb-counter-current {
	text-decoration:underline;
}
div.sb-message {
	font-size:12px;
	padding:10px;
	text-align:center;
}
div.sb-message a:link,
div.sb-message a:visited {
	color:#fff;
	text-decoration:underline;
}
#sb-container #sb-wrapper{
	background:#FFF;
	-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;
	-webkit-box-shadow:#000 0 0 5px;
	-moz-box-shadow:#000 0 0 5px;
	box-shadow:#000 0 0 5px;
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#000000');
}
#sb-container #sb-body,
#sb-container #sb-loading {
	background:#FFF;
}
#sb-container #sb-info,
#sb-container #sb-info-inner {
	height:auto;
	line-height:normal;
}
#sb-container #sb-title,
#sb-container #sb-title-inner {
	display:none;
}
#sb-container #sb-nav {
	width:100px;
	height:24px;
}
#sb-container #sb-counter a {
	display:inline-block;
	padding: 2px 6px;
	margin: 2px 2px 0 0;
	font-size: 15px;
	color:#666;
	text-decoration:none;
	cursor:pointer;
}
#sb-container #sb-counter a.sb-counter-current {
	$bold;
	color:#FFF;
	background:$base-color-1;
}
