/* WISHLIST */
#page-painel-listas label {
	font-size: 13px;
	text-shadow:#fff 0 1px 0;
}
#page-painel-listas p.attention {
	color:$base-color-1;
	font-size:12px;
}
#page-painel-listas .control-panel .wishlist-destroy-form .btn {
	margin-left:0;
}
#page-painel-listas .control-panel .section .send-btn {
	-position:relative;
	-height:36px;
}
#page-painel-listas .control-panel .section .send-btn .btn {
	-margin-left:0px !important;
	-position:absolute;
	-left:162px;
}



/* CLIENT-PANEL: PAINEL_LISTAS.ASP */
#page-painel-vales .gift-certificate {
	-height:1%;
}
#page-painel-vales .gift-certificate .icon {
	background-position:0 -500px;
}
#page-painel-vales .gift-certificate h4 {
	padding-bottom:0;
}


/* CLIENT-PANEL: PAINEL_LISTAS.ASP */
#page-painel-listas .wishlist {
	-height:1%;
}
#form-pontuacao .wishlist .icon,
#page-painel-listas .wishlist .icon {
	background-position:0 -400px;
}
#page-painel-listas .wishlist h4 {
	padding-bottom:0;
}
#page-painel-listas p.blank-slate,
#page-painel-listas p.blank-slate a {
	font-size:12px;
}
#page-painel-listas .destroy-wishlist {
	color:$base-color-1;
}
/* WISHLIST TABLES */
#page-painel-listas .wishlists-wrapper,
.wishlist-products-wrapper {
	margin:0;
	padding:0;
	border:1px solid #D6D6D6;
	margin-bottom:10px;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	-clear:both;
}
#page-painel-listas .wishlists,
#page-painel-listas .wishlist-products {
	width:100%;
	border-spacing:0px 0px;
}

/* WISHLISTS TABLE */
#page-painel-listas .wishlists .actions li {
	display:inline;
}




/* WISHLIST NEW */
#wishlist-new  {
	/*width: 700px !important*/
}

#wishlist-new #div-address span{
	width: 100% !important;
	padding: 15px 0 10px 10px !important;
}


#wishlist-new .field-wrapper .type-text {
	width: 200px;
	clear: both;
}

#wishlist-new #new_cep {
	display: inline-block !important;
	width: 32% !important;
}

#wishlist-new .btn {
margin-left: 10px !important;
}