/* CLIENT-PANEL: PAINEL_PEDIDOS.ASP: ORDERS SEARCH */
#page-painel-meus-pedidos .orders-search {
	height:auto;
	-width:750px;
	*height:60px;
	-height:74px;
}
#page-painel-meus-pedidos .outer-panel-wrapper > p > b {
	display: block;
	padding: 5px 0;
	font-size: 14px;
}
#page-painel-meus-pedidos .orders-search .icon {
	background-position:0 -200px;
	height:70px;
	width:75px;
}
#page-painel-meus-pedidos .orders-search h3 {
	float:none;
	width:auto;
}
/* SEARCH FORM */
#page-painel-meus-pedidos .orders-search-form {
	-position:relative;
	*margin-top:-10px;
	-margin-top:0;
	-top:-35px;
}


#page-painel-meus-pedidos .orders-search-form fieldset {
	margin:0;
	padding:0 10px 0 0;
	border:0 none;
}
#page-painel-meus-pedidos .orders-search-form fieldset.order-id-field,
#page-painel-meus-pedidos .orders-search-form fieldset.period-field,
#page-painel-meus-pedidos .orders-search-form fieldset.tracking-code-field {
	float:left;
	margin-right:5px;
}
#page-painel-meus-pedidos .orders-search-form fieldset.submit-field {
	float: right;
} 
#page-painel-meus-pedidos fieldset label {
	display:block;
	padding:0 0 4px;
}
#page-painel-meus-pedidos .orders-search-form .submit-field {
	padding-top: 14px;
	margin:0;
	padding-left:0;
}
#page-painel-meus-pedidos .period-from,
#page-painel-meus-pedidos .period-to {
	float:left;
	vertical-align:middle;
}
#page-painel-meus-pedidos .period-from label,
#page-painel-meus-pedidos .period-to label {
	display:inline;
	float:left;
}
#page-painel-meus-pedidos .orders-search-form label span {
	display:inline;
	margin:0 0 0 4px;
	vertical-align:-6px;
	font-size:11px;
	color:#AFAEAE;
}
#page-painel-meus-pedidos input.order-id {}
#page-painel-meus-pedidos input.period-from,
#page-painel-meus-pedidos input.period-to {
	width:70px;
}
#page-painel-meus-pedidos input.tracking-code {}

/* ORDERS LISTING */
#page-painel-meus-pedidos .orders-listing-wrapper {
	margin:5px 0 0;
	padding:0;
	border:1px solid #D6D6D6;
	margin-bottom:10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-clear:both;
}
#page-painel-meus-pedidos table.orders-listing {
	width:100%;
	border-spacing:0px 0px;
}
#page-painel-meus-pedidos table.orders-listing span.new-order {
	background:$base-color-1;
	color:white;
	padding:3px 4px;
	font-size:11px;
	margin-left:6px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}