#page-popup-cliente-invoice .container {
	width: 800px;
	font-size: 15px; 
}

/* table *********************************************/
#page-popup-cliente-invoice .container table {
	border-collapse: collapse;
	width: 100%;
}

#page-popup-cliente-invoice .container td {
	border: 1px solid #000;
}

#page-paine-cliente-invoice .container .clear-border-top tr:first-child td {
	border-top: none;
}

/* text **********************************************/
#page-popup-cliente-invoice .container h1 {
	display: inline;
	float: none;
	font-size: 24px;
	font-weight: normal;
}

#page-popup-cliente-invoice .container h2 {
	margin: 0;
	padding: 0;
}

#page-popup-cliente-invoice .container .order-number {
	$bold;
}

#page-popup-cliente-invoice .container strong {
	display: block;
	font-weight: normal;
}

#page-popup-cliente-invoice .container span {
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#page-popup-cliente-invoice .container .align-top {
	vertical-align: top;
}

#page-popup-cliente-invoice .container .align-right {
	text-align: right;
}

#page-popup-cliente-invoice .container .list-of-products,
#page-popup-cliente-invoice .container .signature-date {
	text-align: center;
}

#page-popup-cliente-invoice .container .signature-date .chinese-text {
	float: none;
}

#page-popup-cliente-invoice .container .list-of-products .chinese-text {
	float: none;
}

/* chinese text ************************************** /
.chinese-text {
	background: url(../_IMG/INVOICE/invoice_chinese_text.gif) no-repeat;
	height: 30px;
	float: right;
}

h2 img.chinese-text {
	display: inline;
	float: none;
	height: 40px;
	width: 120px;
}
.chinese-text.airway-bill {
	background-position: 0 -40px;
	width: 60px;
}
.chinese-text.date-exportation {
	background-position: 0 -70px;
	width: 80px;
}
.chinese-text.shipper {
	background-position: 0 -100px;
	width: 60px;
}
.chinese-text.consignee {
	background-position: 0 -130px;
	width: 60px;
}
.chinese-text.number-packages {
	background-position: 0 -160px;
	width: 40px;
}
.chinese-text.description {
	background-position: 0 -190px;
	width: 40px;
}
.chinese-text.quantity {
	background-position: 0 -220px;
	width: 40px;
}
.chinese-text.unit-value {
	background-position: 0 -250px;
	width: 40px;
}
.chinese-text.total-value {
	background-position: 0 -280px;
	width: 40px;
}
.chinese-text.total-number-packages {
	background-position: 0 -310px;
	width: 60px;
}
.chinese-text.total-invoice-value {
	background-position: 0 -340px;
	width: 60px;
}
.chinese-text.signature-stamp {
	background-position: 0 -370px;
	width: 140px;
}
.chinese-text.date {
	background-position: 0 -400px;
	width: 80px;
}*/