/* CHECK-OUT STEPS */
.check-out .steps {
	display: none;
	overflow:hidden;
	padding: 10px 0;
	border-bottom:1px solid #aaa;
}
.check-out .steps li {
	position: relative;
	display:block;
	float:left;
	width:24.5%;
	padding:0;
	margin: 0;
	height: 46px;
	color:#ccc;
}
.check-out .steps li > div {
	padding:0 10px;
}
.check-out .steps li span {
	display:inline-block;
	width:42px;
	height:42px;
	line-height:42px;
	font-size:24px;
	text-align:center;
	vertical-align:middle;
	background:#b8b8b8;
	color:#fff;

	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.check-out .steps li strong {
	position: absolute;
	top: 0;
	left: 60px;
	display: block;
	font-weight:normal;
	font-size:15px;
	color: #999;
	white-space: nowrap;
}
.check-out .steps li small {
	position: absolute;
	top: 20px;
	left: 60px;
	font-size:11px;
	color: #c1c1c1;
}

/* CURRENT */
.check-out .steps li.current {}
.check-out .steps li.current span {
	background: $base-color-2;
	color:#fff;
}
.check-out .steps li.current strong {
	color:#000;	
}
.check-out .steps li.current small {
	display:block;
	color: #636363;
}