/* CARRINHO */
#page-carrinho .msie6 .cart table * {
	zoom:1;
}
#page-carrinho .msie6 .pobox-search {
	width:96px !important;
	font-size:10px !important;
}
.msie6 .check-out-buttons .btn-alt {
	display:block !important;
	float:left !important;
	width:160px;
}
.msie6 .send-btn {
	position:static !important;
}
.msie6 .check-out .steps li div small {
	line-height:1.5em;
}
.msie6 .cart {
	position:relative;
}
#page-carrinho .msie6 .info {
	padding:5px 0 0 0;
	zoom:1;
	width:99.5%;
}
#page-carrinho .msie6 .check-out .secure-site {
	position:absolute;
	zoom:1;
	top:5px;
	left:5px;
	float:none;
	width:320px;
	height:40px;
	overflow:hidden;
	margin:0;
}
#page-carrinho .msie6 .send-btn {
	zoom:1;
	width:500px;
	position:relative;
}
#page-carrinho .msie6 .send-btn input {
	zoom:1;
	position:static;
	float:left;
	display:block;
}
#page-carrinho .msie6 .contact {
	zoom:1;
}
#page-carrinho .msie6 .contact .help {
	zoom:1;
	width:450px;
	float:left;
}
#page-carrinho .msie6 .contact p {
	clear:left;
}
#page-carrinho .msie6 .check-out .product img {
	zoom:1;
	display:block;
}
#page-carrinho .msie6 .remove .btn-alt {
	width:18px;
}
#page-carrinho .msie6 .search-for-pobox small {
	border:0 none;
}
.msie6 .browsing-history .content ul li {
	float:left;
	width:32%;
}
.msie6 .check-out .steps li div {
	padding:6px;
}
.msie6 .breadcrumb a,
.msie6 .breadcrumb span,
.msie6 .breadcrumb h1 {
	zoom:1;
	display:block;
	float:left;
	margin-left:3px;
}